In [7]:
import pandas as pd

routes = pd.read_csv('../OpenTransitDelhiBuses/routes.txt')
stop_times = pd.read_csv('../OpenTransitDelhiBuses/stop_times.txt')
stops = pd.read_csv('../OpenTransitDelhiBuses/stops.txt')
trips = pd.read_csv('../OpenTransitDelhiBuses/trips.txt')

In [8]:
print('routes')
display(routes.head())

print('stop_times')
display(stop_times.head())

print('stops')
display(stops.head())

print('trips')
display(trips.head())

routes

  agency_id  route_id route_long_name  route_short_name  route_type
0     DIMTS       142          828AUP               NaN           3
1     DIMTS     10001         971DOWN               NaN           3
2     DIMTS       362         961DOWN               NaN           3
3     DIMTS       274         819DOWN               NaN           3
4     DIMTS     10386     824STLDOWN2               NaN           3

stop_times

     trip_id arrival_time departure_time  stop_id  stop_sequence
0  142_12_50     12:50:00       12:50:00      146              0
1  142_12_50     12:51:11       12:51:11      148              1
2  142_12_50     12:52:49       12:52:49      149              2
3  142_12_50     12:53:54       12:53:54      488              3
4  142_12_50     12:55:44       12:55:44      233              4

stops

,stop_code,stop_id,stop_lat,stop_lon,stop_name,zone_id
0,DC4539,0,28.851958,77.088107,Narela Terminal,0
1,DC4540,1,28.853311,77.088548,Police Station Narela,1
2,DC4541,2,28.854965,77.089322,Safiyabad Crossing,2
3,DC4542,3,28.857713,77.092846,Ramdev Chowk / Pitori Johad,3
4,DC4543,4,28.857684,77.097117,Narela A-6 / CPJ College,4

trips

   route_id  service_id    trip_id  shape_id
0       142           1  142_12_50       NaN
1       142           1  142_11_17       NaN
2       142           1  142_09_14       NaN
3       142           1  142_14_00       NaN
4       142           1  142_10_44       NaN

In [9]:
# trips = trips.sort_values(by=['trip_id'])
trips_prep = trips.drop(['shape_id'],axis=1)
stops_prep = stops.copy()
stop_times_prep = stop_times.copy()
routes_prep = routes.drop(['route_short_name'],axis=1)

In [10]:
stop_times_prep[stop_times_prep['trip_id']=='142_12_50']

      trip_id arrival_time departure_time  stop_id  stop_sequence
0   142_12_50     12:50:00       12:50:00      146              0
1   142_12_50     12:51:11       12:51:11      148              1
2   142_12_50     12:52:49       12:52:49      149              2
3   142_12_50     12:53:54       12:53:54      488              3
4   142_12_50     12:55:44       12:55:44      233              4
5   142_12_50     12:57:10       12:57:10      915              5
6   142_12_50     12:58:43       12:58:43      916              6
7   142_12_50     13:00:46       13:00:46     2161              7
8   142_12_50     13:04:51       13:04:51     2162              8
9   142_12_50     13:06:08       13:06:08     3569              9
10  142_12_50     13:10:54       13:10:54     2163             10
11  142_12_50     13:13:05       13:13:05     2164             11
12  142_12_50     13:17:24       13:17:24     2165             12
13  142_12_50     13:24:09       13:24:09     2166             13
14  142_12_50     13:27:13       13:27:13     2167             14
15  142_12_50     13:31:20       13:31:20     2168             15
16  142_12_50     13:37:36       13:37:36     2169             16
17  142_12_50     13:39:44       13:39:44     2170             17
18  142_12_50     13:41:39       13:41:39     2171             18
19  142_12_50     13:43:55       13:43:55     2172             19
20  142_12_50     13:45:44       13:45:44     2173             20
21  142_12_50     13:48:21       13:48:21     2174             21
22  142_12_50     13:54:41       13:54:41     2175             22
23  142_12_50     13:57:43       13:57:43     2176             23
24  142_12_50     13:58:58       13:58:58     2177             24

In [11]:
def fix_invalid_time(time_str):
    """Fix time strings where hours exceed 23 by rolling over to the next day."""
    try:
        h, m, s = map(int, time_str.split(':'))
        if h >= 24:
            h = h % 24  # Convert 24+ hours to valid format
        return f"{h:02}:{m:02}:{s:02}"
    except ValueError:
        return None

# calculate the dwell time
stop_times_prep['arrival_time'] = stop_times_prep['arrival_time'].astype(str).apply(fix_invalid_time)
stop_times_prep['departure_time'] = stop_times_prep['departure_time'].astype(str).apply(fix_invalid_time)

stop_times_prep['arrival_time'] = pd.to_datetime(stop_times_prep['arrival_time'], format='%H:%M:%S')
stop_times_prep['departure_time'] = pd.to_datetime(stop_times_prep['departure_time'], format='%H:%M:%S')
stop_times_prep['dwell_time'] = (stop_times_prep['departure_time'] - stop_times_prep['arrival_time']).dt.total_seconds()

# get the hour
stop_times_prep['hour'] = stop_times_prep['arrival_time'].dt.hour

In [ ]:
# get distance between stops
stop_times_prep['distance_between_stops'] = stop_times_prep.groupby('trip_id')['shape_dist_traveled'].diff().fillna(0)
stop_times_prep

In [13]:
stop_times_prep.stop_id.unique()

array([  146,   148,   149, ..., 13407, 11745, 22704], dtype=int64)

In [14]:
# remove date from arrival time and departure time
stop_times_prep['arrival_time'] = stop_times_prep['arrival_time'].dt.time
stop_times_prep['departure_time'] = stop_times_prep['departure_time'].dt.time

# remove unwanted columns
# stop_times_prep = stop_times_prep.drop(['pickup_type','drop_off_type','timepoint'],axis=1)

# add route id and service id to dataset
stop_times_prep = stop_times_prep.merge(trips[['route_id', 'service_id', 'trip_id']], on='trip_id', how='left')

stop_times_prep

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,dwell_time,hour,route_id,service_id
0,142_12_50,12:50:00,12:50:00,146,0,0.0,12,142,1
1,142_12_50,12:51:11,12:51:11,148,1,0.0,12,142,1
2,142_12_50,12:52:49,12:52:49,149,2,0.0,12,142,1
3,142_12_50,12:53:54,12:53:54,488,3,0.0,12,142,1
4,142_12_50,12:55:44,12:55:44,233,4,0.0,12,142,1
...,...,...,...,...,...,...,...,...,...
3724315,674_05_16,06:43:50,06:43:50,166,35,0.0,6,674,1
3724316,674_05_16,06:44:42,06:44:42,167,36,0.0,6,674,1
3724317,674_05_16,06:46:37,06:46:37,168,37,0.0,6,674,1
3724318,674_05_16,06:48:14,06:48:14,169,38,0.0,6,674,1
3724319,674_05_16,06:51:36,06:51:36,706,39,0.0,6,674,1

In [15]:
stops

,stop_code,stop_id,stop_lat,stop_lon,stop_name,zone_id
0,DC4539,0,28.851958,77.088107,Narela Terminal,0
1,DC4540,1,28.853311,77.088548,Police Station Narela,1
2,DC4541,2,28.854965,77.089322,Safiyabad Crossing,2
3,DC4542,3,28.857713,77.092846,Ramdev Chowk / Pitori Johad,3
4,DC4543,4,28.857684,77.097117,Narela A-6 / CPJ College,4
...,...,...,...,...,...,...
10554,247F0F67,22753,28.583989,77.327651,Noida Sector 20 Poilce Station,22753
10555,7187C89B,22754,28.582006,77.324835,Staff Quarter,22754
10556,4D05E2EB,22755,28.602100,77.322206,Vasundhra Enclave Sports Complex,22755
10557,69DFCF3D,22756,28.600819,77.326879,Mayur Vihar Phase-3 Xing BRD,22756
10558,0CDDEBF2,22757,28.594366,77.332646,Noida Sector 12,22757

In [16]:
interconnected_routes = stop_times_prep.groupby('stop_id')['route_id'].nunique()
interconnected_stops = interconnected_routes[interconnected_routes > 1].index
interconnected_routes_data = stop_times_prep[stop_times_prep['stop_id'].isin(interconnected_stops)]

interconnected_routes_data

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,dwell_time,hour,route_id,service_id
0,142_12_50,12:50:00,12:50:00,146,0,0.0,12,142,1
1,142_12_50,12:51:11,12:51:11,148,1,0.0,12,142,1
2,142_12_50,12:52:49,12:52:49,149,2,0.0,12,142,1
3,142_12_50,12:53:54,12:53:54,488,3,0.0,12,142,1
4,142_12_50,12:55:44,12:55:44,233,4,0.0,12,142,1
...,...,...,...,...,...,...,...,...,...
3724315,674_05_16,06:43:50,06:43:50,166,35,0.0,6,674,1
3724316,674_05_16,06:44:42,06:44:42,167,36,0.0,6,674,1
3724317,674_05_16,06:46:37,06:46:37,168,37,0.0,6,674,1
3724318,674_05_16,06:48:14,06:48:14,169,38,0.0,6,674,1
3724319,674_05_16,06:51:36,06:51:36,706,39,0.0,6,674,1

In [17]:
bus_data =  interconnected_routes_data.copy()
bus_data = bus_data.merge(stops[['stop_id', 'stop_lat', 'stop_lon']], on='stop_id', how='left')
bus_data

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,dwell_time,hour,route_id,service_id,stop_lat,stop_lon
0,142_12_50,12:50:00,12:50:00,146,0,0.0,12,142,1,28.614614,76.978024
1,142_12_50,12:51:11,12:51:11,148,1,0.0,12,142,1,28.614481,76.981062
2,142_12_50,12:52:49,12:52:49,149,2,0.0,12,142,1,28.614150,76.985217
3,142_12_50,12:53:54,12:53:54,488,3,0.0,12,142,1,28.611746,76.985721
4,142_12_50,12:55:44,12:55:44,233,4,0.0,12,142,1,28.610319,76.981338
...,...,...,...,...,...,...,...,...,...,...,...
3669612,674_05_16,06:43:50,06:43:50,166,35,0.0,6,674,1,28.620876,77.049338
3669613,674_05_16,06:44:42,06:44:42,167,36,0.0,6,674,1,28.621124,77.051543
3669614,674_05_16,06:46:37,06:46:37,168,37,0.0,6,674,1,28.621946,77.056321
3669615,674_05_16,06:48:14,06:48:14,169,38,0.0,6,674,1,28.623017,77.060310
3669616,674_05_16,06:51:36,06:51:36,706,39,0.0,6,674,1,28.626011,77.068195

In [42]:
bus_data.route_id.value_counts()

route_id
5722     20352
5721     18762
5254     16320
5431     13720
5895     13694
         ...
1523        12
10520       11
1667         6
10612        5
10576        4
Name: count, Length: 2403, dtype: int64

In [ ]:
bus_data

array([  142, 10001,   362, ...,  6001, 10669, 10670], dtype=int64)

In [23]:
# filter out 3 routes
bus_data_1 = bus_data.copy()
bus_data_1 = bus_data_1[bus_data_1['route_id'].isin([5721 , 5722 , 5254])]

bus_data_1

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,dwell_time,hour,route_id,service_id,stop_lat,stop_lon
2203828,5254_11_40,11:40:00,11:40:00,12722,0,0.0,11,5254,1,28.674286,77.287117
2203829,5254_11_40,11:41:47,11:41:47,10100,1,0.0,11,5254,1,28.673043,77.282749
2203830,5254_11_40,11:43:10,11:43:10,10101,2,0.0,11,5254,1,28.670400,77.280900
2203831,5254_11_40,11:44:25,11:44:25,10102,3,0.0,11,5254,1,28.667850,77.282250
2203832,5254_11_40,11:44:25,11:44:25,10102,4,0.0,11,5254,1,28.667850,77.282250
...,...,...,...,...,...,...,...,...,...,...,...
3131571,5722_19_48,21:33:37,21:33:37,14425,60,0.0,21,5722,1,28.659391,77.318398
3131572,5722_19_48,21:39:05,21:39:05,10060,61,0.0,21,5722,1,28.647061,77.317903
3131573,5722_19_48,21:40:48,21:40:48,11475,62,0.0,21,5722,1,28.643371,77.316656
3131574,5722_19_48,21:41:31,21:41:31,11214,63,0.0,21,5722,1,28.641950,77.315817
3131575,5722_19_48,21:43:29,21:43:29,10717,64,0.0,21,5722,1,28.646328,77.314904

In [24]:
# calculate the travel time 
bus_data_2 = bus_data_1.copy()
bus_data_2 = bus_data_2.sort_values(by=['trip_id', 'stop_sequence'])

bus_data_2['arrival_time'] = pd.to_datetime(bus_data_2['arrival_time'], format='%H:%M:%S')
bus_data_2['travel_time'] = bus_data_2.groupby('trip_id')['arrival_time'].diff().dt.total_seconds()
bus_data_2['arrival_time'] = bus_data_2['arrival_time'].dt.time
# bus_data_2['travel_time'] = bus_data_2.groupby('trip_id')['travel_time'].apply(lambda x: x.fillna(0))
bus_data_2['travel_time'].fillna(0, inplace=True)
bus_data_2

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10876\2203721219.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  bus_data_2['travel_time'].fillna(0, inplace=True)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,dwell_time,hour,route_id,service_id,stop_lat,stop_lon,travel_time
2211688,5254_04_50,04:50:00,04:50:00,12722,0,0.0,4,5254,1,28.674286,77.287117,0.0
2211689,5254_04_50,04:51:47,04:51:47,10100,1,0.0,4,5254,1,28.673043,77.282749,107.0
2211690,5254_04_50,04:53:10,04:53:10,10101,2,0.0,4,5254,1,28.670400,77.280900,83.0
2211691,5254_04_50,04:54:25,04:54:25,10102,3,0.0,4,5254,1,28.667850,77.282250,75.0
2211692,5254_04_50,04:54:25,04:54:25,10102,4,0.0,4,5254,1,28.667850,77.282250,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3129843,5722_22_32,00:17:37,00:17:37,14425,60,0.0,0,5722,1,28.659391,77.318398,56.0
3129844,5722_22_32,00:23:05,00:23:05,10060,61,0.0,0,5722,1,28.647061,77.317903,328.0
3129845,5722_22_32,00:24:48,00:24:48,11475,62,0.0,0,5722,1,28.643371,77.316656,103.0
3129846,5722_22_32,00:25:31,00:25:31,11214,63,0.0,0,5722,1,28.641950,77.315817,43.0
3129847,5722_22_32,00:27:29,00:27:29,10717,64,0.0,0,5722,1,28.646328,77.314904,118.0

In [25]:
from geopy.distance import geodesic

bus_data_3 = bus_data_2.copy()
def compute_distance(group):
    distances = [0]  
    for i in range(1, len(group)):
        coords_prev = (group.iloc[i-1]['stop_lat'], group.iloc[i-1]['stop_lon'])
        coords_curr = (group.iloc[i]['stop_lat'], group.iloc[i]['stop_lon'])
        distance = geodesic(coords_prev, coords_curr).meters
        distances.append(distance)
    group['distance_between_stops'] = distances
    return group

bus_data_3 = bus_data_3.groupby('trip_id', group_keys=False).apply(compute_distance)
bus_data_3

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10876\2622641925.py:14: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  bus_data_3 = bus_data_3.groupby('trip_id', group_keys=False).apply(compute_distance)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,dwell_time,hour,route_id,service_id,stop_lat,stop_lon,travel_time,distance_between_stops
2211688,5254_04_50,04:50:00,04:50:00,12722,0,0.0,4,5254,1,28.674286,77.287117,0.0,0.000000
2211689,5254_04_50,04:51:47,04:51:47,10100,1,0.0,4,5254,1,28.673043,77.282749,107.0,448.627344
2211690,5254_04_50,04:53:10,04:53:10,10101,2,0.0,4,5254,1,28.670400,77.280900,83.0,344.221128
2211691,5254_04_50,04:54:25,04:54:25,10102,3,0.0,4,5254,1,28.667850,77.282250,75.0,311.906714
2211692,5254_04_50,04:54:25,04:54:25,10102,4,0.0,4,5254,1,28.667850,77.282250,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3129843,5722_22_32,00:17:37,00:17:37,14425,60,0.0,0,5722,1,28.659391,77.318398,56.0,235.407911
3129844,5722_22_32,00:23:05,00:23:05,10060,61,0.0,0,5722,1,28.647061,77.317903,328.0,1367.391281
3129845,5722_22_32,00:24:48,00:24:48,11475,62,0.0,0,5722,1,28.643371,77.316656,103.0,426.748766
3129846,5722_22_32,00:25:31,00:25:31,11214,63,0.0,0,5722,1,28.641950,77.315817,43.0,177.572319
3129847,5722_22_32,00:27:29,00:27:29,10717,64,0.0,0,5722,1,28.646328,77.314904,118.0,493.356065

In [ ]:
# save the dataset
# bus_data_3.to_csv('../OpenTransitDelhiBuses/delhi_static_bus_data.csv',index=False)

In [26]:
# crete edge dataset
bus_data_4 = bus_data_3.copy()
bus_data_4.sort_values(by=['trip_id', 'stop_sequence'], inplace=True)

# Create edges by shifting stop_id
bus_data_4['next_stop_id'] = bus_data_4.groupby('trip_id')['stop_id'].shift(-1)
bus_data_4['edge_distance'] = bus_data_4.groupby('trip_id')['distance_between_stops'].shift(-1)
bus_data_4['edge_travel_time'] = bus_data_4.groupby('trip_id')['travel_time'].shift(-1)

# Drop rows where next_stop_id is NaN (last stop of each trip)
bus_edges = bus_data_4.dropna(subset=['next_stop_id'])

# Convert next_stop_id to int
bus_edges['next_stop_id'] = bus_edges['next_stop_id'].astype(int)

# Keep relevant columns
bus_edges = bus_edges[['trip_id', 'stop_id', 'next_stop_id', 'edge_distance', 'edge_travel_time']]
bus_edges

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10876\889591600.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bus_edges['next_stop_id'] = bus_edges['next_stop_id'].astype(int)

            trip_id  stop_id  next_stop_id  edge_distance  edge_travel_time
2211688  5254_04_50    12722         10100     448.627344             107.0
2211689  5254_04_50    10100         10101     344.221128              83.0
2211690  5254_04_50    10101         10102     311.906714              75.0
2211691  5254_04_50    10102         10102       0.000000               0.0
2211692  5254_04_50    10102         10104     600.587982             144.0
...             ...      ...           ...            ...               ...
3129842  5722_22_32    10059         14425     235.407911              56.0
3129843  5722_22_32    14425         10060    1367.391281             328.0
3129844  5722_22_32    10060         11475     426.748766             103.0
3129845  5722_22_32    11475         11214     177.572319              43.0
3129846  5722_22_32    11214         10717     493.356065             118.0

[54526 rows x 5 columns]

In [27]:
bus_edges.isna().sum()

trip_id             0
stop_id             0
next_stop_id        0
edge_distance       0
edge_travel_time    0
dtype: int64

In [ ]:
# # save
# bus_edges.to_csv('../OpenTransitDelhiBuses/edge_data.csv',index=False)

In [30]:
# read dataset
import pandas as pd
bus_data_3 = pd.read_csv('../OpenTransitDelhiBuses/delhi_static_bus_data.csv')
bus_data_3

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,dwell_time,hour,route_id,service_id,stop_lat,stop_lon,travel_time,distance_between_stops
0,5254_04_50,04:50:00,04:50:00,12722,0,0.0,4,5254,1,28.674286,77.287117,0.0,0.000000
1,5254_04_50,04:51:47,04:51:47,10100,1,0.0,4,5254,1,28.673043,77.282749,107.0,448.627344
2,5254_04_50,04:53:10,04:53:10,10101,2,0.0,4,5254,1,28.670400,77.280900,83.0,344.221128
3,5254_04_50,04:54:25,04:54:25,10102,3,0.0,4,5254,1,28.667850,77.282250,75.0,311.906714
4,5254_04_50,04:54:25,04:54:25,10102,4,0.0,4,5254,1,28.667850,77.282250,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55429,5722_22_32,00:17:37,00:17:37,14425,60,0.0,0,5722,1,28.659391,77.318398,56.0,235.407911
55430,5722_22_32,00:23:05,00:23:05,10060,61,0.0,0,5722,1,28.647061,77.317903,328.0,1367.391281
55431,5722_22_32,00:24:48,00:24:48,11475,62,0.0,0,5722,1,28.643371,77.316656,103.0,426.748766
55432,5722_22_32,00:25:31,00:25:31,11214,63,0.0,0,5722,1,28.641950,77.315817,43.0,177.572319
55433,5722_22_32,00:27:29,00:27:29,10717,64,0.0,0,5722,1,28.646328,77.314904,118.0,493.356065

In [45]:
bus_data_3.trip_id.unique()

array(['5254_04_50', '5254_05_00', '5254_05_10', '5254_05_19',
       '5254_05_20', '5254_05_25', '5254_05_30', '5254_05_35',
       '5254_05_40', '5254_05_45', '5254_05_50', '5254_06_00',
       '5254_06_01', '5254_06_10', '5254_06_20', '5254_06_25',
       '5254_06_30', '5254_06_40', '5254_06_50', '5254_06_53',
       '5254_06_56', '5254_07_00', '5254_07_10', '5254_07_11',
       '5254_07_12', '5254_07_13', '5254_07_20', '5254_07_25',
       '5254_07_28', '5254_07_29', '5254_07_35', '5254_07_37',
       '5254_07_40', '5254_07_44', '5254_07_45', '5254_07_47',
       '5254_07_50', '5254_07_52', '5254_08_00', '5254_08_05',
       '5254_08_10', '5254_08_13', '5254_08_16', '5254_08_20',
       '5254_08_23', '5254_08_25', '5254_08_28', '5254_08_32',
       '5254_08_36', '5254_08_40', '5254_08_41', '5254_08_44',
       '5254_08_45', '5254_08_48', '5254_08_50', '5254_08_52',
       '5254_08_55', '5254_08_59', '5254_09_00', '5254_09_04',
       '5254_09_08', '5254_09_10', '5254_09_12', '5254_09_13',
       '5254_09_17', '5254_09_20', '5254_09_25', '5254_09_28',
       '5254_09_30', '5254_09_35', '5254_09_36', '5254_09_40',
       '5254_09_44', '5254_09_45', '5254_09_50', '5254_09_52',
       '5254_09_55', '5254_10_00', '5254_10_10', '5254_10_13',
       '5254_10_20', '5254_10_25', '5254_10_28', '5254_10_30',
       '5254_10_36', '5254_10_40', '5254_10_43', '5254_10_44',
       '5254_10_50', '5254_10_52', '5254_11_00', '5254_11_01',
       '5254_11_07', '5254_11_10', '5254_11_16', '5254_11_19',
       '5254_11_20', '5254_11_24', '5254_11_25', '5254_11_30',
       '5254_11_31', '5254_11_32', '5254_11_35', '5254_11_37',
       '5254_11_40', '5254_11_45', '5254_11_48', '5254_11_50',
       '5254_11_55', '5254_12_00', '5254_12_04', '5254_12_05',
       '5254_12_07', '5254_12_08', '5254_12_10', '5254_12_12',
       '5254_12_13', '5254_12_16', '5254_12_20', '5254_12_24',
       '5254_12_25', '5254_12_28', '5254_12_31', '5254_12_32',
       '5254_12_40', '5254_12_48', '5254_12_49', '5254_12_52',
       '5254_13_07', '5254_13_08', '5254_13_10', '5254_13_16',
       '5254_13_19', '5254_13_20', '5254_13_24', '5254_13_25',
       '5254_13_30', '5254_13_32', '5254_13_35', '5254_13_40',
       '5254_13_50', '5254_14_00', '5254_14_07', '5254_14_10',
       '5254_14_15', '5254_14_19', '5254_14_20', '5254_14_30',
       '5254_14_31', '5254_14_40', '5254_14_43', '5254_14_44',
       '5254_14_50', '5254_14_59', '5254_15_00', '5254_15_07',
       '5254_15_10', '5254_15_16', '5254_15_19', '5254_15_20',
       '5254_15_24', '5254_15_30', '5254_15_31', '5254_15_32',
       '5254_15_37', '5254_15_40', '5254_15_44', '5254_15_48',
       '5254_15_50', '5254_15_55', '5254_15_56', '5254_16_00',
       '5254_16_04', '5254_16_07', '5254_16_10', '5254_16_13',
       '5254_16_20', '5254_16_24', '5254_16_30', '5254_16_31',
       '5254_16_32', '5254_16_35', '5254_16_36', '5254_16_40',
       '5254_16_48', '5254_16_49', '5254_16_50', '5254_16_52',
       '5254_16_56', '5254_17_00', '5254_17_05', '5254_17_07',
       '5254_17_10', '5254_17_12', '5254_17_15', '5254_17_16',
       '5254_17_20', '5254_17_24', '5254_17_30', '5254_17_32',
       '5254_17_40', '5254_17_44', '5254_17_45', '5254_17_48',
       '5254_17_50', '5254_17_55', '5254_17_56', '5254_18_00',
       '5254_18_07', '5254_18_10', '5254_18_13', '5254_18_20',
       '5254_18_24', '5254_18_25', '5254_18_30', '5254_18_32',
       '5254_18_34', '5254_18_35', '5254_18_37', '5254_18_40',
       '5254_18_45', '5254_18_48', '5254_18_49', '5254_18_50',
       '5254_18_55', '5254_18_56', '5254_19_01', '5254_19_04',
       '5254_19_05', '5254_19_10', '5254_19_13', '5254_19_14',
       '5254_19_15', '5254_19_20', '5254_19_24', '5254_19_25',
       '5254_19_27', '5254_19_28', '5254_19_35', '5254_19_36',
       '5254_19_45', '5254_19_49', '5254_19_52', '5254_19_55',
       '5254_20_00', '5254_20_01', '5254_20_03', '5254_20_04',
       '5254_20_05', '5254_20_10', '5254_20_12', '5254_20_15',
       '5254_20_16', '5254_20_20', '5254_20_21', '5254_20_24',
       '5254_20_25', '5254_20_28', '5254_20_32', '5254_20_35',
       '5254_20_36', '5254_20_39', '5254_20_44', '5254_20_45',
       '5254_20_52', '5254_20_56', '5254_20_57', '5254_21_12',
       '5254_21_20', '5254_21_28', '5254_21_36', '5254_22_01',
       '5721_04_20', '5721_04_30', '5721_04_40', '5721_04_50',
       '5721_05_00', '5721_05_10', '5721_05_13', '5721_05_20',
       '5721_05_28', '5721_05_30', '5721_05_31', '5721_05_40',
       '5721_05_49', '5721_05_50', '5721_05_52', '5721_05_55',
       '5721_06_00', '5721_06_07', '5721_06_10', '5721_06_15',
       '5721_06_20', '5721_06_25', '5721_06_27', '5721_06_28',
       '5721_06_30', '5721_06_40', '5721_06_43', '5721_06_45',
       '5721_06_50', '5721_06_55', '5721_06_59', '5721_07_00',
       '5721_07_01', '5721_07_04', '5721_07_05', '5721_07_08',
       '5721_07_10', '5721_07_15', '5721_07_19', '5721_07_20',
       '5721_07_25', '5721_07_30', '5721_07_32', '5721_07_35',
       '5721_07_37', '5721_07_40', '5721_07_45', '5721_07_46',
       '5721_07_47', '5721_07_48', '5721_07_55', '5721_07_56',
       '5721_08_04', '5721_08_05', '5721_08_12', '5721_08_15',
       '5721_08_20', '5721_08_25', '5721_08_28', '5721_08_35',
       '5721_08_36', '5721_08_44', '5721_08_45', '5721_08_52',
       '5721_08_55', '5721_08_58', '5721_09_00', '5721_09_03',
       '5721_09_05', '5721_09_07', '5721_09_10', '5721_09_16',
       '5721_09_20', '5721_09_21', '5721_09_22', '5721_09_24',
       '5721_09_25', '5721_09_30', '5721_09_32', '5721_09_35',
       '5721_09_39', '5721_09_40', '5721_09_45', '5721_09_48',
       '5721_09_50', '5721_09_55', '5721_09_57', '5721_09_58',
       '5721_10_00', '5721_10_04', '5721_10_05', '5721_10_08',
       '5721_10_10', '5721_10_12', '5721_10_15', '5721_10_16',
       '5721_10_20', '5721_10_24', '5721_10_28', '5721_10_30',
       '5721_10_32', '5721_10_33', '5721_10_35', '5721_10_40',
       '5721_10_45', '5721_10_48', '5721_10_50', '5721_10_51',
       '5721_10_55', '5721_10_57', '5721_10_58', '5721_11_00',
       '5721_11_05', '5721_11_09', '5721_11_12', '5721_11_15',
       '5721_11_25', '5721_11_27', '5721_11_28', '5721_11_35',
       '5721_11_36', '5721_11_40', '5721_11_44', '5721_11_45',
       '5721_11_50', '5721_11_52', '5721_11_55', '5721_11_58',
       '5721_12_00', '5721_12_05', '5721_12_08', '5721_12_15',
       '5721_12_16', '5721_12_24', '5721_12_25', '5721_12_30',
       '5721_12_32', '5721_12_35', '5721_12_40', '5721_12_45',
       '5721_12_49', '5721_12_50', '5721_12_55', '5721_12_56',
       '5721_13_00', '5721_13_01', '5721_13_03', '5721_13_04',
       '5721_13_05', '5721_13_10', '5721_13_12', '5721_13_15',
       '5721_13_19', '5721_13_20', '5721_13_22', '5721_13_25',
       '5721_13_28', '5721_13_30', '5721_13_34', '5721_13_35',
       '5721_13_40', '5721_13_44', '5721_13_45', '5721_13_46',
       '5721_13_48', '5721_13_50', '5721_13_52', '5721_13_56',
       '5721_13_57', '5721_14_00', '5721_14_04', '5721_14_05',
       '5721_14_08', '5721_14_10', '5721_14_12', '5721_14_15',
       '5721_14_20', '5721_14_22', '5721_14_28', '5721_14_33',
       '5721_14_40', '5721_14_50', '5721_14_51', '5721_14_55',
       '5721_15_00', '5721_15_05', '5721_15_09', '5721_15_10',
       '5721_15_12', '5721_15_15', '5721_15_20', '5721_15_25',
       '5721_15_27', '5721_15_30', '5721_15_35', '5721_15_36',
       '5721_15_40', '5721_15_45', '5721_15_50', '5721_15_52',
       '5721_15_55', '5721_16_00', '5721_16_04', '5721_16_05',
       '5721_16_08', '5721_16_15', '5721_16_16', '5721_16_20',
       '5721_16_22', '5721_16_24', '5721_16_25', '5721_16_30',
       '5721_16_32', '5721_16_35', '5721_16_40', '5721_16_45',
       '5721_16_48', '5721_16_50', '5721_16_52', '5721_16_53',
       '5721_16_56', '5721_17_00', '5721_17_04', '5721_17_05',
       '5721_17_09', '5721_17_10', '5721_17_15', '5721_17_16',
       '5721_17_20', '5721_17_24', '5721_17_28', '5721_17_30',
       '5721_17_34', '5721_17_36', '5721_17_40', '5721_17_45',
       '5721_17_47', '5721_17_50', '5721_17_52', '5721_17_55',
       '5721_18_00', '5721_18_04', '5721_18_05', '5721_18_10',
       '5721_18_12', '5721_18_15', '5721_18_16', '5721_18_20',
       '5721_18_23', '5721_18_24', '5721_18_28', '5721_18_30',
       '5721_18_32', '5721_18_36', '5721_18_40', '5721_18_41',
       '5721_18_44', '5721_18_45', '5721_18_52', '5721_18_55',
       '5721_18_59', '5721_19_00', '5721_19_05', '5721_19_15',
       '5721_19_16', '5721_19_17', '5721_19_25', '5721_19_32',
       '5721_19_35', '5721_19_40', '5721_19_45', '5721_19_48',
       '5721_19_50', '5721_19_52', '5721_19_55', '5721_19_56',
       '5721_19_58', '5721_20_04', '5721_20_05', '5721_20_10',
       '5721_20_12', '5721_20_15', '5721_20_16', '5721_20_20',
       '5721_20_25', '5721_20_28', '5721_20_35', '5721_20_36',
       '5721_20_40', '5721_20_44', '5721_20_50', '5721_20_55',
       '5721_21_00', '5721_21_04', '5721_21_05', '5721_21_08',
       '5721_21_15', '5721_21_16', '5721_21_25', '5721_21_32',
       '5721_21_34', '5721_21_35', '5721_21_38', '5721_21_44',
       '5721_21_45', '5721_21_52', '5721_21_55', '5721_21_56',
       '5721_22_00', '5721_22_04', '5721_22_05', '5721_22_08',
       '5721_22_12', '5721_22_15', '5721_22_16', '5721_22_24',
       '5721_22_25', '5721_22_32', '5722_04_20', '5722_04_30',
       '5722_04_40', '5722_04_50', '5722_05_00', '5722_05_10',
       '5722_05_13', '5722_05_20', '5722_05_28', '5722_05_30',
       '5722_05_31', '5722_05_40', '5722_05_49', '5722_05_50',
       '5722_05_52', '5722_05_55', '5722_06_00', '5722_06_07',
       '5722_06_10', '5722_06_15', '5722_06_20', '5722_06_25',
       '5722_06_27', '5722_06_28', '5722_06_30', '5722_06_40',
       '5722_06_43', '5722_06_45', '5722_06_50', '5722_06_55',
       '5722_06_59', '5722_07_00', '5722_07_01', '5722_07_04',
       '5722_07_05', '5722_07_08', '5722_07_10', '5722_07_15',
       '5722_07_19', '5722_07_20', '5722_07_25', '5722_07_30',
       '5722_07_32', '5722_07_35', '5722_07_37', '5722_07_40',
       '5722_07_45', '5722_07_46', '5722_07_47', '5722_07_48',
       '5722_07_55', '5722_07_56', '5722_08_04', '5722_08_05',
       '5722_08_12', '5722_08_15', '5722_08_20', '5722_08_25',
       '5722_08_28', '5722_08_35', '5722_08_36', '5722_08_44',
       '5722_08_45', '5722_08_52', '5722_08_55', '5722_08_58',
       '5722_09_00', '5722_09_03', '5722_09_05', '5722_09_07',
       '5722_09_10', '5722_09_16', '5722_09_20', '5722_09_21',
       '5722_09_22', '5722_09_24', '5722_09_25', '5722_09_30',
       '5722_09_32', '5722_09_35', '5722_09_39', '5722_09_40',
       '5722_09_45', '5722_09_48', '5722_09_50', '5722_09_55',
       '5722_09_57', '5722_09_58', '5722_10_00', '5722_10_04',
       '5722_10_05', '5722_10_08', '5722_10_10', '5722_10_12',
       '5722_10_15', '5722_10_16', '5722_10_20', '5722_10_24',
       '5722_10_28', '5722_10_30', '5722_10_32', '5722_10_33',
       '5722_10_35', '5722_10_40', '5722_10_45', '5722_10_48',
       '5722_10_50', '5722_10_51', '5722_10_55', '5722_10_57',
       '5722_10_58', '5722_11_00', '5722_11_05', '5722_11_09',
       '5722_11_12', '5722_11_15', '5722_11_25', '5722_11_27',
       '5722_11_28', '5722_11_35', '5722_11_36', '5722_11_40',
       '5722_11_44', '5722_11_45', '5722_11_50', '5722_11_52',
       '5722_11_55', '5722_11_58', '5722_12_00', '5722_12_05',
       '5722_12_08', '5722_12_15', '5722_12_16', '5722_12_24',
       '5722_12_25', '5722_12_30', '5722_12_32', '5722_12_35',
       '5722_12_40', '5722_12_45', '5722_12_49', '5722_12_50',
       '5722_12_55', '5722_12_56', '5722_13_00', '5722_13_01',
       '5722_13_03', '5722_13_04', '5722_13_05', '5722_13_10',
       '5722_13_12', '5722_13_15', '5722_13_19', '5722_13_20',
       '5722_13_22', '5722_13_25', '5722_13_28', '5722_13_30',
       '5722_13_34', '5722_13_35', '5722_13_40', '5722_13_44',
       '5722_13_45', '5722_13_46', '5722_13_48', '5722_13_50',
       '5722_13_52', '5722_13_56', '5722_13_57', '5722_14_00',
       '5722_14_04', '5722_14_05', '5722_14_08', '5722_14_10',
       '5722_14_12', '5722_14_15', '5722_14_20', '5722_14_22',
       '5722_14_28', '5722_14_33', '5722_14_40', '5722_14_50',
       '5722_14_51', '5722_14_55', '5722_15_00', '5722_15_05',
       '5722_15_09', '5722_15_10', '5722_15_12', '5722_15_15',
       '5722_15_20', '5722_15_25', '5722_15_27', '5722_15_30',
       '5722_15_35', '5722_15_36', '5722_15_40', '5722_15_45',
       '5722_15_50', '5722_15_52', '5722_15_55', '5722_16_00',
       '5722_16_04', '5722_16_05', '5722_16_08', '5722_16_15',
       '5722_16_16', '5722_16_20', '5722_16_22', '5722_16_24',
       '5722_16_25', '5722_16_30', '5722_16_32', '5722_16_35',
       '5722_16_40', '5722_16_45', '5722_16_48', '5722_16_50',
       '5722_16_52', '5722_16_53', '5722_16_56', '5722_17_00',
       '5722_17_04', '5722_17_05', '5722_17_09', '5722_17_10',
       '5722_17_15', '5722_17_16', '5722_17_20', '5722_17_24',
       '5722_17_28', '5722_17_30', '5722_17_34', '5722_17_36',
       '5722_17_40', '5722_17_45', '5722_17_47', '5722_17_50',
       '5722_17_52', '5722_17_55', '5722_18_00', '5722_18_04',
       '5722_18_05', '5722_18_10', '5722_18_12', '5722_18_15',
       '5722_18_16', '5722_18_20', '5722_18_23', '5722_18_24',
       '5722_18_28', '5722_18_30', '5722_18_32', '5722_18_36',
       '5722_18_40', '5722_18_41', '5722_18_44', '5722_18_45',
       '5722_18_52', '5722_18_55', '5722_18_59', '5722_19_00',
       '5722_19_05', '5722_19_15', '5722_19_16', '5722_19_17',
       '5722_19_25', '5722_19_32', '5722_19_35', '5722_19_40',
       '5722_19_45', '5722_19_48', '5722_19_50', '5722_19_52',
       '5722_19_55', '5722_19_56', '5722_19_58', '5722_20_04',
       '5722_20_05', '5722_20_10', '5722_20_12', '5722_20_15',
       '5722_20_16', '5722_20_20', '5722_20_25', '5722_20_28',
       '5722_20_35', '5722_20_36', '5722_20_40', '5722_20_44',
       '5722_20_50', '5722_20_55', '5722_21_00', '5722_21_04',
       '5722_21_05', '5722_21_08', '5722_21_15', '5722_21_16',
       '5722_21_25', '5722_21_32', '5722_21_34', '5722_21_35',
       '5722_21_38', '5722_21_44', '5722_21_45', '5722_21_52',
       '5722_21_55', '5722_21_56', '5722_22_00', '5722_22_04',
       '5722_22_05', '5722_22_08', '5722_22_12', '5722_22_15',
       '5722_22_16', '5722_22_24', '5722_22_25', '5722_22_32'],
      dtype=object)

In [32]:
route_5254 = bus_data_3[bus_data_3['route_id']==5254]
route_5721 = bus_data_3[bus_data_3['route_id']==5721]
route_5722 = bus_data_3[bus_data_3['route_id']==5722]

In [ ]:
route_5254['trip_id'] = route_5254['trip_id'].str.split('_', n=1).str[1]
route_5721['trip_id'] = route_5721['trip_id'].str.split('_', n=1).str[1]
route_5722['trip_id'] = route_5722['trip_id'].str.split('_', n=1).str[1]

In [51]:
common_values = set(route_5722['trip_id']) & set(route_5721['trip_id']) & set(route_5254['trip_id'])
len(common_values)

138

In [53]:
# filter datasets
route_5722 = route_5722[route_5722['trip_id'].isin(common_values)]
route_5721 = route_5721[route_5721['trip_id'].isin(common_values)]
route_5254 = route_5254[route_5254['trip_id'].isin(common_values)]

In [54]:
# encode trip ids
all_trip_ids = pd.concat([route_5722['trip_id'], route_5721['trip_id'], route_5254['trip_id']]).unique()
trip_id_map = {trip_id: idx for idx, trip_id in enumerate(all_trip_ids)}

route_5722['encoded_trip_id'] = route_5722['trip_id'].map(trip_id_map)
route_5721['encoded_trip_id'] = route_5721['trip_id'].map(trip_id_map)
route_5254['encoded_trip_id'] = route_5254['trip_id'].map(trip_id_map)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10876\1808504741.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  route_5722['encoded_trip_id'] = route_5722['trip_id'].map(trip_id_map)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_10876\1808504741.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  route_5254['encoded_trip_id'] = route_5254['trip_id'].map(trip_id_map)

In [ ]:
# # save dataset
# route_5254.to_csv('../OpenTransitDelhiBuses/route_5254.csv',index=False)
# route_5721.to_csv('../OpenTransitDelhiBuses/route_5721.csv',index=False)
# route_5722.to_csv('../OpenTransitDelhiBuses/route_5722.csv',index=False)

In [58]:
bus_edges['route_id'] = bus_edges['trip_id'].str.split('_').str[0].astype(int)

bus_edges_5254 = bus_edges[bus_edges['route_id'] == 5254]
bus_edges_5722 = bus_edges[bus_edges['route_id'] == 5722]
bus_edges_5721 = bus_edges[bus_edges['route_id'] == 5721]

In [ ]:
# encode the trip id
bus_edges_5722 = bus_edges_5722[bus_edges_5722['trip_id'].isin(common_values)]
bus_edges_5721 = bus_edges_5721[bus_edges_5721['trip_id'].isin(common_values)]
bus_edges_5254 = bus_edges_5254[bus_edges_5254['trip_id'].isin(common_values)]

bus_edges_5254['trip_id'] = bus_edges_5254['trip_id'].str.split('_', n=1).str[1]
bus_edges_5721['trip_id'] = bus_edges_5721['trip_id'].str.split('_', n=1).str[1]
bus_edges_5722['trip_id'] = bus_edges_5722['trip_id'].str.split('_', n=1).str[1]

bus_edges_5254['encoded_trip_id'] = bus_edges_5254['trip_id'].map(trip_id_map)
bus_edges_5722['encoded_trip_id'] = bus_edges_5722['trip_id'].map(trip_id_map)
bus_edges_5721['encoded_trip_id'] = bus_edges_5721['trip_id'].map(trip_id_map)

In [68]:
bus_edges_5254.isna().sum()

trip_id             0
stop_id             0
next_stop_id        0
edge_distance       0
edge_travel_time    0
route_id            0
encoded_trip_id     0
dtype: int64

In [ ]:
# # save dataset
# bus_edges_5254.to_csv('../OpenTransitDelhiBuses/bus_edges_5254.csv',index=False)
# bus_edges_5721.to_csv('../OpenTransitDelhiBuses/bus_edges_5721.csv',index=False)
# bus_edges_5722.to_csv('../OpenTransitDelhiBuses/bus_edges_5722.csv',index=False)

In [70]:
route_5254

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,dwell_time,hour,route_id,service_id,stop_lat,stop_lon,travel_time,distance_between_stops,encoded_trip_id
0,04_50,04:50:00,04:50:00,12722,0,0.0,4,5254,1,28.674286,77.287117,0.0,0.000000,0
1,04_50,04:51:47,04:51:47,10100,1,0.0,4,5254,1,28.673043,77.282749,107.0,448.627344,0
2,04_50,04:53:10,04:53:10,10101,2,0.0,4,5254,1,28.670400,77.280900,83.0,344.221128,0
3,04_50,04:54:25,04:54:25,10102,3,0.0,4,5254,1,28.667850,77.282250,75.0,311.906714,0
4,04_50,04:54:25,04:54:25,10102,4,0.0,4,5254,1,28.667850,77.282250,0.0,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15775,20_44,22:25:55,22:25:55,12725,55,0.0,22,5254,1,28.560350,77.164417,110.0,460.631233,137
15776,20_44,22:27:13,22:27:13,12726,56,0.0,22,5254,1,28.560417,77.161100,78.0,324.647832,137
15777,20_44,22:28:43,22:28:43,12727,57,0.0,22,5254,1,28.559967,77.157317,90.0,373.505537,137
15778,20_44,22:29:21,22:29:21,12728,58,0.0,22,5254,1,28.558700,77.158117,38.0,160.764971,137
15779,20_44,22:32:28,22:32:28,12729,59,0.0,22,5254,1,28.554792,77.164694,187.0,775.740965,137