### Preprocessing

In [19]:
# read dataset and select routes having less missing values
import pandas as pd

nyc_06 = pd.read_csv("../NYC-Bus Data/cleaned_mta_1706.csv")
nyc_08 = pd.read_csv("../NYC-Bus Data/cleaned_mta_1708.csv")
nyc_10 = pd.read_csv("../NYC-Bus Data/cleaned_mta_1710.csv")
nyc_12 = pd.read_csv("../NYC-Bus Data/cleaned_mta_1712.csv")

In [20]:
nyc_06.dtypes

RecordedAtTime                object
DirectionRef                   int64
PublishedLineName             object
OriginName                    object
OriginLat                    float64
OriginLong                   float64
DestinationName               object
DestinationLat               float64
DestinationLong              float64
VehicleRef                    object
VehicleLocation.Latitude     float64
VehicleLocation.Longitude    float64
NextStopPointName             object
ArrivalProximityText          object
DistanceFromStop             float64
ExpectedArrivalTime           object
ScheduledArrivalTime          object
dtype: object

In [21]:
# create vehicle id
vehicle_ref_map = {vehicle: idx for idx, vehicle in enumerate(nyc_06['VehicleRef'].unique())}

for df2 in [nyc_08,nyc_10,nyc_12]:
    new_vehicle_refs = set(df2['VehicleRef'].unique()) - set(vehicle_ref_map.keys())
    # Update the map by adding new VehicleRef values with new encoded values
    for vehicle_ref in new_vehicle_refs:
        vehicle_ref_map[vehicle_ref] = len(vehicle_ref_map)

vehicle_ref_map

{'NYCT_430': 0,
 'NYCT_8263': 1,
 'NYCT_4223': 2,
 'NYCT_8422': 3,
 'NYCT_4710': 4,
 'NYCT_3831': 5,
 'NYCT_4611': 6,
 'NYCT_4841': 7,
 'NYCT_6592': 8,
 'NYCT_8279': 9,
 'NYCT_8334': 10,
 'NYCT_7141': 11,
 'NYCT_6503': 12,
 'NYCT_4723': 13,
 'NYCT_5131': 14,
 'NYCT_274': 15,
 'NYCT_7766': 16,
 'NYCT_6678': 17,
 'NYCT_8408': 18,
 'NYCT_3988': 19,
 'NYCT_7158': 20,
 'NYCT_445': 21,
 'NYCT_5642': 22,
 'NYCT_1280': 23,
 'NYCT_7379': 24,
 'NYCT_342': 25,
 'NYCT_4394': 26,
 'NYCT_6372': 27,
 'NYCT_251': 28,
 'NYCT_3870': 29,
 'NYCT_5139': 30,
 'NYCT_5851': 31,
 'NYCT_399': 32,
 'NYCT_7260': 33,
 'NYCT_714': 34,
 'NYCT_2656': 35,
 'NYCT_7094': 36,
 'NYCT_4548': 37,
 'NYCT_7738': 38,
 'NYCT_4671': 39,
 'NYCT_4792': 40,
 'NYCT_5716': 41,
 'NYCT_4122': 42,
 'NYCT_7104': 43,
 'NYCT_5693': 44,
 'NYCT_5568': 45,
 'NYCT_5685': 46,
 'NYCT_5942': 47,
 'NYCT_6756': 48,
 'NYCT_7366': 49,
 'NYCT_4718': 50,
 'NYCT_5999': 51,
 'NYCT_5673': 52,
 'NYCT_4062': 53,
 'NYCT_8134': 54,
 'NYCT_6597': 55,
 'NYCT_230': 56,
 'NYCT_4185': 57,
 'NYCT_2575': 58,
 'NYCT_8341': 59,
 'NYCT_6577': 60,
 'NYCT_276': 61,
 'NYCT_4574': 62,
 'NYCT_5067': 63,
 'NYCT_5700': 64,
 'NYCT_7662': 65,
 'NYCT_7587': 66,
 'NYCT_5956': 67,
 'NYCT_4825': 68,
 'NYCT_4452': 69,
 'NYCT_5612': 70,
 'NYCT_5124': 71,
 'NYCT_6817': 72,
 'NYCT_7111': 73,
 'NYCT_6414': 74,
 'NYCT_6802': 75,
 'NYCT_5856': 76,
 'NYCT_4344': 77,
 'NYCT_4365': 78,
 'NYCT_753': 79,
 'NYCT_5235': 80,
 'NYCT_4963': 81,
 'NYCT_4603': 82,
 'NYCT_2660': 83,
 'NYCT_275': 84,
 'NYCT_5545': 85,
 'NYCT_478': 86,
 'NYCT_3853': 87,
 'NYCT_4989': 88,
 'NYCT_6873': 89,
 'NYCT_4751': 90,
 'NYCT_707': 91,
 'NYCT_7105': 92,
 'NYCT_7088': 93,
 'NYCT_5930': 94,
 'NYCT_4429': 95,
 'NYCT_5668': 96,
 'NYCT_4775': 97,
 'NYCT_4768': 98,
 'NYCT_7414': 99,
 'NYCT_6622': 100,
 'NYCT_7024': 101,
 'NYCT_8353': 102,
 'NYCT_7410': 103,
 'NYCT_367': 104,
 'NYCT_386': 105,
 'NYCT_1213': 106,
 'NYCT_8444': 107,
 'NYCT_4774': 108,
 'NYCT_7656': 109,
 'NYCT_4898': 110,
 'NYCT_4617': 111,
 'NYCT_8350': 112,
 'NYCT_8119': 113,
 'NYCT_5562': 114,
 'NYCT_8417': 115,
 'NYCT_3811': 116,
 'NYCT_404': 117,
 'NYCT_4556': 118,
 'NYCT_7356': 119,
 'NYCT_711': 120,
 'NYCT_5758': 121,
 'NYCT_4688': 122,
 'NYCT_7234': 123,
 'NYCT_8475': 124,
 'NYCT_5915': 125,
 'NYCT_374': 126,
 'NYCT_364': 127,
 'NYCT_4660': 128,
 'NYCT_6819': 129,
 'NYCT_5945': 130,
 'NYCT_4980': 131,
 'NYCT_281': 132,
 'NYCT_4797': 133,
 'NYCT_8115': 134,
 'NYCT_8370': 135,
 'NYCT_3892': 136,
 'NYCT_7243': 137,
 'NYCT_4525': 138,
 'NYCT_4206': 139,
 'NYCT_4138': 140,
 'NYCT_7046': 141,
 'NYCT_7218': 142,
 'NYCT_6511': 143,
 'NYCT_6830': 144,
 'NYCT_5863': 145,
 'NYCT_5726': 146,
 'NYCT_2617': 147,
 'NYCT_268': 148,
 'NYCT_7283': 149,
 'NYCT_1218': 150,
 'NYCT_6617': 151,
 'NYCT_7297': 152,
 'NYCT_4210': 153,
 'NYCT_256': 154,
 'NYCT_4459': 155,
 'NYCT_6422': 156,
 'NYCT_4532': 157,
 'NYCT_8175': 158,
 'NYCT_5278': 159,
 'NYCT_4665': 160,
 'NYCT_7196': 161,
 'NYCT_6404': 162,
 'NYCT_7358': 163,
 'NYCT_8315': 164,
 'NYCT_4380': 165,
 'NYCT_5202': 166,
 'NYCT_5517': 167,
 'NYCT_5921': 168,
 'NYCT_6418': 169,
 'NYCT_7262': 170,
 'NYCT_290': 171,
 'NYCT_8068': 172,
 'NYCT_5125': 173,
 'NYCT_5147': 174,
 'NYCT_8188': 175,
 'NYCT_3823': 176,
 'NYCT_7359': 177,
 'NYCT_252': 178,
 'NYCT_4233': 179,
 'NYCT_7748': 180,
 'NYCT_4780': 181,
 'NYCT_4967': 182,
 'NYCT_7228': 183,
 'NYCT_4861': 184,
 'NYCT_5690': 185,
 'NYCT_8411': 186,
 'NYCT_6735': 187,
 'NYCT_8255': 188,
 'NYCT_5215': 189,
 'NYCT_6811': 190,
 'NYCT_4131': 191,
 'NYCT_4575': 192,
 'NYCT_8224': 193,
 'NYCT_6720': 194,
 'NYCT_4746': 195,
 'NYCT_4686': 196,
 'NYCT_5257': 197,
 'NYCT_4045': 198,
 'NYCT_3825': 199,
 'NYCT_433': 200,
 'NYCT_8221': 201,
 'NYCT_2557': 202,
 'NYCT_5884': 203,
 'NYCT_4336': 204,
 'NYCT_3966': 205,
 'NYCT_690': 206,
 'NYCT_6493': 207,
 'NYCT_4930': 208,
 'NYCT_5625': 209,
 'NYCT_5543': 210,
 'NYCT_4376': 211,
 'NYCT_7077': 212,
 'NYCT_278': 213,
 'NYCT_7151': 214,
 'NYCT_8495': 215,
 'NYCT_7407': 216,
 'NYCT_4798': 217,
 'NYCT_8124': 218,
 'NYCT_8287': 219,
 'NYCT_4404': 220,
 'NYCT_8308': 221,
 'NYCT_5722': 222,
 'NYCT_4368': 223,
 'NYCT_4358': 224,
 'NYCT_4451': 225,
 'NYCT_4835': 226,
 'NYCT_7053': 227,
 'NYCT_6722': 228,
 'NYCT_5911': 229,
 'NYCT_5986': 230,
 'NYCT_302': 231,
 'NYCT_4092': 232,
 'NYCT_4592': 233,
 'NYCT_4847': 234,
 'NYCT_6067': 235,
 'NYCT_5620': 236,
 'NYCT_6619': 237,
 'NYCT_2673': 238,
 'NYCT_8194': 239,
 'NYCT_8099': 240,
 'NYCT_2477': 241,
 'NYCT_5932': 242,
 'NYCT_5888': 243,
 'NYCT_6686': 244,
 'NYCT_756': 245,
 'NYCT_5903': 246,
 'NYCT_5634': 247,
 'NYCT_5039': 248,
 'NYCT_6645': 249,
 'NYCT_6579': 250,
 'NYCT_3935': 251,
 'NYCT_449': 252,
 'NYCT_8472': 253,
 'NYCT_3984': 254,
 'NYCT_2603': 255,
 'NYCT_8412': 256,
 'NYCT_7702': 257,
 'NYCT_6573': 258,
 'NYCT_7147': 259,
 'NYCT_8166': 260,
 'NYCT_6736': 261,
 'NYCT_4762': 262,
 'NYCT_4601': 263,
 'NYCT_6003': 264,
 'NYCT_4123': 265,
 'NYCT_4432': 266,
 'NYCT_3921': 267,
 'NYCT_7239': 268,
 'NYCT_5976': 269,
 'NYCT_446': 270,
 'NYCT_5681': 271,
 'NYCT_4461': 272,
 'NYCT_7125': 273,
 'NYCT_7399': 274,
 'NYCT_6037': 275,
 'NYCT_2659': 276,
 'NYCT_4702': 277,
 'NYCT_5512': 278,
 'NYCT_5819': 279,
 'NYCT_7235': 280,
 'NYCT_6845': 281,
 'NYCT_7130': 282,
 'NYCT_4055': 283,
 'NYCT_8394': 284,
 'NYCT_7174': 285,
 'NYCT_4591': 286,
 'NYCT_5885': 287,
 'NYCT_7152': 288,
 'NYCT_391': 289,
 'NYCT_5247': 290,
 'NYCT_451': 291,
 'NYCT_5595': 292,
 'NYCT_4872': 293,
 'NYCT_4608': 294,
 'NYCT_6744': 295,
 'NYCT_5638': 296,
 'NYCT_4431': 297,
 'NYCT_5530': 298,
 'NYCT_2607': 299,
 'NYCT_7040': 300,
 'NYCT_8197': 301,
 'NYCT_3875': 302,
 'NYCT_5540': 303,
 'NYCT_4817': 304,
 'NYCT_6746': 305,
 'NYCT_8196': 306,
 'NYCT_750': 307,
 'NYCT_6489': 308,
 'NYCT_5763': 309,
 'NYCT_6537': 310,
 'NYCT_8496': 311,
 'NYCT_8184': 312,
 'NYCT_5858': 313,
 'NYCT_7614': 314,
 'NYCT_6580': 315,
 'NYCT_366': 316,
 'NYCT_6369': 317,
 'NYCT_6081': 318,
 'NYCT_2652': 319,
 'NYCT_1241': 320,
 'NYCT_6728': 321,
 'NYCT_4406': 322,
 'NYCT_4448': 323,
 'NYCT_5577': 324,
 'NYCT_8133': 325,
 'NYCT_8002': 326,
 'NYCT_5228': 327,
 'NYCT_4615': 328,
 'NYCT_6772': 329,
 'NYCT_8107': 330,
 'NYCT_6420': 331,
 'NYCT_4626': 332,
 'NYCT_4888': 333,
 'NYCT_6651': 334,
 'NYCT_4887': 335,
 'NYCT_4447': 336,
 'NYCT_422': 337,
 'NYCT_5759': 338,
 'NYCT_668': 339,
 'NYCT_5586': 340,
 'NYCT_8028': 341,
 'NYCT_6879': 342,
 'NYCT_8317': 343,
 'NYCT_5285': 344,
 'NYCT_360': 345,
 'NYCT_335': 346,
 'NYCT_4795': 347,
 'NYCT_4338': 348,
 'NYCT_6903': 349,
 'NYCT_4734': 350,
 'NYCT_8359': 351,
 'NYCT_6527': 352,
 'NYCT_5848': 353,
 'NYCT_4237': 354,
 'NYCT_5635': 355,
 'NYCT_4748': 356,
 'NYCT_5053': 357,
 'NYCT_6397': 358,
 'NYCT_5304': 359,
 'NYCT_3998': 360,
 'NYCT_6061': 361,
 'NYCT_6813': 362,
 'NYCT_8441': 363,
 'NYCT_5264': 364,
 'NYCT_262': 365,
 'NYCT_6709': 366,
 'NYCT_5961': 367,
 'NYCT_7225': 368,
 'NYCT_2667': 369,
 'NYCT_4127': 370,
 'NYCT_5007': 371,
 'NYCT_4114': 372,
 'NYCT_7216': 373,
 'NYCT_4826': 374,
 'NYCT_8373': 375,
 'NYCT_5552': 376,
 'NYCT_5043': 377,
 'NYCT_5964': 378,
 'NYCT_4560': 379,
 'NYCT_417': 380,
 'NYCT_7726': 381,
 'NYCT_470': 382,
 'NYCT_3925': 383,
 'NYCT_5578': 384,
 'NYCT_6518': 385,
 'NYCT_4590': 386,
 'NYCT_7210': 387,
 'NYCT_3874': 388,
 'NYCT_6821': 389,
 'NYCT_4189': 390,
 'NYCT_8050': 391,
 'NYCT_1212': 392,
 'NYCT_3995': 393,
 'NYCT_5516': 394,
 'NYCT_4449': 395,
 'NYCT_786': 396,
 'NYCT_5676': 397,
 'NYCT_5293': 398,
 'NYCT_8277': 399,
 'NYCT_5835': 400,
 'NYCT_5727': 401,
 'NYCT_4871': 402,
 'NYCT_4425': 403,
 'NYCT_6827': 404,
 'NYCT_8303': 405,
 'NYCT_3922': 406,
 'NYCT_6536': 407,
 'NYCT_6799': 408,
 'NYCT_369': 409,
 'NYCT_5897': 410,
 'NYCT_4812': 411,
 'NYCT_4194': 412,
 'NYCT_5711': 413,
 'NYCT_313': 414,
 'NYCT_7777': 415,
 'NYCT_8220': 416,
 'NYCT_4602': 417,
 'NYCT_7581': 418,
 'NYCT_7775': 419,
 'NYCT_303': 420,
 'NYCT_5720': 421,
 'NYCT_6809': 422,
 'NYCT_5718': 423,
 'NYCT_4048': 424,
 'NYCT_3867': 425,
 'NYCT_6563': 426,
 'NYCT_675': 427,
 'NYCT_7115': 428,
 'NYCT_390': 429,
 'NYCT_4392': 430,
 'NYCT_5909': 431,
 'NYCT_5041': 432,
 'NYCT_5752': 433,
 'NYCT_4694': 434,
 'NYCT_7800': 435,
 'NYCT_8473': 436,
 'NYCT_321': 437,
 'NYCT_8404': 438,
 'NYCT_5755': 439,
 'NYCT_7618': 440,
 'NYCT_4415': 441,
 'NYCT_660': 442,
 'NYCT_2470': 443,
 'NYCT_4890': 444,
 'NYCT_4115': 445,
 'NYCT_5066': 446,
 'NYCT_8436': 447,
 'NYCT_4085': 448,
 'NYCT_6639': 449,
 'NYCT_4439': 450,
 'NYCT_6053': 451,
 'NYCT_6657': 452,
 'NYCT_8480': 453,
 'NYCT_3887': 454,
 'NYCT_7013': 455,
 'NYCT_6027': 456,
 'NYCT_4243': 457,
 'NYCT_2583': 458,
 'NYCT_4064': 459,
 'NYCT_4440': 460,
 'NYCT_6059': 461,
 'NYCT_4929': 462,
 'NYCT_5824': 463,
 'NYCT_8162': 464,
 'NYCT_339': 465,
 'NYCT_3964': 466,
 'NYCT_704': 467,
 'NYCT_6453': 468,
 'NYCT_6839': 469,
 'NYCT_684': 470,
 'NYCT_5891': 471,
 'NYCT_4066': 472,
 'NYCT_3849': 473,
 'NYCT_2778': 474,
 'NYCT_4217': 475,
 'NYCT_8443': 476,
 'NYCT_6487': 477,
 'NYCT_4621': 478,
 'NYCT_3955': 479,
 'NYCT_5290': 480,
 'NYCT_4876': 481,
 'NYCT_4827': 482,
 'NYCT_4258': 483,
 'NYCT_4188': 484,
 'NYCT_6394': 485,
 'NYCT_8290': 486,
 'NYCT_6379': 487,
 'NYCT_5535': 488,
 'NYCT_5277': 489,
 'NYCT_3971': 490,
 'NYCT_5623': 491,
 'NYCT_7183': 492,
 'NYCT_8457': 493,
 'NYCT_423': 494,
 'NYCT_8011': 495,
 'NYCT_5104': 496,
 'NYCT_5952': 497,
 'NYCT_4517': 498,
 'NYCT_5088': 499,
 'NYCT_8469': 500,
 'NYCT_6810': 501,
 'NYCT_8210': 502,
 'NYCT_5111': 503,
 'NYCT_4416': 504,
 'NYCT_4113': 505,
 'NYCT_3948': 506,
 'NYCT_5860': 507,
 'NYCT_8074': 508,
 'NYCT_8036': 509,
 'NYCT_5933': 510,
 'NYCT_7223': 511,
 'NYCT_4851': 512,
 'NYCT_4089': 513,
 'NYCT_5594': 514,
 'NYCT_2725': 515,
 'NYCT_273': 516,
 'NYCT_359': 517,
 'NYCT_2669': 518,
 'NYCT_5266': 519,
 'NYCT_5883': 520,
 'NYCT_7132': 521,
 'NYCT_375': 522,
 'NYCT_4613': 523,
 'NYCT_8230': 524,
 'NYCT_5747': 525,
 'NYCT_5850': 526,
 'NYCT_4435': 527,
 'NYCT_4839': 528,
 'NYCT_3888': 529,
 'NYCT_4630': 530,
 'NYCT_402': 531,
 'NYCT_7197': 532,
 'NYCT_3965': 533,
 'NYCT_3877': 534,
 'NYCT_8089': 535,
 'NYCT_5749': 536,
 'NYCT_6702': 537,
 'NYCT_7133': 538,
 'NYCT_7110': 539,
 'NYCT_3946': 540,
 'NYCT_7363': 541,
 'NYCT_5643': 542,
 'NYCT_6759': 543,
 'NYCT_8489': 544,
 'NYCT_7102': 545,
 'NYCT_6896': 546,
 'NYCT_6754': 547,
 'NYCT_6675': 548,
 'NYCT_8369': 549,
 'NYCT_8111': 550,
 'NYCT_2518': 551,
 'NYCT_1206': 552,
 'NYCT_6529': 553,
 'NYCT_6762': 554,
 'NYCT_4081': 555,
 'NYCT_5205': 556,
 'NYCT_4252': 557,
 'NYCT_380': 558,
 'NYCT_6033': 559,
 'NYCT_8065': 560,
 'NYCT_349': 561,
 'NYCT_7730': 562,
 'NYCT_6055': 563,
 'NYCT_5907': 564,
 'NYCT_4616': 565,
 'NYCT_4832': 566,
 'NYCT_8406': 567,
 'NYCT_7704': 568,
 'NYCT_5873': 569,
 'NYCT_450': 570,
 'NYCT_6637': 571,
 'NYCT_5867': 572,
 'NYCT_7221': 573,
 'NYCT_1208': 574,
 'NYCT_3890': 575,
 'NYCT_1221': 576,
 'NYCT_6490': 577,
 'NYCT_3805': 578,
 'NYCT_333': 579,
 'NYCT_7240': 580,
 'NYCT_7761': 581,
 'NYCT_8476': 582,
 'NYCT_5887': 583,
 'NYCT_7705': 584,
 'NYCT_6835': 585,
 'NYCT_7635': 586,
 'NYCT_4604': 587,
 'NYCT_6549': 588,
 'NYCT_8095': 589,
 'NYCT_5951': 590,
 'NYCT_7185': 591,
 'NYCT_4177': 592,
 'NYCT_5715': 593,
 'NYCT_8503': 594,
 'NYCT_4219': 595,
 'NYCT_706': 596,
 'NYCT_5943': 597,
 'NYCT_4244': 598,
 'NYCT_8192': 599,
 'NYCT_6374': 600,
 'NYCT_5602': 601,
 'NYCT_6783': 602,
 'NYCT_3812': 603,
 'NYCT_8222': 604,
 'NYCT_5944': 605,
 'NYCT_5874': 606,
 'NYCT_6562': 607,
 'NYCT_8333': 608,
 'NYCT_363': 609,
 'NYCT_5048': 610,
 'NYCT_6871': 611,
 'NYCT_6833': 612,
 'NYCT_5300': 613,
 'NYCT_7751': 614,
 'NYCT_5081': 615,
 'NYCT_6864': 616,
 'NYCT_4457': 617,
 'NYCT_7437': 618,
 'NYCT_4711': 619,
 'NYCT_6638': 620,
 'NYCT_5123': 621,
 'NYCT_6694': 622,
 'NYCT_330': 623,
 'NYCT_479': 624,
 'NYCT_4781': 625,
 'NYCT_7707': 626,
 'NYCT_347': 627,
 'NYCT_8253': 628,
 'NYCT_3981': 629,
 'NYCT_4374': 630,
 'NYCT_5975': 631,
 'NYCT_8451': 632,
 'NYCT_7422': 633,
 'NYCT_7362': 634,
 'NYCT_323': 635,
 'NYCT_6650': 636,
 'NYCT_1289': 637,
 'NYCT_6483': 638,
 'NYCT_6826': 639,
 'NYCT_7081': 640,
 'NYCT_438': 641,
 'NYCT_6703': 642,
 'NYCT_8113': 643,
 'NYCT_7426': 644,
 'NYCT_8006': 645,
 'NYCT_5890': 646,
 'NYCT_6700': 647,
 'NYCT_5084': 648,
 'NYCT_5616': 649,
 'NYCT_7112': 650,
 'NYCT_4116': 651,
 'NYCT_4948': 652,
 'NYCT_6713': 653,
 'NYCT_4598': 654,
 'NYCT_5840': 655,
 'NYCT_7418': 656,
 'NYCT_4564': 657,
 'NYCT_7184': 658,
 'NYCT_8081': 659,
 'NYCT_5954': 660,
 'NYCT_7002': 661,
 'NYCT_7687': 662,
 'NYCT_8261': 663,
 'NYCT_2558': 664,
 'NYCT_6685': 665,
 'NYCT_7252': 666,
 'NYCT_8454': 667,
 'NYCT_6625': 668,
 'NYCT_465': 669,
 'NYCT_4225': 670,
 'NYCT_7170': 671,
 'NYCT_4471': 672,
 'NYCT_6554': 673,
 'NYCT_8084': 674,
 'NYCT_7632': 675,
 'NYCT_3931': 676,
 'NYCT_4957': 677,
 'NYCT_1230': 678,
 'NYCT_7128': 679,
 'NYCT_4245': 680,
 'NYCT_4356': 681,
 'NYCT_6486': 682,
 'NYCT_4853': 683,
 'NYCT_8437': 684,
 'NYCT_7291': 685,
 'NYCT_6743': 686,
 'NYCT_4595': 687,
 'NYCT_4236': 688,
 'NYCT_7095': 689,
 'NYCT_3826': 690,
 'NYCT_4074': 691,
 'NYCT_1224': 692,
 'NYCT_4137': 693,
 'NYCT_6455': 694,
 'NYCT_3818': 695,
 'NYCT_5115': 696,
 'NYCT_4006': 697,
 'NYCT_3980': 698,
 'NYCT_8148': 699,
 'NYCT_6392': 700,
 'NYCT_6656': 701,
 'NYCT_7393': 702,
 'NYCT_3886': 703,
 'NYCT_6077': 704,
 'NYCT_5748': 705,
 'NYCT_4423': 706,
 'NYCT_2287': 707,
 'NYCT_8138': 708,
 'NYCT_4701': 709,
 'NYCT_4661': 710,
 'NYCT_7023': 711,
 'NYCT_8041': 712,
 'NYCT_4571': 713,
 'NYCT_2513': 714,
 'NYCT_8326': 715,
 'NYCT_315': 716,
 'NYCT_5906': 717,
 'NYCT_4331': 718,
 'NYCT_4405': 719,
 'NYCT_7138': 720,
 'NYCT_5882': 721,
 'NYCT_5245': 722,
 'NYCT_6766': 723,
 'NYCT_6760': 724,
 'NYCT_2592': 725,
 'NYCT_7428': 726,
 'NYCT_4437': 727,
 'NYCT_5852': 728,
 'NYCT_4813': 729,
 'NYCT_5275': 730,
 'NYCT_8402': 731,
 'NYCT_8245': 732,
 'NYCT_7676': 733,
 'NYCT_240': 734,
 'NYCT_8243': 735,
 'NYCT_8227': 736,
 'NYCT_8217': 737,
 'NYCT_6063': 738,
 'NYCT_2665': 739,
 'NYCT_5936': 740,
 'NYCT_4277': 741,
 'NYCT_6065': 742,
 'NYCT_7124': 743,
 'NYCT_747': 744,
 'NYCT_4864': 745,
 'NYCT_4733': 746,
 'NYCT_665': 747,
 'NYCT_2527': 748,
 'NYCT_6457': 749,
 'NYCT_398': 750,
 'NYCT_8057': 751,
 'NYCT_7129': 752,
 'NYCT_5859': 753,
 'NYCT_8173': 754,
 'NYCT_5917': 755,
 'NYCT_8032': 756,
 'NYCT_7277': 757,
 'NYCT_5035': 758,
 'NYCT_8130': 759,
 'NYCT_5955': 760,
 'NYCT_5879': 761,
 'NYCT_270': 762,
 'NYCT_7162': 763,
 'NYCT_7299': 764,
 'NYCT_4799': 765,
 'NYCT_8435': 766,
 'NYCT_5289': 767,
 'NYCT_8016': 768,
 'NYCT_4684': 769,
 'NYCT_3898': 770,
 'NYCT_2429': 771,
 'NYCT_2555': 772,
 'NYCT_4782': 773,
 'NYCT_453': 774,
 'NYCT_7404': 775,
 'NYCT_413': 776,
 'NYCT_5880': 777,
 'NYCT_7195': 778,
 'NYCT_5168': 779,
 'NYCT_5914': 780,
 'NYCT_309': 781,
 'NYCT_7355': 782,
 'NYCT_357': 783,
 'NYCT_7276': 784,
 'NYCT_8491': 785,
 'NYCT_292': 786,
 'NYCT_5893': 787,
 'NYCT_279': 788,
 'NYCT_8453': 789,
 'NYCT_2663': 790,
 'NYCT_4681': 791,
 'NYCT_4565': 792,
 'NYCT_7401': 793,
 'NYCT_7285': 794,
 'NYCT_8199': 795,
 'NYCT_7082': 796,
 'NYCT_8247': 797,
 'NYCT_8299': 798,
 'NYCT_4139': 799,
 'NYCT_4075': 800,
 'NYCT_6079': 801,
 'NYCT_3944': 802,
 'NYCT_3847': 803,
 'NYCT_4359': 804,
 'NYCT_7200': 805,
 'NYCT_296': 806,
 'NYCT_7122': 807,
 'NYCT_5963': 808,
 'NYCT_3852': 809,
 'NYCT_4761': 810,
 'NYCT_5276': 811,
 'NYCT_2761': 812,
 'NYCT_5830': 813,
 'NYCT_4833': 814,
 'NYCT_2621': 815,
 'NYCT_7275': 816,
 'NYCT_247': 817,
 'NYCT_8251': 818,
 'NYCT_3863': 819,
 'NYCT_4742': 820,
 'NYCT_5822': 821,
 'NYCT_5927': 822,
 'NYCT_4790': 823,
 'NYCT_4599': 824,
 'NYCT_327': 825,
 'NYCT_4894': 826,
 'NYCT_8170': 827,
 'NYCT_5938': 828,
 'NYCT_7361': 829,
 'NYCT_6039': 830,
 'NYCT_4810': 831,
 'NYCT_4111': 832,
 'NYCT_7403': 833,
 'NYCT_8488': 834,
 'NYCT_4778': 835,
 'NYCT_8038': 836,
 'NYCT_4902': 837,
 'NYCT_6843': 838,
 'NYCT_428': 839,
 'NYCT_4554': 840,
 'NYCT_5831': 841,
 'NYCT_8344': 842,
 'NYCT_425': 843,
 'NYCT_4787': 844,
 'NYCT_5940': 845,
 'NYCT_8189': 846,
 'NYCT_8252': 847,
 'NYCT_7131': 848,
 'NYCT_7273': 849,
 'NYCT_4232': 850,
 'NYCT_7176': 851,
 'NYCT_5966': 852,
 'NYCT_7078': 853,
 'NYCT_7186': 854,
 'NYCT_7270': 855,
 'NYCT_7139': 856,
 'NYCT_8165': 857,
 'NYCT_8276': 858,
 'NYCT_3893': 859,
 'NYCT_8205': 860,
 'NYCT_6075': 861,
 'NYCT_6025': 862,
 'NYCT_4627': 863,
 'NYCT_8135': 864,
 'NYCT_8390': 865,
 'NYCT_263': 866,
 'NYCT_8039': 867,
 'NYCT_383': 868,
 'NYCT_4881': 869,
 'NYCT_4829': 870,
 'NYCT_7263': 871,
 'NYCT_7292': 872,
 'NYCT_7101': 873,
 'NYCT_4815': 874,
 'NYCT_8182': 875,
 'NYCT_7409': 876,
 'NYCT_2545': 877,
 'NYCT_4573': 878,
 'NYCT_6784': 879,
 'NYCT_5989': 880,
 'NYCT_4610': 881,
 'NYCT_7208': 882,
 'NYCT_4846': 883,
 'NYCT_4614': 884,
 'NYCT_8152': 885,
 'NYCT_6679': 886,
 'NYCT_6017': 887,
 'NYCT_5861': 888,
 'NYCT_5844': 889,
 'NYCT_4814': 890,
 'NYCT_7145': 891,
 'NYCT_7286': 892,
 'NYCT_5855': 893,
 'NYCT_7207': 894,
 'NYCT_2587': 895,
 'NYCT_6015': 896,
 'NYCT_7154': 897,
 'NYCT_6005': 898,
 'NYCT_7588': 899,
 'NYCT_6812': 900,
 'NYCT_4238': 901,
 'NYCT_473': 902,
 'NYCT_7005': 903,
 'NYCT_8445': 904,
 'NYCT_7814': 905,
 'NYCT_6901': 906,
 'NYCT_6616': 907,
 'NYCT_4605': 908,
 'NYCT_480': 909,
 'NYCT_4612': 910,
 'NYCT_406': 911,
 'NYCT_7610': 912,
 'NYCT_7205': 913,
 'NYCT_484': 914,
 'NYCT_4043': 915,
 'NYCT_4584': 916,
 'NYCT_4843': 917,
 'NYCT_4530': 918,
 'NYCT_6009': 919,
 'NYCT_4912': 920,
 'NYCT_4885': 921,
 'NYCT_7755': 922,
 'NYCT_5077': 923,
 'NYCT_8146': 924,
 'NYCT_4625': 925,
 'NYCT_2498': 926,
 'NYCT_3975': 927,
 'NYCT_4393': 928,
 'NYCT_6824': 929,
 'NYCT_5853': 930,
 'NYCT_6801': 931,
 'NYCT_5962': 932,
 'NYCT_4845': 933,
 'NYCT_6665': 934,
 'NYCT_7219': 935,
 'NYCT_4441': 936,
 'NYCT_6587': 937,
 'NYCT_351': 938,
 'NYCT_7187': 939,
 'NYCT_4991': 940,
 'NYCT_4726': 941,
 'NYCT_6386': 942,
 'NYCT_2759': 943,
 'NYCT_7740': 944,
 'NYCT_8061': 945,
 'NYCT_419': 946,
 'NYCT_8159': 947,
 'NYCT_4476': 948,
 'NYCT_6408': 949,
 'NYCT_7025': 950,
 'NYCT_5958': 951,
 'NYCT_6454': 952,
 'NYCT_8226': 953,
 'NYCT_6598': 954,
 'NYCT_6753': 955,
 'NYCT_411': 956,
 'NYCT_4824': 957,
 'NYCT_8101': 958,
 'NYCT_6856': 959,
 'NYCT_368': 960,
 'NYCT_6561': 961,
 'NYCT_7134': 962,
 'NYCT_416': 963,
 'NYCT_2577': 964,
 'NYCT_5103': 965,
 'NYCT_4350': 966,
 'NYCT_389': 967,
 'NYCT_4401': 968,
 'NYCT_5905': 969,
 'NYCT_8385': 970,
 'NYCT_427': 971,
 'NYCT_3880': 972,
 'NYCT_8456': 973,
 'NYCT_4850': 974,
 'NYCT_6594': 975,
 'NYCT_7009': 976,
 'NYCT_4951': 977,
 'NYCT_4191': 978,
 'NYCT_6557': 979,
 'NYCT_7427': 980,
 'NYCT_7061': 981,
 'NYCT_7376': 982,
 'NYCT_412': 983,
 'NYCT_8336': 984,
 'NYCT_6432': 985,
 'NYCT_7806': 986,
 'NYCT_4262': 987,
 'NYCT_5799': 988,
 'NYCT_350': 989,
 'NYCT_8280': 990,
 'NYCT_2492': 991,
 'NYCT_4597': 992,
 'NYCT_4201': 993,
 'NYCT_7754': 994,
 'NYCT_4182': 995,
 'NYCT_2296': 996,
 'NYCT_8064': 997,
 'NYCT_5837': 998,
 'NYCT_6011': 999,
 ...}

In [22]:
# take s61,s62,s66 route with atstop records only
s61_06 = nyc_06[(nyc_06['PublishedLineName'] == 'S61') & (nyc_06['DistanceFromStop'] <= 50)]
s62_06 = nyc_06[(nyc_06['PublishedLineName'] == 'S62') & (nyc_06['DistanceFromStop'] <= 50)]
s66_06 = nyc_06[(nyc_06['PublishedLineName'] == 'S66') & (nyc_06['DistanceFromStop'] <= 50)]

#### s61

In [23]:
# consider S61 route
s61_order_0 = s61_06[(s61_06['DirectionRef'] == 0)]
s61_order_1 = s61_06[s61_06['DirectionRef'] == 1]

# order it according to Recorded time and VehicleRef
s61_order_0 = s61_order_0.sort_values(by=['RecordedAtTime','VehicleRef'])
s61_order_1 = s61_order_1.sort_values(by=['RecordedAtTime','VehicleRef'])

# get unique values of DestinationName of each direction dataset 
display(s61_order_0['DestinationName'].unique())
display(s61_order_1['DestinationName'].unique())

array(['ST GEORGE FERRY'], dtype=object)

array(['S I MALL YUKON AV', 'MARSH AVENUE RICHMOND HILL RD'], dtype=object)

In [24]:
# get only needed destinations
s61_order_0 = s61_order_0[(s61_order_0['DestinationName'] == 'ST GEORGE FERRY')]
s61_order_1 = s61_order_1[(s61_order_1['DestinationName'] == 'S I MALL YUKON AV')]
display(s61_order_0.shape)
display(s61_order_1.shape)

(3115, 17)

(2369, 17)

In [25]:
# get unique NextStopPointName in dataset and compare it with actual Stops Names
actual_stop_names_st_gr_ferry = [
    'YUKON AV/WATCHMANS OFFICE',
# 'YUKON AV/TARGET DRIVEWAY',
'INDEPENDENCE AV/PATHMARK',
'RICHMOND AV/YUKON AV',
'PLATINUM AV/TOYS R US',
'MARSH AV/WINDHAM LOOP',
'MARSH AV/ELMWOOD PK DR',
# 'MARSH AV/RING RD',
'MARSH AV/RICHMOND HILL RD',
'RICHMOND HILL RD/VASSAR ST',
'MERRYMOUNT ST/SHILOH ST',
'MERRYMOUNT ST/TRAVIS AV',
'TRAVIS AV/NEHRING AV',
'TRAVIS AV/DENKER PL',
'TRAVIS AV/EVANS ST',
'TRAVIS AV/LEWISTON ST',
'FOREST HILL RD/ROCKLAND AV',
'FOREST HILL RD/FIELD ST',
'FOREST HILL RD/STEERS ST',
'FOREST HILL RD/DOROTHY ST',
'HAROLD ST/FOREST HILL RD',
'HAROLD ST/WASHINGTON AV',
'HAROLD ST/SUNSET AV',
'HAROLD ST/BRADLEY AV',
'BRADLEY AV/HOLDEN BL',
'BRADLEY AV/WESTWOOD AV',
'BRADLEY AV/PURDY AV',
'BRADLEY AV/VICTORY BL',
'BRADLEY AV/S GANNON AV',
'VICTORY BL/PERRY AV',
'VICTORY BL/MOUNTAINVIEW AV',
'VICTORY BL/LESTER ST',
'VICTORY BL/MANOR RD',
'VICTORY BL/TODT HILL RD',
'VICTORY BL/SLOSSON AV',
'VICTORY BL/LITTLE CLOVE RD',
'VICTORY BL/ALBERT ST',
'VICTORY BL/RENWICK AV',
'VICTORY BL/SENECA AV',
'VICTORY BL/CLOVE RD',
'VICTORY BL/GRAND AV',
'VICTORY BL/HIGHLAND AV',
'VICTORY BL/SILVER LAKE APTS',
'VICTORY BL/SILVER MT CEM',
'VICTORY BL/THERESA PL',
'VICTORY BL/EDDY ST',
'VICTORY BL/FOREST AV',
'VICTORY BL/AUSTIN PL',
'VICTORY BL/CEBRA AV',
'VICTORY BL/JERSEY ST',
'VICTORY BL/ BROOK ST',
'VICTORY BL/VAN DUZER ST',
'VICTORY BL / BAY ST',
'BAY ST/SLOSSON TE',
'BAY ST/BOROUGH PL',
'ST GEORGE FERRY/ST GEORGE FERRY',
'ST GEORGE FERRY/S61 & S91'
]

unique_next_point_names_in_s61_order_0 = s61_order_0.NextStopPointName.unique()

list1 = actual_stop_names_st_gr_ferry
list2 = unique_next_point_names_in_s61_order_0

# compare 2 list to see different names in our dataset
difference = [item for item in list2 if item not in list1]  # Find values in list2 not in list1
print("Values in list2 but not in list1:", difference)

Values in list2 but not in list1: []

In [26]:
# encode stop list
encoded_stops_map = {stop_name: idx for idx, stop_name in enumerate(actual_stop_names_st_gr_ferry)}
print("Encoding Map:", encoded_stops_map)

Encoding Map: {'YUKON AV/WATCHMANS OFFICE': 0, 'INDEPENDENCE AV/PATHMARK': 1, 'RICHMOND AV/YUKON AV': 2, 'PLATINUM AV/TOYS R US': 3, 'MARSH AV/WINDHAM LOOP': 4, 'MARSH AV/ELMWOOD PK DR': 5, 'MARSH AV/RICHMOND HILL RD': 6, 'RICHMOND HILL RD/VASSAR ST': 7, 'MERRYMOUNT ST/SHILOH ST': 8, 'MERRYMOUNT ST/TRAVIS AV': 9, 'TRAVIS AV/NEHRING AV': 10, 'TRAVIS AV/DENKER PL': 11, 'TRAVIS AV/EVANS ST': 12, 'TRAVIS AV/LEWISTON ST': 13, 'FOREST HILL RD/ROCKLAND AV': 14, 'FOREST HILL RD/FIELD ST': 15, 'FOREST HILL RD/STEERS ST': 16, 'FOREST HILL RD/DOROTHY ST': 17, 'HAROLD ST/FOREST HILL RD': 18, 'HAROLD ST/WASHINGTON AV': 19, 'HAROLD ST/SUNSET AV': 20, 'HAROLD ST/BRADLEY AV': 21, 'BRADLEY AV/HOLDEN BL': 22, 'BRADLEY AV/WESTWOOD AV': 23, 'BRADLEY AV/PURDY AV': 24, 'BRADLEY AV/VICTORY BL': 25, 'BRADLEY AV/S GANNON AV': 26, 'VICTORY BL/PERRY AV': 27, 'VICTORY BL/MOUNTAINVIEW AV': 28, 'VICTORY BL/LESTER ST': 29, 'VICTORY BL/MANOR RD': 30, 'VICTORY BL/TODT HILL RD': 31, 'VICTORY BL/SLOSSON AV': 32, 'VICTORY BL/LITTLE CLOVE RD': 33, 'VICTORY BL/ALBERT ST': 34, 'VICTORY BL/RENWICK AV': 35, 'VICTORY BL/SENECA AV': 36, 'VICTORY BL/CLOVE RD': 37, 'VICTORY BL/GRAND AV': 38, 'VICTORY BL/HIGHLAND AV': 39, 'VICTORY BL/SILVER LAKE APTS': 40, 'VICTORY BL/SILVER MT CEM': 41, 'VICTORY BL/THERESA PL': 42, 'VICTORY BL/EDDY ST': 43, 'VICTORY BL/FOREST AV': 44, 'VICTORY BL/AUSTIN PL': 45, 'VICTORY BL/CEBRA AV': 46, 'VICTORY BL/JERSEY ST': 47, 'VICTORY BL/ BROOK ST': 48, 'VICTORY BL/VAN DUZER ST': 49, 'VICTORY BL / BAY ST': 50, 'BAY ST/SLOSSON TE': 51, 'BAY ST/BOROUGH PL': 52, 'ST GEORGE FERRY/ST GEORGE FERRY': 53, 'ST GEORGE FERRY/S61 & S91': 54}

In [27]:
from geopy.distance import geodesic
# order the dataset
s61_order_0_new = s61_order_0[['RecordedAtTime','NextStopPointName','DirectionRef','PublishedLineName','VehicleRef','VehicleLocation.Latitude','VehicleLocation.Longitude','DistanceFromStop']] 
s61_order_0_new["RecordedAtTime"] = pd.to_datetime(s61_order_0_new["RecordedAtTime"])
s61_order_0_new = s61_order_0_new.sort_values(by=["VehicleRef", "RecordedAtTime"]).reset_index(drop=True)

# get location of 55 stops
Lon = []
Lat = []
for stop in actual_stop_names_st_gr_ferry:
    df = s61_order_0_new[s61_order_0_new['NextStopPointName'] == stop]
    Longitude = df['VehicleLocation.Longitude'].iloc[0]
    Lattitude = df['VehicleLocation.Latitude'].iloc[0]

    Lon.append(Longitude)
    Lat.append(Lattitude)

data = {
    "Stop": actual_stop_names_st_gr_ferry,
    "Latitude":Lat,
    "Longitude":Lon
}
temp_df = pd.DataFrame(data)

# calculate distance from prv_stop
distances_from_last_stop = []
last_stop = None

for index, row in temp_df.iterrows():
    current_stop = (row["Latitude"], row["Longitude"])
    if last_stop:
        distance = geodesic(last_stop, current_stop).kilometers*1000
    else:
        distance = 0  # For the first stop, there's no previous stop
    distances_from_last_stop.append(distance)
    last_stop = current_stop  # Update the last stop to current

temp_df["DistanceFromLastStop"] = distances_from_last_stop
temp_df.head()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_31136\2788706855.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s61_order_0_new["RecordedAtTime"] = pd.to_datetime(s61_order_0_new["RecordedAtTime"])

                        Stop   Latitude  Longitude  DistanceFromLastStop
0  YUKON AV/WATCHMANS OFFICE  40.574940 -74.165408              0.000000
1   INDEPENDENCE AV/PATHMARK  40.573856 -74.168260            269.828450
2       RICHMOND AV/YUKON AV  40.575581 -74.169670            225.713983
3      PLATINUM AV/TOYS R US  40.578470 -74.167575            366.586003
4      MARSH AV/WINDHAM LOOP  40.578058 -74.163652            335.293195

In [28]:
# create edge indexes
import torch
temp_df['StopId'] = temp_df['Stop'].map(encoded_stops_map)

edge_index = []
for i in range(len(temp_df) - 1):
    edge_index.append([temp_df['StopId'].iloc[i], temp_df['StopId'].iloc[i + 1]])
edge_index = torch.tensor(edge_index, dtype=torch.long).t().contiguous()
print(edge_index)

tensor([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
         18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
         36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53],
        [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
         19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
         37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]])

In [29]:
# file_path = "Preprocess/edge_index_s61_1.pt"
# torch.save(edge_index, file_path)

In [30]:
# create edge attributes
edge_attr = torch.tensor(distances_from_last_stop[1:], dtype=torch.float).view(-1, 1)
edge_attr

tensor([[269.8285],
        [225.7140],
        [366.5860],
        [335.2932],
        [378.6680],
        [353.3776],
        [241.3157],
        [376.2319],
        [221.1701],
        [195.5168],
        [231.3532],
        [365.8459],
        [196.9879],
        [459.1738],
        [657.3147],
        [297.6126],
        [205.4578],
        [252.1765],
        [298.1562],
        [121.4185],
        [252.2964],
        [257.9235],
        [181.0103],
        [539.9190],
        [196.2313],
        [388.5688],
        [496.0692],
        [263.2419],
        [157.6568],
        [212.3649],
        [292.2908],
        [188.7126],
        [320.1454],
        [152.2356],
        [319.7011],
        [267.1190],
        [ 93.0674],
        [223.9962],
        [315.6412],
        [135.0781],
        [189.2886],
        [375.1378],
        [310.2053],
        [425.9579],
        [317.8258],
        [234.7634],
        [173.2364],
        [359.1135],
        [222.5727],
        [201.9707],
        [185.1534],
        [246.1342],
        [294.1798],
        [  0.0000]])

In [31]:
# file_path = "Preprocess/edge_attr_s61_0.pt"
# torch.save(edge_attr, file_path)

In [32]:
# encode stop points
s61_order_0_new['StopId'] = s61_order_0_new['NextStopPointName'].map(encoded_stops_map)

# add trip id
trip_id_df = s61_order_0_new.copy()
trip_id_df['TripId'] = 0
trip_id = 0

for i in range(1, len(trip_id_df)):
    if trip_id_df.loc[i, 'VehicleRef'] == trip_id_df.loc[i-1, 'VehicleRef']:
        if trip_id_df.loc[i, 'StopId'] < trip_id_df.loc[i-1, 'StopId']:
            trip_id += 1
    else:
        trip_id += 1
    
    trip_id_df.loc[i, 'TripId'] = trip_id

trip_id_df.loc[0, 'TripId'] = 0    # Adjust the first trip_id

# encode vehicle ref
trip_id_df['VehicleId'] = trip_id_df['VehicleRef'].map(vehicle_ref_map)

# encode line name
line_map = {
    "S61":0,
    "S62":1,
    "S66":2
}
trip_id_df['RouteId'] = trip_id_df['PublishedLineName'].map(line_map)
trip_id_df = trip_id_df.drop(['NextStopPointName','VehicleLocation.Latitude','VehicleLocation.Longitude','VehicleRef','PublishedLineName','DistanceFromStop'],axis=1)

trip_id_df.head(20)

        RecordedAtTime  DirectionRef  StopId  TripId  VehicleId  RouteId
0  2017-06-05 08:50:26             0      14       0       3210        0
1  2017-06-05 11:21:04             0      53       0       3210        0
2  2017-06-05 12:40:50             0      11       1       3210        0
3  2017-06-05 14:51:14             0       9       2       3210        0
4  2017-06-05 14:51:14             0       9       2       3210        0
5  2017-06-05 15:30:30             0      46       2       3210        0
6  2017-06-05 15:30:30             0      46       2       3210        0
7  2017-06-05 17:01:31             0       3       3       3210        0
8  2017-06-05 17:41:15             0      44       3       3210        0
9  2017-06-03 06:37:00             0      27       4       3155        0
10 2017-06-03 12:57:56             0      44       4       3155        0
11 2017-06-03 13:07:20             0      53       4       3155        0
12 2017-06-03 14:37:52             0      22       5       3155        0
13 2017-06-03 14:47:47             0      34       5       3155        0
14 2017-06-03 15:07:46             0      53       5       3155        0
15 2017-06-03 16:28:09             0      10       6       3155        0
16 2017-06-03 18:37:42             0      20       6       3155        0
17 2017-06-04 12:09:03             0      25       6       3155        0
18 2017-06-04 12:19:34             0      44       6       3155        0
19 2017-06-04 14:28:56             0      48       6       3155        0

In [33]:
# add all the stops to dataset (for each tour)
import pandas as pd
import numpy as np

all_stops = list(range(55))

def add_missing_stops(df, all_stops):
    # Sort by TripId and RecordedAtTime
    df['RecordedAtTime'] = pd.to_datetime(df['RecordedAtTime'])
    df = df.sort_values(by=['TripId', 'RecordedAtTime'])
    rows_to_add = []

    for trip_id, group in df.groupby('TripId'):
        existing_stops = group['StopId'].tolist()                   # Get the list of stops for the current trip
        missing_stops = list(set(all_stops) - set(existing_stops))  # Find the missing stops for the current trip

        # Add missing stops in order
        for stop_id in sorted(missing_stops):
            new_row = {
                'RecordedAtTime': None, 
                'DirectionRef': 0,
                'StopId': stop_id,
                'TripId': trip_id,
                'VehicleId': group['VehicleId'].unique()[0],  
                'RouteId': 0,  
                'DistanceFromLastStop':distances_from_last_stop[stop_id],
            }
            rows_to_add.append(new_row)
    
    df_missing_stops = pd.DataFrame(rows_to_add)    # Create a DataFrame for the new rows
    df = pd.concat([df, df_missing_stops], ignore_index=True)   # Append missing stops to the original dataframe
    df = df.sort_values(by=['TripId', 'StopId']).reset_index(drop=True) # Re-sort the dataframe
    
    return df

df_updated = add_missing_stops(trip_id_df, all_stops)
df_updated.head(55)

,RecordedAtTime,DirectionRef,StopId,TripId,VehicleId,RouteId,DistanceFromLastStop
0,NaT,0,0,0,3210,0,0.000000
1,NaT,0,1,0,3210,0,269.828450
2,NaT,0,2,0,3210,0,225.713983
3,NaT,0,3,0,3210,0,366.586003
4,NaT,0,4,0,3210,0,335.293195
5,NaT,0,5,0,3210,0,378.667978
6,NaT,0,6,0,3210,0,353.377635
7,NaT,0,7,0,3210,0,241.315664
8,NaT,0,8,0,3210,0,376.231918
9,NaT,0,9,0,3210,0,221.170122
10,NaT,0,10,0,3210,0,195.516794
11,NaT,0,11,0,3210,0,231.353208
12,NaT,0,12,0,3210,0,365.845845
13,NaT,0,13,0,3210,0,196.987944
14,2017-06-05 08:50:26,0,14,0,3210,0,NaN
15,NaT,0,15,0,3210,0,657.314725
16,NaT,0,16,0,3210,0,297.612589
17,NaT,0,17,0,3210,0,205.457799
18,NaT,0,18,0,3210,0,252.176514
19,NaT,0,19,0,3210,0,298.156244
20,NaT,0,20,0,3210,0,121.418523
21,NaT,0,21,0,3210,0,252.296404
22,NaT,0,22,0,3210,0,257.923451
23,NaT,0,23,0,3210,0,181.010294
24,NaT,0,24,0,3210,0,539.918985
25,NaT,0,25,0,3210,0,196.231320
26,NaT,0,26,0,3210,0,388.568741
27,NaT,0,27,0,3210,0,496.069255
28,NaT,0,28,0,3210,0,263.241905
29,NaT,0,29,0,3210,0,157.656747
30,NaT,0,30,0,3210,0,212.364857
31,NaT,0,31,0,3210,0,292.290808
32,NaT,0,32,0,3210,0,188.712597
33,NaT,0,33,0,3210,0,320.145356
34,NaT,0,34,0,3210,0,152.235644
35,NaT,0,35,0,3210,0,319.701153
36,NaT,0,36,0,3210,0,267.119031
37,NaT,0,37,0,3210,0,93.067408
38,NaT,0,38,0,3210,0,223.996229
39,NaT,0,39,0,3210,0,315.641250
40,NaT,0,40,0,3210,0,135.078087
41,NaT,0,41,0,3210,0,189.288578
42,NaT,0,42,0,3210,0,375.137808
43,NaT,0,43,0,3210,0,310.205311
44,NaT,0,44,0,3210,0,425.957944
45,NaT,0,45,0,3210,0,317.825810
46,NaT,0,46,0,3210,0,234.763366
47,NaT,0,47,0,3210,0,173.236362
48,NaT,0,48,0,3210,0,359.113457
49,NaT,0,49,0,3210,0,222.572675
50,NaT,0,50,0,3210,0,201.970692
51,NaT,0,51,0,3210,0,185.153346
52,NaT,0,52,0,3210,0,246.134167
53,2017-06-05 11:21:04,0,53,0,3210,0,NaN
54,NaT,0,54,0,3210,0,0.000000

In [34]:
# drop duplicates
df_updated = df_updated.drop_duplicates()
df_updated = df_updated.loc[~df_updated.drop(columns=["RecordedAtTime"]).duplicated()]
df_updated.shape

(59345, 7)

In [35]:
# fill missing values in DistanceFromLastStop
def fill_missing(row):
    if pd.isna(row['DistanceFromLastStop']) and not pd.isna(row['StopId']):
        stop_id = int(row['StopId'])
        return distances_from_last_stop[stop_id]
    return row['DistanceFromLastStop']

df_updated['DistanceFromLastStop'] = df_updated.apply(fill_missing, axis=1)
df_updated.head(55)

,RecordedAtTime,DirectionRef,StopId,TripId,VehicleId,RouteId,DistanceFromLastStop
0,NaT,0,0,0,3210,0,0.000000
1,NaT,0,1,0,3210,0,269.828450
2,NaT,0,2,0,3210,0,225.713983
3,NaT,0,3,0,3210,0,366.586003
4,NaT,0,4,0,3210,0,335.293195
5,NaT,0,5,0,3210,0,378.667978
6,NaT,0,6,0,3210,0,353.377635
7,NaT,0,7,0,3210,0,241.315664
8,NaT,0,8,0,3210,0,376.231918
9,NaT,0,9,0,3210,0,221.170122
10,NaT,0,10,0,3210,0,195.516794
11,NaT,0,11,0,3210,0,231.353208
12,NaT,0,12,0,3210,0,365.845845
13,NaT,0,13,0,3210,0,196.987944
14,2017-06-05 08:50:26,0,14,0,3210,0,459.173799
15,NaT,0,15,0,3210,0,657.314725
16,NaT,0,16,0,3210,0,297.612589
17,NaT,0,17,0,3210,0,205.457799
18,NaT,0,18,0,3210,0,252.176514
19,NaT,0,19,0,3210,0,298.156244
20,NaT,0,20,0,3210,0,121.418523
21,NaT,0,21,0,3210,0,252.296404
22,NaT,0,22,0,3210,0,257.923451
23,NaT,0,23,0,3210,0,181.010294
24,NaT,0,24,0,3210,0,539.918985
25,NaT,0,25,0,3210,0,196.231320
26,NaT,0,26,0,3210,0,388.568741
27,NaT,0,27,0,3210,0,496.069255
28,NaT,0,28,0,3210,0,263.241905
29,NaT,0,29,0,3210,0,157.656747
30,NaT,0,30,0,3210,0,212.364857
31,NaT,0,31,0,3210,0,292.290808
32,NaT,0,32,0,3210,0,188.712597
33,NaT,0,33,0,3210,0,320.145356
34,NaT,0,34,0,3210,0,152.235644
35,NaT,0,35,0,3210,0,319.701153
36,NaT,0,36,0,3210,0,267.119031
37,NaT,0,37,0,3210,0,93.067408
38,NaT,0,38,0,3210,0,223.996229
39,NaT,0,39,0,3210,0,315.641250
40,NaT,0,40,0,3210,0,135.078087
41,NaT,0,41,0,3210,0,189.288578
42,NaT,0,42,0,3210,0,375.137808
43,NaT,0,43,0,3210,0,310.205311
44,NaT,0,44,0,3210,0,425.957944
45,NaT,0,45,0,3210,0,317.825810
46,NaT,0,46,0,3210,0,234.763366
47,NaT,0,47,0,3210,0,173.236362
48,NaT,0,48,0,3210,0,359.113457
49,NaT,0,49,0,3210,0,222.572675
50,NaT,0,50,0,3210,0,201.970692
51,NaT,0,51,0,3210,0,185.153346
52,NaT,0,52,0,3210,0,246.134167
53,2017-06-05 11:21:04,0,53,0,3210,0,294.179825
54,NaT,0,54,0,3210,0,0.000000

In [75]:
# calculate the distance from start
df_feature_added = df_updated.copy().reset_index()

# fill every first record of TravelTime column with 0
df_feature_added['TravelTime'] = None
for idx in range(0, len(df_feature_added), 55):
    df_feature_added.at[idx, 'TravelTime'] = 0        


# calculate the propotion of distnce from start
def calculate_propotion(group):
    group['ProportionFromStart'] = group['DistanceFromStart'] / group['DistanceFromStart'].max()
    return group


distances = df_feature_added['DistanceFromLastStop'].iloc[:55].tolist()
distance_from_start = []
current_sum = 0
for value in distances:
    current_sum += value
    distance_from_start.append(current_sum)

result = []
for i in range(0, len(df_feature_added), 55):
    chunk = df_feature_added.iloc[i:i + 55].copy()  
    chunk['DistanceFromStart'] = distance_from_start
    result.append(chunk)

df_feature_added = pd.concat(result, ignore_index=True)

# df_feature_added = df_feature_added.groupby('TripId', group_keys=False).apply(calculate_travel_time)
df_feature_added_propotion = df_feature_added.groupby('TripId', group_keys=False).apply(calculate_propotion)

df_feature_added_propotion.head(55)

,index,RecordedAtTime,DirectionRef,StopId,TripId,VehicleId,RouteId,DistanceFromLastStop,TravelTime,DistanceFromStart,ProportionFromStart
0,0,NaT,0,0,0,3210,0,0.000000,0,0.000000,0.000000
1,1,NaT,0,1,0,3210,0,269.828450,None,269.828450,0.018185
2,2,NaT,0,2,0,3210,0,225.713983,None,495.542433,0.033397
3,3,NaT,0,3,0,3210,0,366.586003,None,862.128436,0.058103
4,4,NaT,0,4,0,3210,0,335.293195,None,1197.421631,0.080700
5,5,NaT,0,5,0,3210,0,378.667978,None,1576.089608,0.106220
6,6,NaT,0,6,0,3210,0,353.377635,None,1929.467243,0.130035
7,7,NaT,0,7,0,3210,0,241.315664,None,2170.782907,0.146299
8,8,NaT,0,8,0,3210,0,376.231918,None,2547.014825,0.171655
9,9,NaT,0,9,0,3210,0,221.170122,None,2768.184947,0.186560
10,10,NaT,0,10,0,3210,0,195.516794,None,2963.701741,0.199737
11,11,NaT,0,11,0,3210,0,231.353208,None,3195.054949,0.215329
12,12,NaT,0,12,0,3210,0,365.845845,None,3560.900794,0.239985
13,13,NaT,0,13,0,3210,0,196.987944,None,3757.888738,0.253261
14,14,2017-06-05 08:50:26,0,14,0,3210,0,459.173799,None,4217.062537,0.284207
15,15,NaT,0,15,0,3210,0,657.314725,None,4874.377262,0.328506
16,16,NaT,0,16,0,3210,0,297.612589,None,5171.989851,0.348564
17,17,NaT,0,17,0,3210,0,205.457799,None,5377.447650,0.362410
18,18,NaT,0,18,0,3210,0,252.176514,None,5629.624164,0.379406
19,19,NaT,0,19,0,3210,0,298.156244,None,5927.780408,0.399500
20,20,NaT,0,20,0,3210,0,121.418523,None,6049.198931,0.407683
21,21,NaT,0,21,0,3210,0,252.296404,None,6301.495336,0.424686
22,22,NaT,0,22,0,3210,0,257.923451,None,6559.418787,0.442069
23,23,NaT,0,23,0,3210,0,181.010294,None,6740.429081,0.454268
24,24,NaT,0,24,0,3210,0,539.918985,None,7280.348066,0.490655
25,25,NaT,0,25,0,3210,0,196.231320,None,7476.579386,0.503880
26,26,NaT,0,26,0,3210,0,388.568741,None,7865.148127,0.530068
27,27,NaT,0,27,0,3210,0,496.069255,None,8361.217382,0.563500
28,28,NaT,0,28,0,3210,0,263.241905,None,8624.459287,0.581241
29,29,NaT,0,29,0,3210,0,157.656747,None,8782.116034,0.591866
30,30,NaT,0,30,0,3210,0,212.364857,None,8994.480891,0.606178
31,31,NaT,0,31,0,3210,0,292.290808,None,9286.771699,0.625877
32,32,NaT,0,32,0,3210,0,188.712597,None,9475.484296,0.638595
33,33,NaT,0,33,0,3210,0,320.145356,None,9795.629652,0.660171
34,34,NaT,0,34,0,3210,0,152.235644,None,9947.865296,0.670431
35,35,NaT,0,35,0,3210,0,319.701153,None,10267.566449,0.691977
36,36,NaT,0,36,0,3210,0,267.119031,None,10534.685480,0.709980
37,37,NaT,0,37,0,3210,0,93.067408,None,10627.752888,0.716252
38,38,NaT,0,38,0,3210,0,223.996229,None,10851.749117,0.731348
39,39,NaT,0,39,0,3210,0,315.641250,None,11167.390367,0.752621
40,40,NaT,0,40,0,3210,0,135.078087,None,11302.468454,0.761724
41,41,NaT,0,41,0,3210,0,189.288578,None,11491.757032,0.774481
42,42,NaT,0,42,0,3210,0,375.137808,None,11866.894840,0.799763
43,43,NaT,0,43,0,3210,0,310.205311,None,12177.100151,0.820669
44,44,NaT,0,44,0,3210,0,425.957944,None,12603.058094,0.849377
45,45,NaT,0,45,0,3210,0,317.825810,None,12920.883905,0.870796
46,46,NaT,0,46,0,3210,0,234.763366,None,13155.647271,0.886618
47,47,NaT,0,47,0,3210,0,173.236362,None,13328.883632,0.898293
48,48,NaT,0,48,0,3210,0,359.113457,None,13687.997089,0.922496
49,49,NaT,0,49,0,3210,0,222.572675,None,13910.569764,0.937496
50,50,NaT,0,50,0,3210,0,201.970692,None,14112.540456,0.951107
51,51,NaT,0,51,0,3210,0,185.153346,None,14297.693803,0.963586
52,52,NaT,0,52,0,3210,0,246.134167,None,14543.827970,0.980174
53,53,2017-06-05 11:21:04,0,53,0,3210,0,294.179825,None,14838.007795,1.000000
54,54,NaT,0,54,0,3210,0,0.000000,None,14838.007795,1.000000

In [ ]:
# remove if there is only a single value for RecordedAtTime
df_feature_added_propotion = df_feature_added_propotion.groupby('TripId').filter(
    lambda group: group['RecordedAtTime'].nunique() > 1
)
df_feature_added_propotion.iloc[55:110]

In [52]:
df_feature_added_propotion.head(55)

,index,RecordedAtTime,DirectionRef,StopId,TripId,VehicleId,RouteId,DistanceFromLastStop,TravelTime,DistanceFromStart,ProportionFromStart
0,0,NaT,0,0,0,3210,0,0.000000,0,0.000000,0.000000
1,1,NaT,0,1,0,3210,0,269.828450,None,269.828450,0.018185
2,2,NaT,0,2,0,3210,0,225.713983,None,495.542433,0.033397
3,3,NaT,0,3,0,3210,0,366.586003,None,862.128436,0.058103
4,4,NaT,0,4,0,3210,0,335.293195,None,1197.421631,0.080700
5,5,NaT,0,5,0,3210,0,378.667978,None,1576.089608,0.106220
6,6,NaT,0,6,0,3210,0,353.377635,None,1929.467243,0.130035
7,7,NaT,0,7,0,3210,0,241.315664,None,2170.782907,0.146299
8,8,NaT,0,8,0,3210,0,376.231918,None,2547.014825,0.171655
9,9,NaT,0,9,0,3210,0,221.170122,None,2768.184947,0.186560
10,10,NaT,0,10,0,3210,0,195.516794,None,2963.701741,0.199737
11,11,NaT,0,11,0,3210,0,231.353208,None,3195.054949,0.215329
12,12,NaT,0,12,0,3210,0,365.845845,None,3560.900794,0.239985
13,13,NaT,0,13,0,3210,0,196.987944,None,3757.888738,0.253261
14,14,2017-06-05 08:50:26,0,14,0,3210,0,459.173799,NaN,4217.062537,0.284207
15,15,NaT,0,15,0,3210,0,657.314725,None,4874.377262,0.328506
16,16,NaT,0,16,0,3210,0,297.612589,None,5171.989851,0.348564
17,17,NaT,0,17,0,3210,0,205.457799,None,5377.447650,0.362410
18,18,NaT,0,18,0,3210,0,252.176514,None,5629.624164,0.379406
19,19,NaT,0,19,0,3210,0,298.156244,None,5927.780408,0.399500
20,20,NaT,0,20,0,3210,0,121.418523,None,6049.198931,0.407683
21,21,NaT,0,21,0,3210,0,252.296404,None,6301.495336,0.424686
22,22,NaT,0,22,0,3210,0,257.923451,None,6559.418787,0.442069
23,23,NaT,0,23,0,3210,0,181.010294,None,6740.429081,0.454268
24,24,NaT,0,24,0,3210,0,539.918985,None,7280.348066,0.490655
25,25,NaT,0,25,0,3210,0,196.231320,None,7476.579386,0.503880
26,26,NaT,0,26,0,3210,0,388.568741,None,7865.148127,0.530068
27,27,NaT,0,27,0,3210,0,496.069255,None,8361.217382,0.563500
28,28,NaT,0,28,0,3210,0,263.241905,None,8624.459287,0.581241
29,29,NaT,0,29,0,3210,0,157.656747,None,8782.116034,0.591866
30,30,NaT,0,30,0,3210,0,212.364857,None,8994.480891,0.606178
31,31,NaT,0,31,0,3210,0,292.290808,None,9286.771699,0.625877
32,32,NaT,0,32,0,3210,0,188.712597,None,9475.484296,0.638595
33,33,NaT,0,33,0,3210,0,320.145356,None,9795.629652,0.660171
34,34,NaT,0,34,0,3210,0,152.235644,None,9947.865296,0.670431
35,35,NaT,0,35,0,3210,0,319.701153,None,10267.566449,0.691977
36,36,NaT,0,36,0,3210,0,267.119031,None,10534.685480,0.709980
37,37,NaT,0,37,0,3210,0,93.067408,None,10627.752888,0.716252
38,38,NaT,0,38,0,3210,0,223.996229,None,10851.749117,0.731348
39,39,NaT,0,39,0,3210,0,315.641250,None,11167.390367,0.752621
40,40,NaT,0,40,0,3210,0,135.078087,None,11302.468454,0.761724
41,41,NaT,0,41,0,3210,0,189.288578,None,11491.757032,0.774481
42,42,NaT,0,42,0,3210,0,375.137808,None,11866.894840,0.799763
43,43,NaT,0,43,0,3210,0,310.205311,None,12177.100151,0.820669
44,44,NaT,0,44,0,3210,0,425.957944,None,12603.058094,0.849377
45,45,NaT,0,45,0,3210,0,317.825810,None,12920.883905,0.870796
46,46,NaT,0,46,0,3210,0,234.763366,None,13155.647271,0.886618
47,47,NaT,0,47,0,3210,0,173.236362,None,13328.883632,0.898293
48,48,NaT,0,48,0,3210,0,359.113457,None,13687.997089,0.922496
49,49,NaT,0,49,0,3210,0,222.572675,None,13910.569764,0.937496
50,50,NaT,0,50,0,3210,0,201.970692,None,14112.540456,0.951107
51,51,NaT,0,51,0,3210,0,185.153346,None,14297.693803,0.963586
52,52,NaT,0,52,0,3210,0,246.134167,None,14543.827970,0.980174
53,53,2017-06-05 11:21:04,0,53,0,3210,0,294.179825,9038.0,14838.007795,1.000000
54,54,NaT,0,54,0,3210,0,0.000000,None,14838.007795,1.000000

In [112]:
travl_df = df_feature_added_propotion.copy().drop('index',axis=1)
def fill_travel_time(group):
    group = group.reset_index()
    for i in range(len(group) - 1):
        if pd.notna(group.loc[i, 'RecordedAtTime']) and pd.notna(group.loc[i + 1, 'RecordedAtTime']):
            time_diff = (group.loc[i + 1, 'RecordedAtTime'] - group.loc[i, 'RecordedAtTime']).total_seconds()
            group.loc[i + 1, 'TravelTime'] = time_diff

    for i in range(len(group) - 1):
        start_idx = i
        while start_idx >= 0 and pd.isna(group.loc[start_idx, 'RecordedAtTime']):
            start_idx -= 1
        end_idx = i + 1
        while end_idx < len(group) and pd.isna(group.loc[end_idx, 'RecordedAtTime']):
            end_idx += 1
        
        if start_idx >= 0 and end_idx < len(group):
            total_time = (group.loc[end_idx, 'RecordedAtTime'] - group.loc[start_idx, 'RecordedAtTime']).total_seconds()
            total_distance = group.loc[start_idx + 1:end_idx, 'DistanceFromLastStop'].sum()
            
            # Proportionally distribute the travel time
            cumulative_distance = 0
            for j in range(start_idx + 1, end_idx + 1):
                if pd.isna(group.loc[j, 'TravelTime']):
                    distance = group.loc[j, 'DistanceFromLastStop']
                    group.loc[j, 'TravelTime'] = (distance / total_distance) * total_time

    # Handle records before the first available RecordedAtTime
    first_valid_idx = group[~group['RecordedAtTime'].isna()].index[0]
    first_valid_distance = group.loc[first_valid_idx+1, 'DistanceFromLastStop']
    first_valid_travel_time = group.loc[first_valid_idx+1, 'TravelTime']

    for i in range(first_valid_idx, -1, -1):
        if pd.isna(group.loc[i, 'TravelTime']):
            distance = group.loc[i, 'DistanceFromLastStop']
            group.loc[i, 'TravelTime'] = (distance / first_valid_distance) * first_valid_travel_time
    
    # Handle records after the last available RecordedAtTime
    last_valid_idx = group[~group['RecordedAtTime'].isna()].index[-1]
    last_valid_distance = group.loc[last_valid_idx, 'DistanceFromLastStop']
    last_valid_travel_time = group.loc[last_valid_idx, 'TravelTime']

    for i in range(last_valid_idx + 1, len(group)):
        if pd.isna(group.loc[i, 'RecordedAtTime']):
            distance = group.loc[i, 'DistanceFromLastStop']
            group.loc[i, 'TravelTime'] = (distance / last_valid_distance) * last_valid_travel_time

    return group

travl_df = travl_df.groupby('TripId', group_keys=False).apply(fill_travel_time).reset_index().drop(['level_0','index'],axis=1)

In [113]:
travl_df

,RecordedAtTime,DirectionRef,StopId,TripId,VehicleId,RouteId,DistanceFromLastStop,TravelTime,DistanceFromStart,ProportionFromStart
0,NaT,0,0,0,3210,0,0.000000,0,0.000000,0.000000
1,NaT,0,1,0,3210,0,269.828450,229.613228,269.828450,0.018185
2,NaT,0,2,0,3210,0,225.713983,192.07358,495.542433,0.033397
3,NaT,0,3,0,3210,0,366.586003,311.95004,862.128436,0.058103
4,NaT,0,4,0,3210,0,335.293195,285.321111,1197.421631,0.080700
...,...,...,...,...,...,...,...,...,...,...
49055,2017-06-25 20:23:38,0,50,1078,343,0,201.970692,33.936743,14112.540456,0.951107
49056,NaT,0,51,1078,343,0,185.153346,31.110957,14297.693803,0.963586
49057,NaT,0,52,1078,343,0,246.134167,41.357445,14543.827970,0.980174
49058,NaT,0,53,1078,343,0,294.179825,49.430464,14838.007795,1.000000
49059,NaT,0,54,1078,343,0,0.000000,0.0,14838.007795,1.000000

In [114]:
def fill_missing_recorded_at_time(group):
    group = group.reset_index()
    first_valid_idx = group[~group['RecordedAtTime'].isna()].index[0]
    first_valid_time = group.loc[first_valid_idx, 'RecordedAtTime']
    
    date = first_valid_time
    for i in range(first_valid_idx - 1, -1, -1):
        if pd.isna(group.loc[i, 'RecordedAtTime']):
            group.loc[i, 'RecordedAtTime'] = date - pd.to_timedelta(group.loc[i+1, 'TravelTime'], unit='s')
            date = group.loc[i, 'RecordedAtTime']
    
    date = first_valid_time
    for i in range(first_valid_idx + 1, len(group)):
        if pd.isna(group.loc[i, 'RecordedAtTime']):
            group.loc[i, 'RecordedAtTime'] = date + pd.to_timedelta(group.loc[i, 'TravelTime'], unit='s')
            date = group.loc[i, 'RecordedAtTime']
    
    return group


travl_df = travl_df.groupby('TripId', group_keys=False).apply(fill_missing_recorded_at_time).reset_index().drop(['level_0','index'],axis=1)
travl_df

,RecordedAtTime,DirectionRef,StopId,TripId,VehicleId,RouteId,DistanceFromLastStop,TravelTime,DistanceFromStart,ProportionFromStart
0,2017-06-05 07:50:37.448295315,0,0,0,3210,0,0.000000,0,0.000000,0.000000
1,2017-06-05 07:54:27.061523656,0,1,0,3210,0,269.828450,229.613228,269.828450,0.018185
2,2017-06-05 07:57:39.135103452,0,2,0,3210,0,225.713983,192.07358,495.542433,0.033397
3,2017-06-05 08:02:51.085143378,0,3,0,3210,0,366.586003,311.95004,862.128436,0.058103
4,2017-06-05 08:07:36.406253885,0,4,0,3210,0,335.293195,285.321111,1197.421631,0.080700
...,...,...,...,...,...,...,...,...,...,...
49055,2017-06-25 20:23:38.000000000,0,50,1078,343,0,201.970692,33.936743,14112.540456,0.951107
49056,2017-06-25 20:21:45.579741036,0,51,1078,343,0,185.153346,31.110957,14297.693803,0.963586
49057,2017-06-25 20:22:26.937186473,0,52,1078,343,0,246.134167,41.357445,14543.827970,0.980174
49058,2017-06-25 20:23:16.367650331,0,53,1078,343,0,294.179825,49.430464,14838.007795,1.000000
49059,2017-06-25 20:23:16.367650331,0,54,1078,343,0,0.000000,0.0,14838.007795,1.000000

In [115]:
travl_df.isna().sum()

RecordedAtTime          0
DirectionRef            0
StopId                  0
TripId                  0
VehicleId               0
RouteId                 0
DistanceFromLastStop    0
TravelTime              0
DistanceFromStart       0
ProportionFromStart     0
dtype: int64

In [59]:
# create node features (DirectionRef, VehicleId, RouteId, DistanceFromStart)
normalized_df = travl_df.copy()

normalized_df['DistanceFromStart'] = (normalized_df['DistanceFromStart'] - normalized_df['DistanceFromStart'].min()) / \
                          (normalized_df['DistanceFromStart'].max() - normalized_df['DistanceFromStart'].min())

features = normalized_df[['DirectionRef', 'VehicleId', 'RouteId', 'DistanceFromStart']].values    # Combine features

num_nodes = 55
num_snapshots = len(normalized_df) // num_nodes
node_features_snapshots = features.reshape(num_snapshots, num_nodes, -1)

In [153]:
# file_path = "Preprocess/node_features_s61_0.pt"
# torch.save(node_features_snapshots, file_path)

In [60]:
print(f"Dataset rows: {len(normalized_df)}")
print(f"Expected rows: {1087 * 55}")

Dataset rows: 59345
Expected rows: 59785

In [65]:
# create target
target = normalized_df['TravelTime'].values.reshape(num_snapshots, num_nodes)

In [155]:
# file_path = "Preprocess/target_s61_0.pt"
# torch.save(target, file_path)

In [116]:
# view inputs and attributes
display(edge_index.shape)
display(edge_attr.shape)
display(node_features_snapshots.shape)
display(target.shape)

torch.Size([2, 54])

torch.Size([54, 1])

(1079, 55, 4)

(1079, 55)

In [126]:
# creating data objects
import torch
from torch_geometric.data import Data
from torch_geometric.loader import DataLoader

def create_graphs(node_features, edge_index, edge_attr, target):
    graphs = []
    for t in range(node_features_snapshots.shape[0]):
        graph = Data(x=torch.tensor(node_features_snapshots[t]), 
             edge_index=torch.tensor(edge_index), 
             edge_attr=torch.tensor(edge_attr), 
             y=torch.tensor(target[t]))
        graphs.append(graph)
    return graphs

graphs = create_graphs(node_features=node_features_snapshots, edge_index=edge_index, edge_attr=edge_attr, target=target)
dataloader = DataLoader(graphs, batch_size=1, shuffle=False)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24552\2969496334.py:10: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  edge_index=torch.tensor(edge_index),
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_24552\2969496334.py:11: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.clone().detach() or sourceTensor.clone().detach().requires_grad_(True), rather than torch.tensor(sourceTensor).
  edge_attr=torch.tensor(edge_attr),

In [127]:
import torch
import torch.nn as nn
from torch_geometric.nn import GCNConv

class GCNGRUModel(nn.Module):
    def __init__(self, in_channels, hidden_channels, out_channels, num_nodes, edge_attr_dim):
        super(GCNGRUModel, self).__init__()
        self.num_nodes = num_nodes
        self.hidden_channels = hidden_channels

        self.gcn = GCNConv(in_channels, hidden_channels)
        self.gru = nn.GRU(hidden_channels, hidden_channels, batch_first=True)
        self.fc = nn.Linear(hidden_channels, out_channels)

    def forward(self, x, edge_index, edge_attr, h):
        # x: (batch_size, num_nodes, in_channels)
        # edge_attr: (batch_size, num_edges, edge_attr_dim)
        # h: (1, batch_size, hidden_channels)

        batch_size, num_nodes, _ = x.size()
        spatial_features = []

        # Apply GCN with edge attributes for each graph in the batch
        for b in range(batch_size):
            graph_x = x[b]                                                      # Node features for one graph
            edge_attr_b = edge_attr[b]                                          # Edge attributes for one graph
            spatial_x = self.gcn(graph_x, edge_index, edge_weight=edge_attr_b)  # Use edge attributes
            spatial_features.append(spatial_x)

        # Stack spatial features: (batch_size, num_nodes, hidden_channels)
        spatial_features = torch.stack(spatial_features, dim=0)

        # Reshape for GRU: (batch_size, num_nodes, hidden_channels)
        spatial_features = spatial_features.view(batch_size, num_nodes, -1)

        # GRU for temporal processing
        temporal_out, h = self.gru(spatial_features, h)  # (batch_size, num_nodes, hidden_channels)

        # Final output: Apply FC layer on each node's features
        out = self.fc(temporal_out)  # (batch_size, num_nodes, out_channels)
        return out, h

In [136]:
# train , test , val split
from torch.utils.data import Subset

dataset_size = len(graphs)

train_size = int(0.7 * dataset_size)  # 70% training
val_size = int(0.15 * dataset_size)   # 15% validation
test_size = dataset_size - train_size - val_size  # Remaining 15% for testing

# Create indices for each split
train_indices = range(0, train_size)
val_indices = range(train_size, train_size + val_size)
test_indices = range(train_size + val_size, dataset_size)

train_dataset = Subset(graphs, train_indices)
val_dataset = Subset(graphs, val_indices)
test_dataset = Subset(graphs, test_indices)


batch_size = 1 

train_loader = DataLoader(train_dataset, batch_size=batch_size, shuffle=False)
val_loader = DataLoader(val_dataset, batch_size=batch_size, shuffle=False)
test_loader = DataLoader(test_dataset, batch_size=batch_size, shuffle=False)

In [137]:
import torch.optim as optim

in_channels = node_features_snapshots.shape[2] 
hidden_channels = 64
out_channels = target.shape[2] if target.ndim == 3 else 1 
num_nodes = node_features_snapshots.shape[1] 
edge_attr_dim = edge_attr.shape[1]

model = GCNGRUModel(in_channels, hidden_channels, out_channels, num_nodes, edge_attr_dim)
model = model.to('cuda' if torch.cuda.is_available() else 'cpu')

criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

h = torch.zeros(1, 1, hidden_channels, device='cuda' if torch.cuda.is_available() else 'cpu')

num_epochs = 100
for epoch in range(num_epochs):
    model.train()
    total_loss = 0
    
    for data in train_loader:
        # Move data to device
        data = data.to('cuda' if torch.cuda.is_available() else 'cpu')
        x = data.x.view(1, data.num_nodes, -1)  
        edge_index = data.edge_index  
        edge_attr = data.edge_attr.view(1, -1, edge_attr.shape[-1])
        y = data.y.view(1, data.num_nodes, -1)

        # Forward pass
        optimizer.zero_grad()
        out, h = model(x.float(), edge_index, edge_attr.float(), h.detach())  # Detach h to avoid backprop through time

        # Compute loss
        loss = criterion(out.float().squeeze(), y.float().squeeze())          # Remove batch dimension for loss calculation
        loss.backward()

        # Update parameters
        optimizer.step()

        total_loss += loss.item()
    print(f"Epoch {epoch+1}/{num_epochs}, Loss: {total_loss / len(dataloader):.4f}")

    # Validation phase
    model.eval()
    val_loss = 0
    with torch.no_grad():
        h = torch.zeros(1, 1, hidden_channels, device='cuda' if torch.cuda.is_available() else 'cpu')
        for data in val_loader:
            # Move data to device
            data = data.to('cuda' if torch.cuda.is_available() else 'cpu')
            x = data.x.view(1, data.num_nodes, -1)
            edge_index = data.edge_index
            edge_attr = data.edge_attr.view(1, -1, edge_attr.shape[-1])
            y = data.y.view(1, data.num_nodes, -1)

            # Forward pass
            out, h = model(x.float(), edge_index, edge_attr.float(), h)
            loss = criterion(out.float().squeeze(), y.float().squeeze())
            val_loss += loss.item()

    print(f"Epoch {epoch+1}/{num_epochs}, Validation Loss: {val_loss / len(val_loader):.4f}")

print("Training complete!")

Epoch 1/100, Loss: 7238889746.5739
Epoch 1/100, Validation Loss: 7255979633.7042
Epoch 2/100, Loss: 7238704755.9601
Epoch 2/100, Validation Loss: 7255762898.2099
Epoch 3/100, Loss: 7238547425.5066
Epoch 3/100, Validation Loss: 7255553391.9705
Epoch 4/100, Loss: 7238389240.1100
Epoch 4/100, Validation Loss: 7255346840.7628
Epoch 5/100, Loss: 7238234327.7785
Epoch 5/100, Validation Loss: 7255143209.2697
Epoch 6/100, Loss: 7238079866.2009
Epoch 6/100, Validation Loss: 7254941029.2240
Epoch 7/100, Loss: 7237925789.0888
Epoch 7/100, Validation Loss: 7254738118.8584
Epoch 8/100, Loss: 7237771499.7220
Epoch 8/100, Validation Loss: 7254518895.5410
Epoch 9/100, Loss: 7237609894.4671
Epoch 9/100, Validation Loss: 7254293382.6152
Epoch 10/100, Loss: 7237445665.8853
Epoch 10/100, Validation Loss: 7254084807.0141
Epoch 11/100, Loss: 7237288004.2029
Epoch 11/100, Validation Loss: 7253851911.3044
Epoch 12/100, Loss: 7237120757.0067
Epoch 12/100, Validation Loss: 7253640359.1763
Epoch 13/100, Loss: 7236962486.8303
Epoch 13/100, Validation Loss: 7253429841.3660
Epoch 14/100, Loss: 7236804613.4299
Epoch 14/100, Validation Loss: 7253220904.8248
Epoch 15/100, Loss: 7236647381.0252
Epoch 15/100, Validation Loss: 7253010741.1119
Epoch 16/100, Loss: 7236490520.9081
Epoch 16/100, Validation Loss: 7252801593.1579
Epoch 17/100, Loss: 7236334172.6174
Epoch 17/100, Validation Loss: 7252592758.4524
Epoch 18/100, Loss: 7236177847.9677
Epoch 18/100, Validation Loss: 7252444166.1469
Epoch 19/100, Loss: 7236047783.1370
Epoch 19/100, Validation Loss: 7252177539.1286
Epoch 20/100, Loss: 7235866815.2055
Epoch 20/100, Validation Loss: 7251968705.4684
Epoch 21/100, Loss: 7235710357.7758
Epoch 21/100, Validation Loss: 7251761722.6755
Epoch 22/100, Loss: 7235554580.5401
Epoch 22/100, Validation Loss: 7251623411.7696
Epoch 23/100, Loss: 7235429118.2246
Epoch 23/100, Validation Loss: 7251498644.9864
Epoch 24/100, Loss: 7235311050.9556
Epoch 24/100, Validation Loss: 7251222205.9350
Epoch 25/100, Loss: 7235126606.8200
Epoch 25/100, Validation Loss: 7251179639.5797
Epoch 26/100, Loss: 7235043573.4927
Epoch 26/100, Validation Loss: 7251070716.5981
Epoch 27/100, Loss: 7234933153.3822
Epoch 27/100, Validation Loss: 7250794509.9979
Epoch 28/100, Loss: 7234748698.3177
Epoch 28/100, Validation Loss: 7250515175.3333
Epoch 29/100, Loss: 7234570057.9633
Epoch 29/100, Validation Loss: 7250130821.3772
Epoch 30/100, Loss: 7234331429.7546
Epoch 30/100, Validation Loss: 7249923922.4167
Epoch 31/100, Loss: 7234177446.3074
Epoch 31/100, Validation Loss: 7250019519.4310
Epoch 32/100, Loss: 7234186776.3979
Epoch 32/100, Validation Loss: 7250337106.3026
Epoch 33/100, Loss: 7234354144.2330
Epoch 33/100, Validation Loss: 7251444598.1491
Epoch 34/100, Loss: 7234654059.3395
Epoch 34/100, Validation Loss: 7250684325.4516
Epoch 35/100, Loss: 7234580885.1400
Epoch 35/100, Validation Loss: 7249956498.5510
Epoch 36/100, Loss: 7234209554.5218
Epoch 36/100, Validation Loss: 7249774256.6798
Epoch 37/100, Loss: 7234074783.1453
Epoch 37/100, Validation Loss: 7249596304.3848
Epoch 38/100, Loss: 7233941604.8794
Epoch 38/100, Validation Loss: 7249419107.9060
Epoch 39/100, Loss: 7233809445.2646
Epoch 39/100, Validation Loss: 7249244271.5604
Epoch 40/100, Loss: 7233677745.8469
Epoch 40/100, Validation Loss: 7249068568.7697
Epoch 41/100, Loss: 7233546089.2118
Epoch 41/100, Validation Loss: 7248893515.9158
Epoch 42/100, Loss: 7233414835.9317
Epoch 42/100, Validation Loss: 7248718025.3395
Epoch 43/100, Loss: 7233283509.2682
Epoch 43/100, Validation Loss: 7248544403.7292
Epoch 44/100, Loss: 7233152674.9455
Epoch 44/100, Validation Loss: 7248370056.8410
Epoch 45/100, Loss: 7233021745.9778
Epoch 45/100, Validation Loss: 7248194903.0786
Epoch 46/100, Loss: 7232891460.9515
Epoch 46/100, Validation Loss: 7248021639.0836
Epoch 47/100, Loss: 7232761092.3368
Epoch 47/100, Validation Loss: 7247847921.2434
Epoch 48/100, Loss: 7232630901.7675
Epoch 48/100, Validation Loss: 7247674166.0678
Epoch 49/100, Loss: 7232500943.6572
Epoch 49/100, Validation Loss: 7247502009.7082
Epoch 50/100, Loss: 7232370863.7959
Epoch 50/100, Validation Loss: 7247328732.9766
Epoch 51/100, Loss: 7232241085.3819
Epoch 51/100, Validation Loss: 7247156124.0020
Epoch 52/100, Loss: 7232111338.9378
Epoch 52/100, Validation Loss: 7246983056.3137
Epoch 53/100, Loss: 7231982006.9606
Epoch 53/100, Validation Loss: 7246810636.2105
Epoch 54/100, Loss: 7231852720.2958
Epoch 54/100, Validation Loss: 7246639077.7844
Epoch 55/100, Loss: 7231724006.7205
Epoch 55/100, Validation Loss: 7246466368.3261
Epoch 56/100, Loss: 7231594879.8105
Epoch 56/100, Validation Loss: 7246296563.3606
Epoch 57/100, Loss: 7231466073.1029
Epoch 57/100, Validation Loss: 7246125155.0962
Epoch 58/100, Loss: 7231337642.0071
Epoch 58/100, Validation Loss: 7245953620.2520
Epoch 59/100, Loss: 7231209176.5560
Epoch 59/100, Validation Loss: 7245783119.9910
Epoch 60/100, Loss: 7231080830.2891
Epoch 60/100, Validation Loss: 7245612593.6703
Epoch 61/100, Loss: 7230952901.3983
Epoch 61/100, Validation Loss: 7245441560.2648
Epoch 62/100, Loss: 7230824891.7600
Epoch 62/100, Validation Loss: 7245271732.5090
Epoch 63/100, Loss: 7230697229.9859
Epoch 63/100, Validation Loss: 7245101306.2453
Epoch 64/100, Loss: 7230569590.3820
Epoch 64/100, Validation Loss: 7244932456.8599
Epoch 65/100, Loss: 7230442309.2509
Epoch 65/100, Validation Loss: 7244761890.4376
Epoch 66/100, Loss: 7230314713.1399
Epoch 66/100, Validation Loss: 7244593249.2549
Epoch 67/100, Loss: 7230187877.7943
Epoch 67/100, Validation Loss: 7244424214.8365
Epoch 68/100, Loss: 7230061099.7472
Epoch 68/100, Validation Loss: 7244254629.9088
Epoch 69/100, Loss: 7229934080.6468
Epoch 69/100, Validation Loss: 7244086901.4451
Epoch 70/100, Loss: 7229807588.7599
Epoch 70/100, Validation Loss: 7243917961.6975
Epoch 71/100, Loss: 7229681148.6046
Epoch 71/100, Validation Loss: 7243750506.4468
Epoch 72/100, Loss: 7229554576.7435
Epoch 72/100, Validation Loss: 7243581991.3705
Epoch 73/100, Loss: 7229428615.9827
Epoch 73/100, Validation Loss: 7243414161.5979
Epoch 74/100, Loss: 7229302838.4760
Epoch 74/100, Validation Loss: 7243246856.8549
Epoch 75/100, Loss: 7229176663.1641
Epoch 75/100, Validation Loss: 7243079186.7594
Epoch 76/100, Loss: 7229051366.2982
Epoch 76/100, Validation Loss: 7242912618.2407
Epoch 77/100, Loss: 7228925925.0754
Epoch 77/100, Validation Loss: 7242745971.0361
Epoch 78/100, Loss: 7228800595.2550
Epoch 78/100, Validation Loss: 7242579318.5552
Epoch 79/100, Loss: 7228675640.7859
Epoch 79/100, Validation Loss: 7242412256.3259
Epoch 80/100, Loss: 7228550262.8319
Epoch 80/100, Validation Loss: 7242245877.1758
Epoch 81/100, Loss: 7228425332.1617
Epoch 81/100, Validation Loss: 7242081306.5998
Epoch 82/100, Loss: 7228300920.7703
Epoch 82/100, Validation Loss: 7241914804.4441
Epoch 83/100, Loss: 7228176404.6702
Epoch 83/100, Validation Loss: 7241750090.2299
Epoch 84/100, Loss: 7228052335.8255
Epoch 84/100, Validation Loss: 7241584035.4503
Epoch 85/100, Loss: 7227927764.6886
Epoch 85/100, Validation Loss: 7241419397.4646
Epoch 86/100, Loss: 7227803859.4974
Epoch 86/100, Validation Loss: 7241254714.5059
Epoch 87/100, Loss: 7227680062.8463
Epoch 87/100, Validation Loss: 7241090337.8700
Epoch 88/100, Loss: 7227556001.4836
Epoch 88/100, Validation Loss: 7240925810.6398
Epoch 89/100, Loss: 7227432883.0338
Epoch 89/100, Validation Loss: 7240762402.2260
Epoch 90/100, Loss: 7227309025.3826
Epoch 90/100, Validation Loss: 7240597833.0887
Epoch 91/100, Loss: 7227185998.4244
Epoch 91/100, Validation Loss: 7240434005.8062
Epoch 92/100, Loss: 7227062807.1274
Epoch 92/100, Validation Loss: 7240269708.3386
Epoch 93/100, Loss: 7226939999.0535
Epoch 93/100, Validation Loss: 7240107467.3426
Epoch 94/100, Loss: 7226817255.6521
Epoch 94/100, Validation Loss: 7239944610.2365
Epoch 95/100, Loss: 7226694339.3307
Epoch 95/100, Validation Loss: 7239780541.7313
Epoch 96/100, Loss: 7226571822.4913
Epoch 96/100, Validation Loss: 7239618743.5493
Epoch 97/100, Loss: 7226449982.9251
Epoch 97/100, Validation Loss: 7239456201.8870
Epoch 98/100, Loss: 7226327821.3828
Epoch 98/100, Validation Loss: 7239294357.6582
Epoch 99/100, Loss: 7226205927.1682
Epoch 99/100, Validation Loss: 7239131668.1661
Epoch 100/100, Loss: 7226083983.8050
Epoch 100/100, Validation Loss: 7238970576.0374
Training complete!

In [ ]:
# Test Phase
from torchmetrics.functional import mean_absolute_error, mean_squared_error

model.eval()
test_loss_mse = 0
test_loss_mae = 0
test_loss_mape = 0
n_samples = 0

with torch.no_grad():
    h = torch.zeros(1, 1, hidden_channels, device='cuda' if torch.cuda.is_available() else 'cpu')
    for data in test_loader:
        data = data.to('cuda' if torch.cuda.is_available() else 'cpu')
        x = data.x.view(1, data.num_nodes, -1)
        edge_index = data.edge_index
        edge_attr = data.edge_attr.view(1, -1, edge_attr.shape[-1])
        y = data.y.view(1, data.num_nodes, -1)

        # Forward pass
        out, h = model(x.float(), edge_index, edge_attr.float(), h)

        # Convert to appropriate shape
        y_pred = out.float().squeeze()
        y_true = y.float().squeeze()

        # MSE
        test_loss_mse += mean_squared_error(y_pred, y_true).item()

        # MAE
        test_loss_mae += mean_absolute_error(y_pred, y_true).item()

        # MAPE
        # Avoid division by zero by filtering out small true values
        valid_mask = y_true != 0
        mape = (torch.abs((y_pred[valid_mask] - y_true[valid_mask]) / y_true[valid_mask])).mean() * 100
        test_loss_mape += mape.item()

        n_samples += 1

# Average across all batches
test_loss_mse /= n_samples
test_loss_mae /= n_samples
test_loss_mape /= n_samples

print(f"Test MSE: {test_loss_mse:.4f}")
print(f"Test MAE: {test_loss_mae:.4f}")
print(f"Test MAPE: {test_loss_mape:.2f}%")

Test MSE: 6389620032.5256
Test MAE: 11687.4977
Test MAPE: nan%

In [147]:
valid_mask

tensor([True, True, True, True, True, True, True, True, True, True, True, True,
        True, True, True, True, True, True, True, True, True, True, True, True,
        True, True, True, True, True, True, True, True, True, True, True, True,
        True, True, True, True, True, True, True, True, True, True, True, True,
        True, True, True, True, True, True, True])

In [139]:
y_pred

tensor([773.1844, 773.1844, 773.1844, 773.1844, 773.1844, 773.1844, 773.1844,
        773.1844, 773.1844, 773.1844, 773.1844, 773.1844, 773.1844, 773.1844,
        773.1844, 773.1844, 773.1844, 773.1844, 773.1844, 773.1844, 773.1844,
        773.1844, 773.1844, 773.1844, 773.1844, 773.1844, 773.1844, 773.1844,
        773.1844, 773.1844, 773.1844, 773.1844, 773.1844, 773.1844, 773.1844,
        773.1844, 773.1844, 773.1844, 773.1844, 773.1844, 773.1844, 773.1844,
        773.1844, 773.1844, 773.1844, 773.1844, 773.1844, 773.1844, 773.1844,
        773.1844, 773.1844, 773.1844, 773.1844, 773.1844, 773.1844])

In [140]:
y_true

tensor([ 714.6747,  714.6868,  714.6968,  714.7133,  714.7282,  714.7451,
         714.7609,  714.7717,  714.7885,  714.7984,  714.8071,  714.8174,
         714.8338,  714.8426,  714.8632,  714.8925,  714.9058,  714.9150,
         714.9263,  714.9396,  714.9450,  714.9562,  714.9678,  714.9759,
         715.0000, 1147.5242, 1147.5520, 1147.5876, 1147.6064, 1147.6178,
        1147.6331, 1147.6539, 1147.6675, 1147.6904, 1147.7014, 1147.7242,
        1147.7434, 1147.7501, 1147.7662, 1147.7888, 1147.7985, 1147.8120,
        1147.8390, 1147.8612, 1147.8917, 1147.9146, 1147.9314, 1147.9438,
        1147.9696, 1147.9855, 1148.0000, 1148.0133, 1148.0309, 1148.0520,
        1148.0520])

#### functions for model training

In [ ]:
# create edge indexes, node features, edge attributes, targets
def preprocess(dataframe):
    return None

In [ ]:
# create data loaders
def create_dataset():

    return train_dataloader, test_dataloader, validation_dataloader

In [ ]:
# train the model
def train():
    return model

In [ ]:
# evaluate the model
def evaluate():
    return