### View Datasets

In [25]:
import pandas as pd

treatedBusDataOnlyRoute = pd.read_csv('../treatedBusDataOnlyRoute.csv')
# treatedGPSDataWithoutEmptyLinesSeparateColumns = pd.read_csv('../treatedGPSDataWithoutEmptyLinesSeparateColumns.csv')

In [27]:
treatedBusDataOnlyRoute

                date      time   order   line   latitude  longitude  speed
0         01-25-2019  08:50:39  C51623  371.0 -22.883270 -43.342560   37.0
1         01-25-2019  08:55:43  C51556  371.0 -22.887461 -43.282730    8.0
2         01-25-2019  08:56:37  C51641  371.0 -22.884029 -43.342510   19.0
3         01-25-2019  08:57:24  C51649  371.0 -22.881630 -43.293240   15.0
4         01-25-2019  08:57:27  C51561  371.0 -22.907370 -43.237610   13.0
...              ...       ...     ...    ...        ...        ...    ...
59183740  03-21-2019  08:35:04  D13122  383.0 -22.905149 -43.269329    0.0
59183741  03-21-2019  08:35:06  D13054  383.0 -22.916090 -43.230110    0.0
59183742  03-21-2019  08:35:08  D13076  383.0 -22.882780 -43.345970   42.0
59183743  03-21-2019  08:35:12  D13330  383.0 -22.903990 -43.278610   27.0
59183744  03-21-2019  08:35:23  D13018  383.0 -22.890471 -43.424801    0.0

[59183745 rows x 7 columns]

In [4]:
treatedGPSDataWithoutEmptyLinesSeparateColumns

                 date      time   order   line   latitude  longitude  speed
0          01-25-2019  00:03:05  B27178  639.0 -22.816891 -43.301788   0.00
1          01-25-2019  00:07:29  D13324  731.0 -22.874250 -43.357971  37.00
2          01-25-2019  00:07:59  D13324  731.0 -22.880329 -43.357670  37.00
3          01-25-2019  00:17:31  D13150  SV790 -22.858509 -43.348221  59.00
4          01-25-2019  00:19:26  D13195  756.0 -22.883600 -43.552929   0.00
...               ...       ...     ...    ...        ...        ...    ...
195752361  03-21-2019  08:35:35  A72076  507.0 -22.945139 -43.206226  15.37
195752362  03-21-2019  08:35:35  A72099  691.0 -22.995218 -43.359436   0.00
195752363  03-21-2019  08:35:35  A72122  105.0 -22.950060 -43.191422  20.56
195752364  03-21-2019  08:35:35  A72157  422.0 -22.924440 -43.265965  17.59
195752365  03-21-2019  08:35:35  C82646  363.0 -22.906000 -43.194141  31.30

[195752366 rows x 7 columns]

In [12]:
# check for null values
print('first dataset:')
display(treatedBusDataOnlyRoute.isna().sum())

print('\n\nsecond dataset:')
display(treatedGPSDataWithoutEmptyLinesSeparateColumns.isna().sum())

first dataset:

date         0
time         0
order        0
line         0
latitude     0
longitude    0
speed        0
dtype: int64

second dataset:

date         0
time         0
order        0
line         0
latitude     0
longitude    0
speed        0
dtype: int64

In [8]:
# check the unique values of buses
print('unique buses in first dataset:')
print(treatedBusDataOnlyRoute['order'].unique())

print('\nunique buses in second dataset:')
print(treatedGPSDataWithoutEmptyLinesSeparateColumns['order'].unique())

unique buses in first dataset:
['C51623' 'C51556' 'C51641' ... 'D53676' 'D53523' 'D53530']

unique buses in second dataset:
['B27178' 'D13324' 'D13150' ... 'A27642' 'B10039' 'B10078']

In [33]:
# order according to date
bus_data = treatedBusDataOnlyRoute.copy()
bus_data = bus_data.sort_values(by=['date','line'])
bus_data.iloc[50:100]

               date      time   order  line   latitude  longitude  speed
2428612  01-25-2019  09:24:12  A72037   6.0 -22.909946 -43.182304  37.97
2428613  01-25-2019  09:24:25  A72067   6.0 -22.907291 -43.182850  12.96
2428614  01-25-2019  09:25:08  A72058   6.0 -22.916098 -43.181896   2.78
2428615  01-25-2019  09:25:12  A72036   6.0 -22.944962 -43.208126  25.00
2428616  01-25-2019  09:25:22  A72037   6.0 -22.908550 -43.178284  14.82
2428617  01-25-2019  09:26:22  A72036   6.0 -22.944559 -43.205425  32.60
2428618  01-25-2019  09:26:29  A72078   6.0 -22.925510 -43.190380  14.08
2428619  01-25-2019  09:26:33  A72143   6.0 -22.921591 -43.185970   0.00
2428620  01-25-2019  09:27:04  A72078   6.0 -22.924719 -43.189838  12.78
2428621  01-25-2019  09:27:19  A72067   6.0 -22.910160 -43.184078   0.37
2428622  01-25-2019  09:27:32  A72036   6.0 -22.944841 -43.204353  20.93
2428623  01-25-2019  09:28:03  A72058   6.0 -22.912878 -43.181789   5.56
2428624  01-25-2019  09:29:13  A72058   6.0 -22.911182 -43.182575   0.93
2428625  01-25-2019  09:29:20  A72067   6.0 -22.912460 -43.183155   0.37
2428626  01-25-2019  09:29:27  A72037   6.0 -22.907068 -43.173443   0.37
2428627  01-25-2019  09:30:27  A72036   6.0 -22.944700 -43.208015  28.34
2428628  01-25-2019  09:30:33  A72067   6.0 -22.914022 -43.182541   2.04
2428629  01-25-2019  09:31:02  A72036   6.0 -22.943558 -43.208630  11.48
2428630  01-25-2019  09:31:13  A72143   6.0 -22.927843 -43.193680  20.56
2428631  01-25-2019  09:32:06  A72073   6.0 -22.939009 -43.208523  22.59
2428632  01-25-2019  09:34:26  A72073   6.0 -22.943617 -43.208645  21.30
2428633  01-25-2019  09:36:24  A72073   6.0 -22.944336 -43.204556  22.96
2428634  01-25-2019  09:36:59  A72073   6.0 -22.945072 -43.204567   8.33
2428635  01-25-2019  09:37:59  A72142   6.0 -22.920752 -43.184792  19.82
2428636  01-25-2019  09:38:24  A72078   6.0 -22.911144 -43.182556   3.33
2428637  01-25-2019  09:38:28  A72143   6.0 -22.936724 -43.203907   7.96
2428638  01-25-2019  09:39:03  A72143   6.0 -22.937309 -43.203617   9.45
2428639  01-25-2019  09:39:10  A72060   6.0 -22.907087 -43.182228  17.78
2428640  01-25-2019  09:39:15  A72067   6.0 -22.923788 -43.187454  11.11
2428641  01-25-2019  09:39:19  A72073   6.0 -22.944626 -43.205570   0.37
2428642  01-25-2019  09:40:09  A72078   6.0 -22.910019 -43.182545  26.11
2428643  01-25-2019  09:40:22  A72073   6.0 -22.945339 -43.206696  14.45
2428644  01-25-2019  09:40:31  A72067   6.0 -22.924776 -43.188789  21.11
2428645  01-25-2019  09:40:57  A72073   6.0 -22.945616 -43.207722   1.11
2428646  01-25-2019  09:41:06  A72067   6.0 -22.924847 -43.189812  15.00
2428647  01-25-2019  09:41:19  A72078   6.0 -22.908766 -43.178886   2.59
2428648  01-25-2019  09:41:23  A72143   6.0 -22.938540 -43.207363   7.59
2428649  01-25-2019  09:42:07  A72073   6.0 -22.945557 -43.207615   0.37
2428650  01-25-2019  09:42:33  A72143   6.0 -22.939745 -43.209732  11.11
2428651  01-25-2019  09:44:26  A72060   6.0 -22.913601 -43.182674   1.67
2428652  01-25-2019  09:44:58  A72060   6.0 -22.913841 -43.182545   1.67
2428653  01-25-2019  09:45:34  A72142   6.0 -22.910297 -43.182919   0.00
2428654  01-25-2019  09:46:10  A72142   6.0 -22.909996 -43.182339  28.15
2428655  01-25-2019  09:47:12  A72073   6.0 -22.940718 -43.210178  14.26
2428656  01-25-2019  09:48:07  A72037   6.0 -22.910089 -43.184128  13.89
2428657  01-25-2019  09:48:14  A72036   6.0 -22.919638 -43.183815  29.26
2428658  01-25-2019  09:48:23  A72143   6.0 -22.945194 -43.206432   9.63
2428659  01-25-2019  09:48:42  A72067   6.0 -22.938553 -43.207443  21.67
2428660  01-25-2019  09:49:32  A72073   6.0 -22.937788 -43.205940  22.41
2428661  01-25-2019  09:50:07  A72073   6.0 -22.937229 -43.203506  22.22

In [2]:
# order according to buses
allbus_data = treatedGPSDataWithoutEmptyLinesSeparateColumns.copy()
allbus_data = allbus_data.sort_values(by=['date','line'])
allbus_data.head(50)

             date      time   order  line   latitude  longitude  speed
1116   01-25-2019  08:56:38  A72167  10.0 -22.902731 -43.191002   0.19
3940   01-25-2019  08:57:57  A72063  10.0 -22.900911 -43.179108   2.96
5150   01-25-2019  08:58:10  A72077  10.0 -22.914486 -43.188545   0.19
5306   01-25-2019  08:58:12  A72049  10.0 -22.901937 -43.191875   5.93
6052   01-25-2019  08:58:26  A72057  10.0 -22.910173 -43.173271  23.34
6274   01-25-2019  08:58:31  A72080  10.0 -22.913355 -43.181099  22.59
8169   01-25-2019  08:58:58  A72167  10.0 -22.902695 -43.191116   0.37
8487   01-25-2019  08:59:01  A72057  10.0 -22.909916 -43.172565   0.00
8995   01-25-2019  08:59:06  A72080  10.0 -22.913101 -43.182007   7.04
9090   01-25-2019  08:59:07  A72063  10.0 -22.902979 -43.178169   5.37
9970   01-25-2019  08:59:19  A72077  10.0 -22.914722 -43.188454   4.07
10206  01-25-2019  08:59:23  A72049  10.0 -22.898027 -43.195549  46.11
13856  01-25-2019  09:00:11  A72057  10.0 -22.908430 -43.172367  11.48
14120  01-25-2019  09:00:16  A72080  10.0 -22.912922 -43.182743   0.56
14168  01-25-2019  09:00:17  A72063  10.0 -22.903433 -43.178226   2.78
14823  01-25-2019  09:00:29  A72077  10.0 -22.917229 -43.188354  16.85
15102  01-25-2019  09:00:33  A72049  10.0 -22.894375 -43.196320   2.22
17179  01-25-2019  09:01:04  A72077  10.0 -22.917788 -43.188183   2.04
17392  01-25-2019  09:01:07  A72049  10.0 -22.893631 -43.195633  30.56
18200  01-25-2019  09:01:21  A72057  10.0 -22.905325 -43.173744   1.48
18493  01-25-2019  09:01:26  A72080  10.0 -22.912762 -43.183651   0.56
18562  01-25-2019  09:01:27  A72063  10.0 -22.904287 -43.177963   1.11
20679  01-25-2019  09:01:53  A72167  10.0 -22.902748 -43.191154   0.00
21293  01-25-2019  09:02:01  A72080  10.0 -22.912500 -43.185955  31.11
21409  01-25-2019  09:02:02  A72063  10.0 -22.904434 -43.177975   0.19
22334  01-25-2019  09:02:14  A72077  10.0 -22.917545 -43.188305   8.70
22623  01-25-2019  09:02:18  A72049  10.0 -22.893669 -43.192940   0.00
23396  01-25-2019  09:02:31  A72057  10.0 -22.904694 -43.174133   5.37
25944  01-25-2019  09:03:06  A72057  10.0 -22.903524 -43.174995   0.00
26419  01-25-2019  09:03:11  A72080  10.0 -22.911900 -43.187824   1.67
26522  01-25-2019  09:03:12  A72063  10.0 -22.905117 -43.177200   1.67
27384  01-25-2019  09:03:24  A72077  10.0 -22.916328 -43.188267   4.26
27635  01-25-2019  09:03:28  A72049  10.0 -22.893518 -43.192028   0.00
29466  01-25-2019  09:03:54  A72153  10.0 -22.903252 -43.190762   2.04
30410  01-25-2019  09:04:03  A72049  10.0 -22.893499 -43.192013   0.00
31608  01-25-2019  09:04:16  A72057  10.0 -22.902718 -43.175579   4.82
31880  01-25-2019  09:04:21  A72080  10.0 -22.912107 -43.188557   2.59
31923  01-25-2019  09:04:22  A72063  10.0 -22.905218 -43.177666   0.19
32502  01-25-2019  09:04:33  A72077  10.0 -22.915438 -43.188419   0.37
34352  01-25-2019  09:04:57  A72063  10.0 -22.906322 -43.176762  16.11
35462  01-25-2019  09:05:09  A72077  10.0 -22.915146 -43.188217   8.70
35743  01-25-2019  09:05:13  A72049  10.0 -22.893984 -43.190971  12.96
36313  01-25-2019  09:05:26  A72057  10.0 -22.900642 -43.178047  11.30
36510  01-25-2019  09:05:31  A72080  10.0 -22.912121 -43.188622   0.37
39237  01-25-2019  09:06:01  A72057  10.0 -22.900644 -43.178471   0.00
39566  01-25-2019  09:06:05  A72080  10.0 -22.912128 -43.188686   0.93
39709  01-25-2019  09:06:07  A72063  10.0 -22.908451 -43.174419   3.33
40309  01-25-2019  09:06:19  A72077  10.0 -22.915001 -43.187458   5.37
40433  01-25-2019  09:06:23  A72049  10.0 -22.894527 -43.189945   0.00
44177  01-25-2019  09:07:11  A72057  10.0 -22.901129 -43.178753   0.19

In [35]:
bus_data[(bus_data['line']==432) & (bus_data['date']==(bus_data['date'].unique()[0]))]

                date      time   order   line   latitude  longitude  speed
57630103  01-25-2019  08:57:49  A27654  432.0 -22.921579 -43.221680    0.0
57630104  01-25-2019  08:57:54  A27542  432.0 -22.917509 -43.211140    0.0
57630105  01-25-2019  08:57:54  A27682  432.0 -22.912189 -43.198170    0.0
57630106  01-25-2019  08:57:59  A27597  432.0 -22.956329 -43.177460   25.0
57630107  01-25-2019  08:58:01  A27544  432.0 -22.979340 -43.229240    0.0
...              ...       ...     ...    ...        ...        ...    ...
57636264  01-25-2019  23:58:49  A27654  432.0 -22.921120 -43.255569   13.0
57636265  01-25-2019  23:58:55  A27531  432.0 -22.972469 -43.190418   25.0
57636266  01-25-2019  23:58:58  A27550  432.0 -22.918640 -43.251431   36.0
57636267  01-25-2019  23:59:00  A27638  432.0 -22.977520 -43.230148   34.0
57636268  01-25-2019  23:59:04  A27606  432.0 -22.930700 -43.185982   49.0

[6166 rows x 7 columns]

In [37]:
# convert date and time
bus_data_prep_0 = bus_data.copy()
bus_data_prep_0['datetime'] = pd.to_datetime(bus_data_prep_0['date'].astype(str) + ' ' + bus_data_prep_0['time'].astype(str))
bus_data_prep_0['date'] = pd.to_datetime(bus_data_prep_0['date'], format='%m-%d-%Y').dt.date
bus_data_prep_0['time'] = pd.to_datetime(bus_data_prep_0['time'], format='%H:%M:%S').dt.time
bus_data_prep_0.dtypes

date                 object
time                 object
order                object
line                float64
latitude            float64
longitude           float64
speed               float64
datetime     datetime64[ns]
dtype: object

In [ ]:
# save dataset
# bus_data_prep_0.to_csv('../bus_data_prep_0.csv',index=False)

In [1]:
# read dataset
import pandas as pd
bus_data_prep_0 = pd.read_csv('../bus_data_prep_0.csv')

In [2]:
# create 10 min time intervals
bus_data_prep_1 = bus_data_prep_0.copy()
bus_data_prep_1['interval'] = pd.cut(bus_data_prep_1['datetime'], 
                                    bins=pd.date_range(bus_data_prep_1['datetime'].min(), bus_data_prep_1['datetime'].max(), freq='1T'), 
                                    labels=False, 
                                    right=False)
bus_data_prep_1

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_28268\3526562602.py:4: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  bins=pd.date_range(bus_data_prep_1['datetime'].min(), bus_data_prep_1['datetime'].max(), freq='1T'),

,date,time,order,line,latitude,longitude,speed,datetime,interval
0,2019-01-25,08:57:59,A72036,6.0,-22.907654,-43.183971,27.41,2019-01-25 08:57:59,189.0
1,2019-01-25,08:58:07,A72037,6.0,-22.940798,-43.210258,8.70,2019-01-25 08:58:07,189.0
2,2019-01-25,08:58:32,A72067,6.0,-22.913893,-43.181683,1.67,2019-01-25 08:58:32,189.0
3,2019-01-25,08:59:07,A72067,6.0,-22.913990,-43.181866,0.19,2019-01-25 08:59:07,190.0
4,2019-01-25,08:59:17,A72037,6.0,-22.938841,-43.208050,16.11,2019-01-25 08:59:17,190.0
...,...,...,...,...,...,...,...,...,...
59183740,2019-03-21,08:04:41,D12174,2802.0,-22.979509,-43.610748,74.00,2019-03-21 08:04:41,79335.0
59183741,2019-03-21,08:06:08,D12170,2802.0,-22.915630,-43.683460,0.00,2019-03-21 08:06:08,79337.0
59183742,2019-03-21,08:07:08,D12170,2802.0,-22.915630,-43.683460,0.00,2019-03-21 08:07:08,79338.0
59183743,2019-03-21,08:07:41,D12174,2802.0,-22.992941,-43.598000,16.00,2019-03-21 08:07:41,79338.0
59183744,2019-03-21,08:08:08,D12170,2802.0,-22.916201,-43.684700,8.00,2019-03-21 08:08:08,79339.0

In [ ]:
# bus_data_prep_1.interval.value_counts().to_csv('intervals_count.csv')

In [3]:
counts = bus_data_prep_1['interval'].value_counts()
mean_count = counts.mean()
max_count = counts.max()
min_count = counts.min()

print(f"Mean: {mean_count}, Max: {max_count}, Min: {min_count}")

Mean: 800.0615900396091, Max: 2962, Min: 1

In [4]:
# remove multiple records available
bus_data_prep_1['is_consecutive'] = (bus_data_prep_1['order'] == bus_data_prep_1.groupby('interval')['order'].shift()).astype(int)
bus_data_prep_1['is_first_in_sequence'] = (bus_data_prep_1['is_consecutive'] == 0) | (bus_data_prep_1.groupby('interval')['order'].shift(-1) != bus_data_prep_1['order'])
bus_data_prep_2 = bus_data_prep_1[bus_data_prep_1['is_first_in_sequence']].reset_index(drop=True)
bus_data_prep_2.drop(columns=['is_consecutive', 'is_first_in_sequence'], inplace=True)

In [5]:
bus_data_prep_2

,date,time,order,line,latitude,longitude,speed,datetime,interval
0,2019-01-25,08:57:59,A72036,6.0,-22.907654,-43.183971,27.41,2019-01-25 08:57:59,189.0
1,2019-01-25,08:58:07,A72037,6.0,-22.940798,-43.210258,8.70,2019-01-25 08:58:07,189.0
2,2019-01-25,08:58:32,A72067,6.0,-22.913893,-43.181683,1.67,2019-01-25 08:58:32,189.0
3,2019-01-25,08:59:07,A72067,6.0,-22.913990,-43.181866,0.19,2019-01-25 08:59:07,190.0
4,2019-01-25,08:59:17,A72037,6.0,-22.938841,-43.208050,16.11,2019-01-25 08:59:17,190.0
...,...,...,...,...,...,...,...,...,...
59183457,2019-03-21,08:04:41,D12174,2802.0,-22.979509,-43.610748,74.00,2019-03-21 08:04:41,79335.0
59183458,2019-03-21,08:06:08,D12170,2802.0,-22.915630,-43.683460,0.00,2019-03-21 08:06:08,79337.0
59183459,2019-03-21,08:07:08,D12170,2802.0,-22.915630,-43.683460,0.00,2019-03-21 08:07:08,79338.0
59183460,2019-03-21,08:07:41,D12174,2802.0,-22.992941,-43.598000,16.00,2019-03-21 08:07:41,79338.0
59183461,2019-03-21,08:08:08,D12170,2802.0,-22.916201,-43.684700,8.00,2019-03-21 08:08:08,79339.0

In [6]:
counts = bus_data_prep_2['interval'].value_counts()
mean_count = counts.mean()
max_count = counts.max()
min_count = counts.min()

print(f"Mean: {mean_count}, Max: {max_count}, Min: {min_count}")

Mean: 800.0577643194139, Max: 2960, Min: 1

In [8]:
# filter the dataset
bus_data_prep_3 = bus_data_prep_2.copy()
interval_counts = bus_data_prep_3.groupby('interval').size()
intervals_to_keep = interval_counts[interval_counts > 800].index
bus_data_prep_3 = bus_data_prep_3[bus_data_prep_3['interval'].isin(intervals_to_keep)].reset_index(drop=True)

bus_data_prep_3

,date,time,order,line,latitude,longitude,speed,datetime,interval
0,2019-01-25,08:57:59,A72036,6.0,-22.907654,-43.183971,27.41,2019-01-25 08:57:59,189.0
1,2019-01-25,08:58:07,A72037,6.0,-22.940798,-43.210258,8.70,2019-01-25 08:58:07,189.0
2,2019-01-25,08:58:32,A72067,6.0,-22.913893,-43.181683,1.67,2019-01-25 08:58:32,189.0
3,2019-01-25,08:59:07,A72067,6.0,-22.913990,-43.181866,0.19,2019-01-25 08:59:07,190.0
4,2019-01-25,08:59:17,A72037,6.0,-22.938841,-43.208050,16.11,2019-01-25 08:59:17,190.0
...,...,...,...,...,...,...,...,...,...
44940252,2019-03-21,07:51:07,D12170,2802.0,-22.928909,-43.675838,52.00,2019-03-21 07:51:07,79322.0
44940253,2019-03-21,08:01:38,D12170,2802.0,-22.914921,-43.682289,0.00,2019-03-21 08:01:38,79332.0
44940254,2019-03-21,08:07:08,D12170,2802.0,-22.915630,-43.683460,0.00,2019-03-21 08:07:08,79338.0
44940255,2019-03-21,08:07:41,D12174,2802.0,-22.992941,-43.598000,16.00,2019-03-21 08:07:41,79338.0
44940256,2019-03-21,08:08:08,D12170,2802.0,-22.916201,-43.684700,8.00,2019-03-21 08:08:08,79339.0

In [9]:
counts = bus_data_prep_3['interval'].value_counts()
mean_count = counts.mean()
max_count = counts.max()
min_count = counts.min()

print(f"Mean: {mean_count}, Max: {max_count}, Min: {min_count}")

Mean: 1246.1596927598923, Max: 2960, Min: 801

In [ ]:
# save dataset
# bus_data_prep_3.to_csv('../bus_data_prep_3.csv',index=False)

In [1]:
# read dataset
import pandas as pd
bus_data_prep_3 = pd.read_csv('../bus_data_prep_3.csv')

In [2]:
counts = bus_data_prep_3['interval'].value_counts()
mean_count = counts.mean()
max_count = counts.max()
min_count = counts.min()

print(f"Mean: {mean_count}, Max: {max_count}, Min: {min_count}")

Mean: 1246.1596927598923, Max: 2960, Min: 801

In [7]:
bus_data_prep_3[bus_data_prep_3['interval']==189]

,date,time,order,line,latitude,longitude,speed,datetime,interval
0,2019-01-25,08:57:59,A72036,6.0,-22.907654,-43.183971,27.41,2019-01-25 08:57:59,189.0
1,2019-01-25,08:58:07,A72037,6.0,-22.940798,-43.210258,8.70,2019-01-25 08:58:07,189.0
2,2019-01-25,08:58:32,A72067,6.0,-22.913893,-43.181683,1.67,2019-01-25 08:58:32,189.0
1551,2019-01-25,08:57:56,A72164,7.0,-22.903025,-43.190895,0.00,2019-01-25 08:57:56,189.0
1552,2019-01-25,08:58:02,A72145,7.0,-22.913864,-43.182606,0.19,2019-01-25 08:58:02,189.0
...,...,...,...,...,...,...,...,...,...
1025651,2019-01-25,08:57:49,D86759,2381.0,-22.884710,-43.556969,0.00,2019-01-25 08:57:49,189.0
1025652,2019-01-25,08:57:54,D86738,2381.0,-22.865271,-43.422001,68.00,2019-01-25 08:57:54,189.0
1025653,2019-01-25,08:57:56,D86782,2381.0,-22.839930,-43.253620,64.00,2019-01-25 08:57:56,189.0
1025654,2019-01-25,08:58:00,D86706,2381.0,-22.900511,-43.177620,24.00,2019-01-25 08:58:00,189.0
1025655,2019-01-25,08:58:35,D86770,2381.0,-22.973709,-43.635399,55.00,2019-01-25 08:58:35,189.0

In [ ]:
# calculate the travel time
# bus_data_prep_4 = bus_data_prep_3.copy()
# bus_data_prep_4['first_time'] = bus_data_prep_4.groupby('interval')['datetime'].transform('first')
# bus_data_prep_4['travel_time'] = (bus_data_prep_4['datetime'] - bus_data_prep_4['first_time']).dt.total_seconds()
# bus_data_prep_4.drop(columns=['first_time'], inplace=True)

### Create bus stop data (geosdisc)

In [1]:
# read dataset
import pandas as pd
bus_data_prep_0 = pd.read_csv('../bus_data_prep_0.csv')
bus_stop = pd.read_csv('../bus_stops_rio_de_janeiro.csv',delimiter="|")

In [2]:
bus_stop

,line_number,line_name,stop_name,stop_latitude,stop_longitude,district,direction,direction_name
0,006,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 6086",-22.945099,-43.204494,Cosme Velho,Castelo,Silvestre - Castelo (Circular)
1,006,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 5955",-22.944613,-43.204285,Cosme Velho,Castelo,Silvestre - Castelo (Circular)
2,006,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 5525",-22.945601,-43.207928,Cosme Velho,Castelo,Silvestre - Castelo (Circular)
3,006,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 5272",-22.943985,-43.208130,Santa Teresa,Castelo,Silvestre - Castelo (Circular)
4,006,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 3980-5026",-22.942345,-43.207916,Santa Teresa,Castelo,Silvestre - Castelo (Circular)
...,...,...,...,...,...,...,...,...
48182,SVC905,Bonsucesso - IrajÃ¡ (via Shopping Via Brasil),Avenida Roma,-22.866415,-43.249687,Bonsucesso,Bonsucesso,IrajÃ¡ - Bonsucesso (via Shopping Via Brasil)
48183,T1T2,RIOgaleÃ£o Terminal 1 - Terminal 2,"Aeroporto RIOgaleÃ£o - Terminal 1, Porta E",-22.811558,-43.250874,GaleÃ£o,Terminal 2,Terminal 1 - Terminal 2
48184,T1T2,RIOgaleÃ£o Terminal 1 - Terminal 2,Aeroporto RIOgaleÃ£o - Terminal 2,-22.814556,-43.246380,GaleÃ£o,Terminal 2,Terminal 1 - Terminal 2
48185,T1T2,RIOgaleÃ£o Terminal 1 - Terminal 2,Aeroporto RIOgaleÃ£o - Terminal 2,-22.814556,-43.246380,GaleÃ£o,Terminal 1,Terminal 2 - Terminal 1
48186,T1T2,RIOgaleÃ£o Terminal 1 - Terminal 2,"Aeroporto RIOgaleÃ£o - Terminal 1, Porta E",-22.811558,-43.250874,GaleÃ£o,Terminal 1,Terminal 2 - Terminal 1

In [3]:
bus_data_prep_0['line'].value_counts()

line
371.0     1177869
624.0     1073006
864.0     1068698
917.0      898906
908.0      894857
           ...
503.0          24
860.0          12
2329.0          9
626.0           5
444.0           2
Name: count, Length: 326, dtype: int64

In [4]:
bus_stop.dtypes

line_number        object
line_name          object
stop_name          object
stop_latitude     float64
stop_longitude    float64
district           object
direction          object
direction_name     object
dtype: object

In [18]:
# remove all non numeric line numbers
# bus_stop_prep_0 = bus_stop[bus_stop['line_number'].str.isnumeric()]
bus_stop_prep_0 = bus_stop[bus_stop['line_number'].str.match(r'^-?\d+(\.\d+)?$', na=False)]
bus_stop_prep_0['line_number'] = bus_stop_prep_0['line_number'].astype(float)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_33028\1919152721.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bus_stop_prep_0['line_number'] = bus_stop_prep_0['line_number'].astype(float)

In [6]:
bus_stop_prep_0.dtypes

line_number       float64
line_name          object
stop_name          object
stop_latitude     float64
stop_longitude    float64
district           object
direction          object
direction_name     object
dtype: object

In [7]:
bus_stop_prep_0['line_number'].unique()

array([   6.,    7.,   10.,   14.,  100.,  101.,  102.,  104.,  105.,
        106.,  107.,  108.,  109.,  110.,  111.,  112.,  117.,  133.,
        134.,  181.,  201.,  202.,  203.,  209.,  213.,  217.,  218.,
        220.,  222.,  226.,  229.,  232.,  238.,  239.,  247.,  249.,
        254.,  265.,  275.,  277.,  292.,  296.,  298.,  300.,  301.,
        302.,  303.,  306.,  309.,  311.,  312.,  313.,  315.,  321.,
        322.,  323.,  324.,  325.,  326.,  327.,  328.,  329.,  330.,
        331.,  334.,  335.,  338.,  339.,  341.,  342.,  343.,  345.,
        348.,  349.,  350.,  352.,  353.,  355.,  358.,  361.,  362.,
        363.,  366.,  368.,  369.,  370.,  371.,  378.,  379.,  380.,
        383.,  384.,  386.,  388.,  389.,  390.,  392.,  393.,  394.,
        395.,  396.,  397.,  398.,  399.,  409.,  410.,  415.,  422.,
        426.,  432.,  433.,  434.,  435.,  436.,  439.,  441.,  445.,
        448.,  455.,  456.,  457.,  460.,  461.,  462.,  463.,  471.,
        472.,  473.,  474.,  476.,  483.,  484.,  485.,  486.,  492.,
        497.,  498.,  507.,  513.,  517.,  538.,  539.,  548.,  550.,
        552.,  553.,  554.,  555.,  557.,  558.,  565.,  580.,  581.,
        582.,  583.,  584.,  600.,  601.,  603.,  606.,  607.,  608.,
        609.,  610.,  611.,  613.,  614.,  615.,  616.,  621.,  622.,
        623.,  624.,  625.,  627.,  628.,  629.,  630.,  634.,  636.,
        638.,  639.,  645.,  650.,  651.,  652.,  653.,  663.,  665.,
        667.,  669.,  678.,  679.,  680.,  685.,  686.,  687.,  688.,
        691.,  692.,  693.,  696.,  702.,  709.,  711.,  712.,  721.,
        723.,  731.,  737.,  739.,  741.,  743.,  745.,  746.,  752.,
        756.,  759.,  766.,  770.,  771.,  772.,  774.,  775.,  777.,
        778.,  779.,  781.,  782.,  783.,  784.,  786.,  789.,  790.,
        793.,  794.,  795.,  801.,  802.,  803.,  804.,  805.,  809.,
        810.,  811.,  812.,  813.,  817.,  819.,  821.,  822.,  825.,
        829.,  830.,  831.,  833.,  835.,  837.,  838.,  839.,  840.,
        841.,  842.,  843.,  844.,  846.,  847.,  848.,  849.,  850.,
        851.,  852.,  853.,  858.,  859.,  861.,  862.,  863.,  864.,
        865.,  866.,  867.,  868.,  869.,  870.,  875.,  876.,  878.,
        880.,  881.,  883.,  884.,  885.,  886.,  887.,  891.,  892.,
        893.,  895.,  896.,  897.,  898.,  900.,  905.,  906.,  908.,
        910.,  913.,  915.,  917.,  918.,  919.,  920.,  922.,  923.,
        925.,  926.,  932.,  935.,  936.,  939.,  940.,  944.,  945.,
        946.,  950.,  951.,  953.,  954.,  963.,  991., 2012., 2016.,
       2017., 2110., 2111., 2112., 2114., 2115., 2145., 2251., 2303.,
       2305., 2307., 2308., 2309., 2310., 2329., 2331., 2333., 2334.,
       2335., 2336., 2337., 2338., 2339., 2343., 2344., 2345., 2381.,
       2382., 2383., 2802., 2803., 2804., 2918.])

In [8]:
bus_data_prep_0['line'].unique()

array([   6.,    7.,   10.,   14.,  107.,  110.,  111.,  133.,  201.,
        202.,  209.,  210.,  217.,  220.,  222.,  226.,  229.,  232.,
        238.,  239.,  247.,  249.,  254.,  277.,  292.,  298.,  301.,
        306.,  309.,  311.,  312.,  313.,  315.,  321.,  322.,  323.,
        324.,  325.,  326.,  327.,  328.,  329.,  330.,  331.,  334.,
        335.,  338.,  339.,  341.,  342.,  345.,  348.,  349.,  350.,
        352.,  353.,  355.,  358.,  361.,  362.,  363.,  368.,  369.,
        370.,  371.,  378.,  379.,  380.,  383.,  384.,  385.,  386.,
        388.,  389.,  390.,  392.,  393.,  394.,  395.,  396.,  397.,
        398.,  399.,  409.,  410.,  415.,  416.,  422.,  426.,  432.,
        433.,  434.,  435.,  436.,  439.,  440.,  441.,  444.,  445.,
        448.,  455.,  456.,  457.,  460.,  461.,  462.,  463.,  464.,
        472.,  473.,  474.,  476.,  483.,  484.,  485.,  497.,  498.,
        503.,  507.,  550.,  555.,  557.,  580.,  583.,  584.,  600.,
        601.,  603.,  606.,  607.,  608.,  610.,  611.,  613.,  614.,
        615.,  616.,  621.,  622.,  623.,  624.,  625.,  627.,  629.,
        630.,  634.,  636.,  638.,  639.,  650.,  651.,  652.,  653.,
        663.,  667.,  669.,  678.,  679.,  680.,  685.,  686.,  687.,
        688.,  691.,  692.,  693.,  696.,  709.,  711.,  712.,  721.,
        723.,  731.,  737.,  739.,  741.,  743.,  744.,  745.,  746.,
        752.,  756.,  759.,  769.,  770.,  771.,  773.,  774.,  775.,
        777.,  778.,  779.,  781.,  782.,  783.,  784.,  786.,  790.,
        793.,  794.,  795.,  801.,  802.,  803.,  804.,  805.,  811.,
        812.,  813.,  817.,  819.,  821.,  822.,  823.,  825.,  828.,
        829.,  830.,  831.,  833.,  834.,  835.,  836.,  837.,  838.,
        839.,  840.,  841.,  842.,  843.,  844.,  845.,  846.,  847.,
        848.,  849.,  850.,  851.,  852.,  858.,  859.,  861.,  862.,
        863.,  864.,  865.,  866.,  867.,  868.,  869.,  870.,  871.,
        872.,  875.,  880.,  884.,  886.,  887.,  891.,  892.,  893.,
        895.,  898.,  901.,  905.,  906.,  908.,  910.,  913.,  915.,
        917.,  918.,  919.,  920.,  922.,  923.,  924.,  925.,  926.,
        935.,  936.,  940.,  942.,  944.,  945.,  946.,  950.,  951.,
       2018., 2111., 2112., 2114., 2115., 2251., 2303., 2305., 2307.,
       2308., 2309., 2310., 2331., 2332., 2333., 2334., 2335., 2336.,
       2337., 2338., 2342., 2343., 2344., 2345., 2381., 2801., 2802.,
       2918.,  876.,  605.,  934.,  914.,  366.,  626.,  391.,  860.,
        832., 2329.])

In [9]:
# check whihc routes are common in 2 dataset
common_lines = set(bus_data_prep_0['line']).intersection(set(bus_stop_prep_0['line_number']))
common_lines

{6.0,
 7.0,
 10.0,
 14.0,
 107.0,
 110.0,
 111.0,
 133.0,
 201.0,
 202.0,
 209.0,
 217.0,
 220.0,
 222.0,
 226.0,
 229.0,
 232.0,
 238.0,
 239.0,
 247.0,
 249.0,
 254.0,
 277.0,
 292.0,
 298.0,
 301.0,
 306.0,
 309.0,
 311.0,
 312.0,
 313.0,
 315.0,
 321.0,
 322.0,
 323.0,
 324.0,
 325.0,
 326.0,
 327.0,
 328.0,
 329.0,
 330.0,
 331.0,
 334.0,
 335.0,
 338.0,
 339.0,
 341.0,
 342.0,
 345.0,
 348.0,
 349.0,
 350.0,
 352.0,
 353.0,
 355.0,
 358.0,
 361.0,
 362.0,
 363.0,
 366.0,
 368.0,
 369.0,
 370.0,
 371.0,
 378.0,
 379.0,
 380.0,
 383.0,
 384.0,
 386.0,
 388.0,
 389.0,
 390.0,
 392.0,
 393.0,
 394.0,
 395.0,
 396.0,
 397.0,
 398.0,
 399.0,
 409.0,
 410.0,
 415.0,
 422.0,
 426.0,
 432.0,
 433.0,
 434.0,
 435.0,
 436.0,
 439.0,
 441.0,
 445.0,
 448.0,
 455.0,
 456.0,
 457.0,
 460.0,
 461.0,
 462.0,
 463.0,
 472.0,
 473.0,
 474.0,
 476.0,
 483.0,
 484.0,
 485.0,
 497.0,
 498.0,
 507.0,
 550.0,
 555.0,
 557.0,
 580.0,
 583.0,
 584.0,
 600.0,
 601.0,
 603.0,
 606.0,
 607.0,
 608.0,
 610.0,
 611.0,
 613.0,
 614.0,
 615.0,
 616.0,
 621.0,
 622.0,
 623.0,
 624.0,
 625.0,
 627.0,
 629.0,
 630.0,
 634.0,
 636.0,
 638.0,
 639.0,
 650.0,
 651.0,
 652.0,
 653.0,
 663.0,
 667.0,
 669.0,
 678.0,
 679.0,
 680.0,
 685.0,
 686.0,
 687.0,
 688.0,
 691.0,
 692.0,
 693.0,
 696.0,
 709.0,
 711.0,
 712.0,
 721.0,
 723.0,
 731.0,
 737.0,
 739.0,
 741.0,
 743.0,
 745.0,
 746.0,
 752.0,
 756.0,
 759.0,
 770.0,
 771.0,
 774.0,
 775.0,
 777.0,
 778.0,
 779.0,
 781.0,
 782.0,
 783.0,
 784.0,
 786.0,
 790.0,
 793.0,
 794.0,
 795.0,
 801.0,
 802.0,
 803.0,
 804.0,
 805.0,
 811.0,
 812.0,
 813.0,
 817.0,
 819.0,
 821.0,
 822.0,
 825.0,
 829.0,
 830.0,
 831.0,
 833.0,
 835.0,
 837.0,
 838.0,
 839.0,
 840.0,
 841.0,
 842.0,
 843.0,
 844.0,
 846.0,
 847.0,
 848.0,
 849.0,
 850.0,
 851.0,
 852.0,
 858.0,
 859.0,
 861.0,
 862.0,
 863.0,
 864.0,
 865.0,
 866.0,
 867.0,
 868.0,
 869.0,
 870.0,
 875.0,
 876.0,
 880.0,
 884.0,
 886.0,
 887.0,
 891.0,
 892.0,
 893.0,
 895.0,
 898.0,
 905.0,
 906.0,
 908.0,
 910.0,
 913.0,
 915.0,
 917.0,
 918.0,
 919.0,
 920.0,
 922.0,
 923.0,
 925.0,
 926.0,
 935.0,
 936.0,
 940.0,
 944.0,
 945.0,
 946.0,
 950.0,
 951.0,
 2111.0,
 2112.0,
 2114.0,
 2115.0,
 2251.0,
 2303.0,
 2305.0,
 2307.0,
 2308.0,
 2309.0,
 2310.0,
 2329.0,
 2331.0,
 2333.0,
 2334.0,
 2335.0,
 2336.0,
 2337.0,
 2338.0,
 2343.0,
 2344.0,
 2345.0,
 2381.0,
 2802.0,
 2918.0}

In [ ]:
value = 371 # 624, 371, 917

if value in common_lines:
    print("Value is in the list")
else:
    print("Value is not in the list")

Value is in the list

In [17]:
# check for interconnectedness
bus_6_stops = set(bus_stop_prep_0[bus_stop_prep_0['line_number'] == 624]['stop_name'])
bus_7_stops = set(bus_stop_prep_0[bus_stop_prep_0['line_number'] == 917]['stop_name'])

common_stops = bus_6_stops.intersection(bus_7_stops)

if common_stops:
    print("Bus lines 6 and 7 are interconnected at these stops:", common_stops)
else:
    print("Bus lines 6 and 7 are NOT interconnected.")
len(common_lines)

Bus lines 6 and 7 are interconnected at these stops: {'Avenida Dom HÃ©lder CÃ¢mara, 7852', 'Rua Brasilina, 16', 'Estrada Intendente MagalhÃ£es, 1153', 'Avenida Dom HÃ©lder CÃ¢mara, 9880-9908', 'Avenida Dom HÃ©lder CÃ¢mara, 6041-6071', 'EstaÃ§Ã£o Madureira', 'Avenida Dom HÃ©lder CÃ¢mara, 5186', 'Avenida Dom HÃ©lder CÃ¢mara, 8370', 'Avenida Ernani Cardoso, 124-142', 'Avenida Dom HÃ©lder CÃ¢mara, 9090', 'Estrada Intendente MagalhÃ£es, 1186-1222', 'Avenida Dom HÃ©lder CÃ¢mara, 4046-4242', 'Avenida Dom HÃ©lder CÃ¢mara, 8776', 'Avenida Dom HÃ©lder CÃ¢mara, 9630', 'Avenida Ernani Cardoso, 58', 'Avenida Dom HÃ©lder CÃ¢mara, 4630', 'Rua CapitÃ£o Couto Menezes, 105', 'Avenida Dom HÃ©lder CÃ¢mara, 9675-9685', 'Avenida Dom HÃ©lder CÃ¢mara, 4635', 'Rua EstevÃ£o Silva, 293', 'Rua AmÃ¡lia, 8', 'Avenida Dom HÃ©lder CÃ¢mara, 7292', 'Avenida Dom HÃ©lder CÃ¢mara, 7012', 'Avenida Dom HÃ©lder CÃ¢mara, 9242', 'Avenida Dom HÃ©lder CÃ¢mara, 6766-6790', 'Avenida Ernani Cardoso, 268', 'Avenida Dom HÃ©lder CÃ¢mara, 4336-4341', 'Avenida Dom HÃ©lder CÃ¢mara, 8610-8616', 'Rua Ibiraci, 26-54', 'Avenida Dom HÃ©lder CÃ¢mara, 5689', 'Viaduto Cascadura, 353-411', 'Avenida Dom HÃ©lder CÃ¢mara, 6240-6350', 'Estrada Intendente MagalhÃ£es, 1062', 'Estrada Intendente MagalhÃ£es, 1054-1062', 'Rua JoÃ£o Vicente, 317', 'Estrada Intendente MagalhÃ£es, 1160', 'Avenida Dom HÃ©lder CÃ¢mara, 3253', 'Avenida Dom HÃ©lder CÃ¢mara, 9806', 'Estrada Intendente MagalhÃ£es, 90', 'Avenida Dom HÃ©lder CÃ¢mara, 6742', 'Avenida Dom HÃ©lder CÃ¢mara, 5698-5746', 'Avenida Dom HÃ©lder CÃ¢mara, 10047', 'Avenida Dom HÃ©lder CÃ¢mara, 8154', 'Avenida Dom HÃ©lder CÃ¢mara, 7041-7075', 'Avenida Dom HÃ©lder CÃ¢mara, 4029-4035', 'Avenida Dom HÃ©lder CÃ¢mara, 8190', 'Rua Domingos Lopes, 489', 'Avenida Dom HÃ©lder CÃ¢mara, 10056-10092', 'Avenida Dom HÃ©lder CÃ¢mara, 7840', 'Avenida Dom HÃ©lder CÃ¢mara, 9098', 'Avenida Dom HÃ©lder CÃ¢mara, 6217-6313', 'Rua Maria JosÃ©, 96', 'Avenida Dom HÃ©lder CÃ¢mara, 8878-8902', 'Avenida Dom HÃ©lder CÃ¢mara, 6126', 'Estrada Intendente MagalhÃ£es, 25-65', 'Avenida Dom HÃ©lder CÃ¢mara, 4414', 'Avenida Dom HÃ©lder CÃ¢mara, 7528-7570', 'Rua Ã‚ngelo Dantas, 482-608', 'Avenida Dom HÃ©lder CÃ¢mara, 5451', 'Rua Maria JosÃ©, 268', 'Rua CapitÃ£o Couto Menezes, 288-342', 'Avenida Ernani Cardoso, 178', 'Rua Ã‚ngelo Dantas, 260-288', 'Estrada Intendente MagalhÃ£es, 658', 'Avenida Dom HÃ©lder CÃ¢mara, 5474-5542', 'Estrada Intendente MagalhÃ£es, 806A', 'Avenida Dom HÃ©lder CÃ¢mara, 3168-3196', 'Avenida Dom HÃ©lder CÃ¢mara, 6554', 'Avenida Dom HÃ©lder CÃ¢mara, 7630', 'Estrada Intendente MagalhÃ£es, 537', 'Estrada Intendente MagalhÃ£es, 944-948', 'Rua Ã‚ngelo Dantas, 2-258', 'Avenida Dom HÃ©lder CÃ¢mara, 5000', 'Avenida Dom HÃ©lder CÃ¢mara, 8616', 'Rua SidÃ´nio Paes, 13', 'Estrada Intendente MagalhÃ£es, 806-812', 'Avenida Dom HÃ©lder CÃ¢mara, 5050-5186', 'Estrada Intendente MagalhÃ£es, 944', 'Avenida Ernani Cardoso, 306-356'}

295

In [19]:
# add stops to exact matches
bus_data_prep_1 = bus_data_prep_0.copy()
bus_data_prep_1 = bus_data_prep_1[bus_data_prep_1['line'].isin([624 , 371 , 917])]

bus_stop_prep_1 = bus_stop_prep_0.copy()
bus_stop_prep_1 = bus_stop_prep_1[bus_stop_prep_1['line_number'].isin([624 , 371 , 917])]

bus_stop_dict = {(row['stop_latitude'], row['stop_longitude']): row['stop_name'] for _, row in bus_stop_prep_1.iterrows()}
bus_data_prep_1['stop_name'] = bus_data_prep_1.apply(lambda row: bus_stop_dict.get((row['latitude'], row['longitude']), None), axis=1)
bus_data_prep_1.isna().sum()

date               0
time               0
order              0
line               0
latitude           0
longitude          0
speed              0
datetime           0
stop_name    3149781
dtype: int64

In [ ]:
# add stops to dataset
import pandas as pd
from geopy.distance import geodesic 

# function to find nearest bus stop within 30m radius
def get_nearest_stop(lat, lon, bus_stops):
    # min_dist = float("inf")
    nearest_stop = None
    
    for _, stop in bus_stops.iterrows():
        stop_coords = (stop['stop_latitude'], stop['stop_longitude'])
        gps_coords = (lat, lon)
        distance = geodesic(gps_coords, stop_coords).meters
        
        if distance <= 30:
            # min_dist = distance
            nearest_stop = stop['stop_name']
            print('done ',stop['stop_name'])
            return nearest_stop
    
    return None  

bus_data_prep_2 = bus_data_prep_1.copy()
bus_data_prep_2 = bus_data_prep_2[bus_data_prep_2['line'].isin([624 , 371 , 917])]

bus_stop_prep_2 = bus_stop_prep_1.copy()
bus_stop_prep_2 = bus_stop_prep_2[bus_stop_prep_2['line_number'].isin([624 , 371 , 917])]

# bus_data_prep_1['bus_stop_name'] = bus_data_prep_1.apply(lambda row: get_nearest_stop(row['latitude'], row['longitude'], bus_stop_prep_0), axis=1)
bus_data_prep_2['stop_name'] = bus_data_prep_2.apply(
    lambda row: row['stop_name'] if pd.notna(row['stop_name']) 
    else get_nearest_stop(row['latitude'], row['longitude'], bus_stop_prep_2),
    axis=1
)

In [ ]:
# bus_stop_prep_1.nunique()
# bus_data_prep_1.nunique()
# bus_data_prep_1.shape

(210754, 8)

In [ ]:
gps_stops = set(bus_data_prep_2['stop_name'].dropna().unique())
bus_stop_list = set(bus_stop_prep_2['stop_name'].unique())

# Check if all bus stops are in GPS data
missing_stops = bus_stop_list - gps_stops

if missing_stops:
    print("Missing bus stops in GPS data:", missing_stops)
else:
    print("All bus stops are present in GPS data.")

len(missing_stops)

Missing bus stops in GPS data: {'Rua AraÃºjo PÃ´rto Alegre, 70A', 'Rua Francisco MuratÃ³ri, 101-115', 'Teatro Joao Caetano', 'BRS 1,3 - CandelÃ¡ria', 'Rua Evaristo da Veiga, 10', 'Avenida Passos, 65', 'Avenida GraÃ§a Aranha, 145', 'Rua Joaquim Murtinho, 783-915', 'Rua Miguel Couto', 'Rua Evaristo da Veiga, 78', 'Rua Joaquim Murtinho, 641', 'Rua Joaquim Murtinho, 396-412', 'Avenida Presidente Vargas, 418', 'Rua Joaquim Murtinho, 569-661', 'Rua Sacadura Cabral, 144', 'Rua Acre, 80-90', 'Rua Camerino, 162-164', 'Rua AraÃºjo PÃ´rto Alegre, 74-80', 'Rua Joaquim Murtinho, 210-238', 'Rua Joaquim Murtinho, 917-1001', 'Rua Joaquim Murtinho, 294-304', 'PraÃ§a Estivador', 'Rua RivadÃ¡via CorrÃªa, 227-247', 'Avenida GraÃ§a Aranha, 58-76', 'Avenida Presidente Wilson, 113'}

25

In [ ]:
bus_data_prep_2.isna().sum()

date              0
time              0
order             0
line              0
latitude          0
longitude         0
speed             0
datetime          0
stop_name    137313
dtype: int64

In [ ]:
# bus_data_prep_2.to_csv('../bus_data_prep_with_stops_2.csv',index=False)

### Checking added bus stops

In [106]:
# read dataset
import pandas as pd
bus_data = pd.read_csv('../bus_data_prep_with_stops.csv')
bus_stop = pd.read_csv('../bus_stops_rio_de_janeiro.csv',delimiter="|")


bus_stop_prep =bus_stop.copy()
bus_stop_prep = bus_stop[bus_stop['line_number'].str.match(r'^-?\d+(\.\d+)?$', na=False)]
bus_stop_prep['line_number'] = bus_stop_prep['line_number'].astype(float)
bus_stop_prep = bus_stop_prep[bus_stop_prep['line_number'].isin([6 , 7 , 10])]

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_30608\1794365552.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bus_stop_prep['line_number'] = bus_stop_prep['line_number'].astype(float)

In [107]:
bus_data['line'].value_counts()

line
7.0     89495
6.0     79237
10.0    42022
Name: count, dtype: int64

In [108]:
# encode bus stops and save mapping 624 , 371 , 917
stop_data_line_624 = bus_stop_prep[bus_stop_prep['line_number']==6]
stop_data_line_371 = bus_stop_prep[bus_stop_prep['line_number']==7]
stop_data_line_917 = bus_stop_prep[bus_stop_prep['line_number']==10]


unique_stops_624 = stop_data_line_624['stop_name'].unique()
stop_mapping_6 = {stop: i for i, stop in enumerate(unique_stops_624)}
stop_data_line_624['stop_encoded'] = stop_data_line_624['stop_name'].map(stop_mapping_6)

unique_stops_371 = stop_data_line_371['stop_name'].unique()
stop_mapping_7 = {stop: i for i, stop in enumerate(unique_stops_371)}
stop_data_line_371['stop_encoded'] = stop_data_line_371['stop_name'].map(stop_mapping_7)

unique_stops_917 = stop_data_line_917['stop_name'].unique()
stop_mapping_10 = {stop: i for i, stop in enumerate(unique_stops_917)}
stop_data_line_917['stop_encoded'] = stop_data_line_917['stop_name'].map(stop_mapping_10)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_30608\1749605132.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stop_data_line_624['stop_encoded'] = stop_data_line_624['stop_name'].map(stop_mapping_6)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_30608\1749605132.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stop_data_line_371['stop_encoded'] = stop_data_line_371['stop_name'].map(stop_mapping_7)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_30608\1749605132.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stop_data_line_917['stop_encoded'] = stop_data_line_917['stop_name'].map(stop_mapping_10)

In [109]:
bus_stop_prep[bus_stop_prep['line_number']==6].head(74)

,line_number,line_name,stop_name,stop_latitude,stop_longitude,district,direction,direction_name
0,6.0,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 6086",-22.945099,-43.204494,Cosme Velho,Castelo,Silvestre - Castelo (Circular)
1,6.0,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 5955",-22.944613,-43.204285,Cosme Velho,Castelo,Silvestre - Castelo (Circular)
2,6.0,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 5525",-22.945601,-43.207928,Cosme Velho,Castelo,Silvestre - Castelo (Circular)
3,6.0,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 5272",-22.943985,-43.208130,Santa Teresa,Castelo,Silvestre - Castelo (Circular)
4,6.0,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 3980-5026",-22.942345,-43.207916,Santa Teresa,Castelo,Silvestre - Castelo (Circular)
...,...,...,...,...,...,...,...,...
69,6.0,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 5525",-22.945608,-43.207962,Cosme Velho,Silvestre,Silvestre - Castelo (Circular)
70,6.0,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 5088-5328",-22.945055,-43.206074,Cosme Velho,Silvestre,Silvestre - Castelo (Circular)
71,6.0,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 5088-5328",-22.944540,-43.205410,Santa Teresa,Silvestre,Silvestre - Castelo (Circular)
72,6.0,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 5955",-22.944656,-43.204338,Cosme Velho,Silvestre,Silvestre - Castelo (Circular)
73,6.0,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 6086",-22.945105,-43.204556,Cosme Velho,Silvestre,Silvestre - Castelo (Circular)

In [110]:
bus_stop_prep[bus_stop_prep['line_number']==7]

,line_number,line_name,stop_name,stop_latitude,stop_longitude,district,direction,direction_name
74,7.0,Silvestre - Central (Circular),"Rua Almirante Alexandrino, 6086",-22.945099,-43.204494,Cosme Velho,Central,Silvestre - Central (Circular)
75,7.0,Silvestre - Central (Circular),"Rua Almirante Alexandrino, 5955",-22.944613,-43.204285,Cosme Velho,Central,Silvestre - Central (Circular)
76,7.0,Silvestre - Central (Circular),"Rua Almirante Alexandrino, 5525",-22.945601,-43.207928,Cosme Velho,Central,Silvestre - Central (Circular)
77,7.0,Silvestre - Central (Circular),"Rua Almirante Alexandrino, 5272",-22.943985,-43.208130,Santa Teresa,Central,Silvestre - Central (Circular)
78,7.0,Silvestre - Central (Circular),"Rua Almirante Alexandrino, 3980-5026",-22.942345,-43.207916,Santa Teresa,Central,Silvestre - Central (Circular)
...,...,...,...,...,...,...,...,...
143,7.0,Silvestre - Central (Circular),"Rua Almirante Alexandrino, 5525",-22.945608,-43.207962,Cosme Velho,Silvestre (Circular),Central - Silvestre (Circular)
144,7.0,Silvestre - Central (Circular),"Rua Almirante Alexandrino, 5088-5328",-22.945055,-43.206074,Cosme Velho,Silvestre (Circular),Central - Silvestre (Circular)
145,7.0,Silvestre - Central (Circular),"Rua Almirante Alexandrino, 5088-5328",-22.944540,-43.205410,Santa Teresa,Silvestre (Circular),Central - Silvestre (Circular)
146,7.0,Silvestre - Central (Circular),"Rua Almirante Alexandrino, 5955",-22.944656,-43.204338,Cosme Velho,Silvestre (Circular),Central - Silvestre (Circular)
147,7.0,Silvestre - Central (Circular),"Rua Almirante Alexandrino, 6086",-22.945105,-43.204556,Cosme Velho,Silvestre (Circular),Central - Silvestre (Circular)

In [111]:
bus_stop_prep[bus_stop_prep['line_number']==10]

,line_number,line_name,stop_name,stop_latitude,stop_longitude,district,direction,direction_name
148,10.0,FÃ¡tima - Central (Circular),"PraÃ§a Cristiano Otoni, 279",-22.903463,-43.190689,Centro,FÃ¡tima,FÃ¡tima - Central (Circular)
149,10.0,FÃ¡tima - Central (Circular),"Rua RivadÃ¡via CorrÃªa, 111-139",-22.897976,-43.195450,Gamboa,FÃ¡tima,FÃ¡tima - Central (Circular)
150,10.0,FÃ¡tima - Central (Circular),"Rua RivadÃ¡via CorrÃªa, 227-247",-22.895414,-43.196507,Gamboa,FÃ¡tima,FÃ¡tima - Central (Circular)
151,10.0,FÃ¡tima - Central (Circular),"Avenida Venezuela, 206",-22.895287,-43.188076,Gamboa,FÃ¡tima,FÃ¡tima - Central (Circular)
152,10.0,FÃ¡tima - Central (Circular),"Avenida Venezuela, 156",-22.895807,-43.186348,SaÃºde,FÃ¡tima,FÃ¡tima - Central (Circular)
...,...,...,...,...,...,...,...,...
215,10.0,FÃ¡tima - Central (Circular),"Rua Sacadura Cabral, 144",-22.897465,-43.186390,SaÃºde,"Central (Circular, Cruz Vermelha fechada)","FÃ¡tima - Central (Circular, Cruz Vermelha fech..."
216,10.0,FÃ¡tima - Central (Circular),PraÃ§a Estivador,-22.899572,-43.187580,SaÃºde,"Central (Circular, Cruz Vermelha fechada)","FÃ¡tima - Central (Circular, Cruz Vermelha fech..."
217,10.0,FÃ¡tima - Central (Circular),"Rua Camerino, 162-164",-22.901537,-43.185398,Centro,"Central (Circular, Cruz Vermelha fechada)","FÃ¡tima - Central (Circular, Cruz Vermelha fech..."
218,10.0,FÃ¡tima - Central (Circular),"BRS 1,2,3 - TomÃ© de Sousa (pista lateral)",-22.903954,-43.188335,Centro,"Central (Circular, Cruz Vermelha fechada)","FÃ¡tima - Central (Circular, Cruz Vermelha fech..."
219,10.0,FÃ¡tima - Central (Circular),"PraÃ§a Cristiano Otoni, 279",-22.903463,-43.190689,Centro,"Central (Circular, Cruz Vermelha fechada)","FÃ¡tima - Central (Circular, Cruz Vermelha fech..."

In [113]:
# create trip id
bus_data_prep = bus_data.copy()
bus_data_prep['datetime'] = pd.to_datetime(bus_data_prep['datetime'])
bus_data_prep['month'] = bus_data_prep['datetime'].dt.month
bus_data_prep['day'] = bus_data_prep['datetime'].dt.day
bus_data_prep['hour'] = bus_data_prep['datetime'].dt.hour

bus_data_06 = bus_data_prep[bus_data_prep['line']==6]
bus_data_07 = bus_data_prep[bus_data_prep['line']==7]
bus_data_10 = bus_data_prep[bus_data_prep['line']==10]
# bus_data_prep = bus_data_prep.sort_values(by=['line','order'])
# bus_data_prep['trip_id'] = bus_data_prep.groupby(['line', 'order',]).ngroup()

In [114]:
display('line 6',bus_data_06.nunique(),'line  7', bus_data_07.nunique(),'line 10', bus_data_10.nunique())

'line 6'

date            56
time         40901
order           38
line             1
latitude     14652
longitude     7842
speed          282
datetime     77873
stop_name       44
month            3
day             31
hour            24
dtype: int64

'line  7'

date            56
time         45658
order           51
line             1
latitude     16213
longitude     6311
speed          275
datetime     87959
stop_name       43
month            3
day             31
hour            24
dtype: int64

'line 10'

date            55
time         27377
order           43
line             1
latitude      9176
longitude     5259
speed          280
datetime     41429
stop_name       25
month            3
day             31
hour            23
dtype: int64

See the unique count of buses per line

In [115]:
display('line 624',bus_stop_prep[bus_stop_prep['line_number']==6].nunique(),
        'line  371', bus_stop_prep[bus_stop_prep['line_number']==7].nunique(),
        'line 917', bus_stop_prep[bus_stop_prep['line_number']==10].nunique())

'line 624'

line_number        1
line_name          1
stop_name         50
stop_latitude     73
stop_longitude    74
district           5
direction          2
direction_name     1
dtype: int64

'line  371'

line_number        1
line_name          1
stop_name         49
stop_latitude     72
stop_longitude    73
district           5
direction          3
direction_name     2
dtype: int64

'line 917'

line_number        1
line_name          1
stop_name         36
stop_latitude     36
stop_longitude    36
district           5
direction          4
direction_name     2
dtype: int64

In [116]:
bus_data_06['order'].unique()

array(['A72036', 'A72037', 'A72067', 'A72060', 'A72078', 'A72058',
       'A72073', 'A72142', 'A72143', 'A72115', 'A72024', 'A72186',
       'A72141', 'A72032', 'A72113', 'A72086', 'A72163', 'A72146',
       'A72100', 'A72164', 'A72076', 'A72035', 'A72134', 'A72062',
       'A72094', 'A72107', 'A72090', 'A72108', 'A72148', 'A72085',
       'A72129', 'A72150', 'A72048', 'A72145', 'A72144', 'A72082',
       'A72063', 'A72116'], dtype=object)

In [117]:
# check one bus 
# lower counts - A72067/3498 , A72058/3851 , A72115/1122 , A72024/70 , A72186/289 , A72141/326
#                A72032/238 , A72113/112 , A72086/44 , A72163/60 , A72146/378 , A72100/265 , A72164/19
#                A72076/228 , A72035/29 , A72134/23 , A72062/140 , A72094/5 , A72107/13 , A72090/11,
#                A72108/21 , ...
bus_data_06[bus_data_06['order']=='A72108'].shape

(21, 12)

In [ ]:
# encode the bus stops in bus data
bus_data_06['stop_encoded'] = bus_data_06['stop_name'].map(stop_mapping_6).fillna(-1).astype(int)
bus_data_07['stop_encoded'] = bus_data_07['stop_name'].map(stop_mapping_7).fillna(-1).astype(int)
bus_data_10['stop_encoded'] = bus_data_10['stop_name'].map(stop_mapping_10).fillna(-1).astype(int)

In [119]:
# unique stops of lines
display(
    bus_data_06['stop_name'].unique(),
    bus_data_07['stop_name'].unique(),
    bus_data_10['stop_name'].unique())

array([nan, 'Rua Almirante Alexandrino, 1406-1410',
       'Rua Almirante Alexandrino, 3780',
       'Rua Almirante Alexandrino, 5088-5328',
       'Rua Almirante Alexandrino, 5525', 'Rua Riachuelo, 54',
       'Rua Almirante Alexandrino, 3980-5026',
       'Rua Almirante Alexandrino, 5955',
       'Rua Almirante Alexandrino, 3420', 'Rua Gomes Lopes, 12',
       'Rua Almirante Alexandrino, 16-10',
       'Rua Almirante Alexandrino, 1548',
       'Rua Almirante Alexandrino, 470', 'Rua do Lavradio, 97-149',
       'Travessa Fallet, 700', 'Rua Almirante Alexandrino, 6086',
       'Rua Almirante Alexandrino, 306', 'Rua Francisco MuratÃ³ri, 71',
       'Rua Silvio Romero, 8', 'Rua Almirante Alexandrino, 1772',
       'BRS 1,4 - PraÃ§a Tiradentes', 'Rua Almirante Alexandrino, 5272',
       'BRS 1,2 - Treze de Maio', 'Rua Almirante Alexandrino, 946',
       'Avenida Gomes Freire, 176b', 'Rua Almirante Alexandrino, 1336',
       'TÃºnel AndrÃ© RebouÃ§as, 3790', 'Rua Joaquim Murtinho, 456-496',
       'Rua Almirante Alexandrino, 2644-2660',
       'Rua Almirante Alexandrino, 1086',
       'BRS 1,2 - Avenida RepÃºblica do Paraguai',
       'Rua Almirante Alexandrino, 2946',
       'Rua Almirante Alexandrino, 2676-2746',
       'Rua Eliseu Visconti, 458-460',
       'BRS 1,2,4,5 - Avenida Almirante Barroso, 136',
       'Rua Almirante Alexandrino, 1908', 'Avenida Gomes Freire, 547',
       'BRS 1,3,I - Avenida Mem de SÃ¡, 94',
       'Rua Almirante Alexandrino, 16', 'Avenida Mem de SÃ¡, 23',
       'TÃºnel do Rio Comprido, 3010', 'Rua Riachuelo, 18',
       'Rua Tadeu Kosciusco, 79', 'BRS 1,3,I - Avenida Mem de SÃ¡, 120',
       'Rua Teixeira de Freitas, 771'], dtype=object)

array([nan, 'Rua Riachuelo, 54', 'Rua Almirante Alexandrino, 6086',
       'Rua Almirante Alexandrino, 5955', 'Rua Francisco MuratÃ³ri, 71',
       'Rua Almirante Alexandrino, 16-10',
       'Rua Almirante Alexandrino, 5525',
       'Rua Almirante Alexandrino, 1086',
       'Rua Almirante Alexandrino, 3780',
       'Rua Almirante Alexandrino, 2676-2746', 'Rua Gomes Lopes, 12',
       'PraÃ§a da RepÃºblica, 111-113', 'Rua Almirante Alexandrino, 16',
       'Rua Almirante Alexandrino, 306', 'PraÃ§a Cristiano Otoni, 279',
       'Rua Almirante Alexandrino, 3980-5026',
       'Rua Almirante Alexandrino, 1772', 'Travessa Fallet, 700',
       'Rua Almirante Alexandrino, 5272',
       'Rua Almirante Alexandrino, 3420', 'Rua Silvio Romero, 8',
       'Rua Almirante Alexandrino, 946',
       'Rua Almirante Alexandrino, 5088-5328',
       'Rua Almirante Alexandrino, 470',
       'Rua Almirante Alexandrino, 1548',
       'Rua Almirante Alexandrino, 1406-1410',
       'Rua Almirante Alexandrino, 2644-2660',
       'TÃºnel AndrÃ© RebouÃ§as, 3790', 'Avenida Gomes Freire, 176b',
       'Rua Almirante Alexandrino, 2946',
       'Rua Almirante Alexandrino, 1336', 'Rua Carlos Sampaio, 65',
       'Rua Almirante Alexandrino, 1908', 'Rua Eliseu Visconti, 458-460',
       'BRS 1,3,I - Avenida Mem de SÃ¡, 94', 'Avenida Gomes Freire, 547',
       'BRS 1,2,3 - TomÃ© de Sousa (pista lateral)',
       'Rua Teixeira de Freitas, 771',
       'BRS 1,3,I - Avenida Mem de SÃ¡, 120',
       'Rua Joaquim Murtinho, 456-496', 'Avenida Mem de SÃ¡, 23',
       'TÃºnel do Rio Comprido, 3010', 'Rua Tadeu Kosciusco, 79',
       'Rua Carlos Sampaio, 265'], dtype=object)

array([nan, 'Rua Tadeu Kosciusco, 79', 'BRS 1,2,3 - Santa Luzia',
       'PraÃ§a Cristiano Otoni, 279', 'Rua Carlos Sampaio, 265',
       'Avenida Venezuela, 206', 'Avenida Nossa Senhora de FÃ¡tima, 34',
       'Passeio', 'Rua Riachuelo, 92-104', 'Rua Riachuelo, 54',
       'BRS 1,3,I - Avenida Mem de SÃ¡, 94',
       'Avenida Nossa Senhora de FÃ¡tima, 83-87', 'Avenida Mem de SÃ¡, 23',
       'Rua RivadÃ¡via CorrÃªa, 111-139', 'Rua Riachuelo, 140',
       'BRS 1,2,3 - Rua do Ouvidor', 'Rua Teixeira de Freitas, 771',
       'Rua Acre, 119-139', 'Rua Mairink Veiga, 3',
       'CondomÃ­nio do EdifÃ­cio Guinle, N/D', 'Rua Santa Luzia, 594-646',
       'Avenida Rio Branco, 50-62', 'BRS 1,3,I - Avenida Mem de SÃ¡, 120',
       'Avenida Rio Branco, 89', 'Rua Riachuelo, 18',
       'Avenida Venezuela, 156'], dtype=object)

#### This way is too slow. Need more computational power

### Add Stops & Create graph snapshots

In [1]:
import numpy as np
# import cupy as cp
import pandas as pd
from scipy.spatial import cKDTree
from geopy.distance import geodesic

In [ ]:
# import cupy
# print(cupy.__version__)  # Check CuPy version
# print(cupy.cuda.runtime.getDeviceCount())  # Check GPU availability

In [2]:
# read datasets
stops_df = pd.read_csv('../bus_stops_rio_de_janeiro.csv',delimiter="|")
trajectory_df = pd.read_csv('../bus_data_prep_0.csv')

In [3]:
# clean stop dataset
stops_df = stops_df[stops_df['line_number'].str.match(r'^-?\d+(\.\d+)?$', na=False)]
stops_df['line_number'] = stops_df['line_number'].astype(float)

In [4]:
# logic to add rest of the stops to each trip
def process_line(group):
    stops_line = stops_df[stops_df["line_number"] == group["line"].iloc[0]]
    
    if stops_line.empty:
        group["nearest_stop_name"] = None
        group["is_at_stop"] = False
        return group

    traj_coords = np.vstack((group["latitude"], group["longitude"])).T
    stop_coords = np.vstack((stops_line["stop_latitude"], stops_line["stop_longitude"])).T

    tree = cKDTree(stop_coords)
    distances, indices = tree.query(traj_coords)

    distance_threshold = 0.0003
    group["nearest_stop_name"] = stops_line.iloc[indices]["stop_name"].values
    group["is_at_stop"] = distances <= distance_threshold
    group["distance_to_next_stop"] = distances
    return group

trajectory_df = trajectory_df.groupby("line", group_keys=False).apply(process_line)
trajectory_df.head()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4164\1286605454.py:22: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  trajectory_df = trajectory_df.groupby("line", group_keys=False).apply(process_line)

,date,time,order,line,latitude,longitude,speed,datetime,nearest_stop_name,is_at_stop,distance_to_next_stop
0,2019-01-25,08:57:59,A72036,6.0,-22.907654,-43.183971,27.41,2019-01-25 08:57:59,"Avenida Gomes Freire, 176b",False,0.001228
1,2019-01-25,08:58:07,A72037,6.0,-22.940798,-43.210258,8.70,2019-01-25 08:58:07,"Rua Almirante Alexandrino, 3980-5026",False,0.002732
2,2019-01-25,08:58:32,A72067,6.0,-22.913893,-43.181683,1.67,2019-01-25 08:58:32,"Rua Silvio Romero, 8",False,0.000425
3,2019-01-25,08:59:07,A72067,6.0,-22.913990,-43.181866,0.19,2019-01-25 08:59:07,"Rua Silvio Romero, 8",True,0.000290
4,2019-01-25,08:59:17,A72037,6.0,-22.938841,-43.208050,16.11,2019-01-25 08:59:17,"Rua Almirante Alexandrino, 3980-5026",False,0.000643

In [ ]:
# add distance
# add this later

In [5]:
# extract day, hour, month
bus_data_prep = trajectory_df.copy()
bus_data_prep['datetime'] = pd.to_datetime(bus_data_prep['datetime'])
bus_data_prep['month'] = bus_data_prep['datetime'].dt.month
bus_data_prep['day'] = bus_data_prep['datetime'].dt.day
bus_data_prep['hour'] = bus_data_prep['datetime'].dt.hour
bus_data_prep.head()

,date,time,order,line,latitude,longitude,speed,datetime,nearest_stop_name,is_at_stop,distance_to_next_stop,month,day,hour
0,2019-01-25,08:57:59,A72036,6.0,-22.907654,-43.183971,27.41,2019-01-25 08:57:59,"Avenida Gomes Freire, 176b",False,0.001228,1,25,8
1,2019-01-25,08:58:07,A72037,6.0,-22.940798,-43.210258,8.70,2019-01-25 08:58:07,"Rua Almirante Alexandrino, 3980-5026",False,0.002732,1,25,8
2,2019-01-25,08:58:32,A72067,6.0,-22.913893,-43.181683,1.67,2019-01-25 08:58:32,"Rua Silvio Romero, 8",False,0.000425,1,25,8
3,2019-01-25,08:59:07,A72067,6.0,-22.913990,-43.181866,0.19,2019-01-25 08:59:07,"Rua Silvio Romero, 8",True,0.000290,1,25,8
4,2019-01-25,08:59:17,A72037,6.0,-22.938841,-43.208050,16.11,2019-01-25 08:59:17,"Rua Almirante Alexandrino, 3980-5026",False,0.000643,1,25,8

In [6]:
# add travel times
def convert_distances_to_meters(df):
    latitudes = df["latitude"].values
    lon_distances = df["distance_to_next_stop"].values
    
    lat_to_meters = 111320 
    lon_to_meters = 111320 * np.cos(np.radians(latitudes))
    
    lon_distances_meters = lon_distances * lon_to_meters
    df["distance_to_next_stop"] = lon_distances_meters
    return df

trajectory_df = convert_distances_to_meters(trajectory_df)
trajectory_df['speed'] = trajectory_df['speed'] / 3.6
trajectory_df.head()

,date,time,order,line,latitude,longitude,speed,datetime,nearest_stop_name,is_at_stop,distance_to_next_stop
0,2019-01-25,08:57:59,A72036,6.0,-22.907654,-43.183971,7.613889,2019-01-25 08:57:59,"Avenida Gomes Freire, 176b",False,125.878700
1,2019-01-25,08:58:07,A72037,6.0,-22.940798,-43.210258,2.416667,2019-01-25 08:58:07,"Rua Almirante Alexandrino, 3980-5026",False,280.051598
2,2019-01-25,08:58:32,A72067,6.0,-22.913893,-43.181683,0.463889,2019-01-25 08:58:32,"Rua Silvio Romero, 8",False,43.546698
3,2019-01-25,08:59:07,A72067,6.0,-22.913990,-43.181866,0.052778,2019-01-25 08:59:07,"Rua Silvio Romero, 8",True,29.740130
4,2019-01-25,08:59:17,A72037,6.0,-22.938841,-43.208050,4.475000,2019-01-25 08:59:17,"Rua Almirante Alexandrino, 3980-5026",False,65.909121

In [7]:
# check availability of all stops
stops_df = stops_df[stops_df["line_number"].isin(trajectory_df["line"].unique())]
print(stops_df.stop_name.nunique())
print(trajectory_df.nearest_stop_name.nunique())

6165
5962

1. So there are some missing nodes in the data
2. Lets try removing bus lines whihc do not have even one stop

In [9]:
stops_df

,line_number,line_name,stop_name,stop_latitude,stop_longitude,district,direction,direction_name
0,6.0,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 6086",-22.945099,-43.204494,Cosme Velho,Castelo,Silvestre - Castelo (Circular)
1,6.0,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 5955",-22.944613,-43.204285,Cosme Velho,Castelo,Silvestre - Castelo (Circular)
2,6.0,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 5525",-22.945601,-43.207928,Cosme Velho,Castelo,Silvestre - Castelo (Circular)
3,6.0,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 5272",-22.943985,-43.208130,Santa Teresa,Castelo,Silvestre - Castelo (Circular)
4,6.0,Silvestre - Castelo (Circular),"Rua Almirante Alexandrino, 3980-5026",-22.942345,-43.207916,Santa Teresa,Castelo,Silvestre - Castelo (Circular)
...,...,...,...,...,...,...,...,...
43930,2918.0,RIOgaleÃ£o - Jardim OceÃ¢nico,"Avenida Brigadeiro Trompowski, 2013",-22.833361,-43.238800,GaleÃ£o,RIOgaleÃ£o,Jardim OceÃ¢nico - RIOgaleÃ£o
43931,2918.0,RIOgaleÃ£o - Jardim OceÃ¢nico,"Avenida Vinte de Janeiro, 4787-5017",-22.818581,-43.237011,GaleÃ£o,RIOgaleÃ£o,Jardim OceÃ¢nico - RIOgaleÃ£o
43932,2918.0,RIOgaleÃ£o - Jardim OceÃ¢nico,"Avenida Vinte de Janeiro, 4339-4489",-22.816118,-43.240700,GaleÃ£o,RIOgaleÃ£o,Jardim OceÃ¢nico - RIOgaleÃ£o
43933,2918.0,RIOgaleÃ£o - Jardim OceÃ¢nico,Aeroporto RIOgaleÃ£o - Terminal 1,-22.811127,-43.251614,GaleÃ£o,RIOgaleÃ£o,Jardim OceÃ¢nico - RIOgaleÃ£o
43934,2918.0,RIOgaleÃ£o - Jardim OceÃ¢nico,Aeroporto RIOgaleÃ£o - Terminal 2,-22.814556,-43.246380,GaleÃ£o,RIOgaleÃ£o,Jardim OceÃ¢nico - RIOgaleÃ£o

In [11]:
# remove entire line if even one stop is missing
bus_df = trajectory_df.copy()
bus_unique_counts = bus_df.groupby('line')['nearest_stop_name'].nunique().reset_index()
bus_unique_counts.columns = ['line', 'uniq_val_count_bus']

stops_unique_counts = stops_df.groupby('line_number')['stop_name'].nunique().reset_index()
stops_unique_counts.columns = ['line_number', 'uniq_val_count_stop']

In [17]:
bus_unique_counts_dict = bus_unique_counts.set_index('line')['uniq_val_count_bus'].to_dict()
stops_unique_counts_dict = stops_unique_counts.set_index('line_number')['uniq_val_count_stop'].to_dict()

matching_lines = [line for line in bus_unique_counts_dict if bus_unique_counts_dict.get(line) == stops_unique_counts_dict.get(line)]
print("Bus lines with matching unique stop counts:", matching_lines)
print("Bus lines with matching unique stop counts length:", len(matching_lines))

Bus lines with matching unique stop counts: [133.0, 238.0, 312.0, 324.0, 329.0, 334.0, 352.0, 353.0, 369.0, 392.0, 409.0, 434.0, 435.0, 460.0, 461.0, 463.0, 473.0, 507.0, 580.0, 584.0, 603.0, 608.0, 614.0, 615.0, 621.0, 622.0, 624.0, 636.0, 639.0, 663.0, 669.0, 688.0, 692.0, 696.0, 712.0, 745.0, 746.0, 774.0, 778.0, 779.0, 786.0, 802.0, 805.0, 819.0, 829.0, 833.0, 835.0, 840.0, 847.0, 851.0, 858.0, 859.0, 862.0, 864.0, 891.0, 905.0, 913.0, 917.0, 920.0, 935.0, 945.0, 946.0, 2333.0, 2344.0]
Bus lines with matching unique stop counts length: 64

In [18]:
# keep only the these lines in data
dataset = trajectory_df.copy()
dataset = dataset[dataset['line'].isin(matching_lines)]
dataset

,date,time,order,line,latitude,longitude,speed,datetime,nearest_stop_name,is_at_stop,distance_to_next_stop
14594,2019-01-25,08:58:04,A71517,133.0,-22.931868,-43.201416,0.102778,2019-01-25 08:58:04,"Rua BarÃ£o de PetrÃ³polis, 730-782",True,7.133862
14595,2019-01-25,08:58:04,A71525,133.0,-22.936409,-43.190525,3.961111,2019-01-25 08:58:04,"Rua Alice, 88",False,59.996756
14596,2019-01-25,08:58:09,A48110,133.0,-22.913715,-43.208298,6.327778,2019-01-25 08:58:09,"BRS 1,4,6 - Joaquim Palhares",False,130.520468
14597,2019-01-25,08:58:18,A71554,133.0,-22.900433,-43.209038,7.100000,2019-01-25 08:58:18,Terminal RodoviÃ¡rio Novo Rio,False,104.564015
14598,2019-01-25,08:58:25,A71542,133.0,-22.913347,-43.208141,0.463889,2019-01-25 08:58:25,"BRS 1,4,6 - Joaquim Palhares",False,169.309452
...,...,...,...,...,...,...,...,...,...,...,...
59181734,2019-03-21,05:27:19,B28707,2344.0,-22.849979,-43.240822,1.666667,2019-03-21 05:27:19,"Avenida Brigadeiro Trompowski, 2013",False,1717.348887
59181735,2019-03-21,05:27:27,B28741,2344.0,-22.848270,-43.241211,0.000000,2019-03-21 05:27:27,"Avenida Brigadeiro Trompowski, 2013",False,1549.348172
59181736,2019-03-21,05:27:35,B28705,2344.0,-22.790609,-43.180908,0.000000,2019-03-21 05:27:35,BancÃ¡rios,True,3.134857
59181737,2019-03-21,05:27:41,B28716,2344.0,-22.803150,-43.203651,0.000000,2019-03-21 05:27:41,"Avenida Maestro Paulo e Silva, 331-409",False,90.808389
59181738,2019-03-21,05:27:44,B28719,2344.0,-22.891859,-43.222099,15.277778,2019-03-21 05:27:44,"Avenida Francisco Bicalho, 2338-2580",False,2080.110662

In [20]:
# dataset.to_csv('dataset_final.csv')

In [21]:
dataset

,date,time,order,line,latitude,longitude,speed,datetime,nearest_stop_name,is_at_stop,distance_to_next_stop
14594,2019-01-25,08:58:04,A71517,133.0,-22.931868,-43.201416,0.102778,2019-01-25 08:58:04,"Rua BarÃ£o de PetrÃ³polis, 730-782",True,7.133862
14595,2019-01-25,08:58:04,A71525,133.0,-22.936409,-43.190525,3.961111,2019-01-25 08:58:04,"Rua Alice, 88",False,59.996756
14596,2019-01-25,08:58:09,A48110,133.0,-22.913715,-43.208298,6.327778,2019-01-25 08:58:09,"BRS 1,4,6 - Joaquim Palhares",False,130.520468
14597,2019-01-25,08:58:18,A71554,133.0,-22.900433,-43.209038,7.100000,2019-01-25 08:58:18,Terminal RodoviÃ¡rio Novo Rio,False,104.564015
14598,2019-01-25,08:58:25,A71542,133.0,-22.913347,-43.208141,0.463889,2019-01-25 08:58:25,"BRS 1,4,6 - Joaquim Palhares",False,169.309452
...,...,...,...,...,...,...,...,...,...,...,...
59181734,2019-03-21,05:27:19,B28707,2344.0,-22.849979,-43.240822,1.666667,2019-03-21 05:27:19,"Avenida Brigadeiro Trompowski, 2013",False,1717.348887
59181735,2019-03-21,05:27:27,B28741,2344.0,-22.848270,-43.241211,0.000000,2019-03-21 05:27:27,"Avenida Brigadeiro Trompowski, 2013",False,1549.348172
59181736,2019-03-21,05:27:35,B28705,2344.0,-22.790609,-43.180908,0.000000,2019-03-21 05:27:35,BancÃ¡rios,True,3.134857
59181737,2019-03-21,05:27:41,B28716,2344.0,-22.803150,-43.203651,0.000000,2019-03-21 05:27:41,"Avenida Maestro Paulo e Silva, 331-409",False,90.808389
59181738,2019-03-21,05:27:44,B28719,2344.0,-22.891859,-43.222099,15.277778,2019-03-21 05:27:44,"Avenida Francisco Bicalho, 2338-2580",False,2080.110662

In [93]:
import folium
coordinates = [
    (-22.94509888, -43.20449448), (-22.9446125, -43.20428467), (-22.94560051, -43.2079277),
    (-22.94398499, -43.20812988), (-22.94234467, -43.20791626), (-22.93862724, -43.20742416),
    (-22.93762589, -43.20454025), (-22.9367733, -43.20387268), (-22.93559074, -43.20283127),
    (-22.93520737, -43.20118713), (-22.93482971, -43.19975281), (-22.93192482, -43.19684601),
    (-22.92987251, -43.19539261), (-22.92803001, -43.19381332), (-22.92750931, -43.19337463),
    (-22.92705536, -43.19221878), (-22.92497444, -43.18981552), (-22.92415047, -43.18743896),
    (-22.92168236, -43.18598938), (-22.92090797, -43.18476486), (-22.91905785, -43.18327332),
    (-22.91809654, -43.18389511), (-22.91720581, -43.18453598), (-22.91607857, -43.18418121),
    (-22.91653061, -43.1827507), (-22.91638184, -43.18109894), (-22.91570282, -43.18122101),
    (-22.91603088, -43.18146133), (-22.91427994, -43.18185806), (-22.91139221, -43.18247604),
    (-22.9091835, -43.1799469), (-22.90829659, -43.1772995), (-22.90723801, -43.17388916),
    (-22.9088726, -43.1748848), (-22.90914536, -43.17572021), (-22.90989304, -43.1770401),
    (-22.91170502, -43.1785965), (-22.90720749, -43.18255615), (-22.90856361, -43.18479538),
    (-22.91165543, -43.1835556), (-22.91393471, -43.18261337), (-22.91644478, -43.18200302),
    (-22.91564178, -43.18126297), (-22.91674042, -43.18191528), (-22.91650581, -43.18268585),
    (-22.91605186, -43.18424606), (-22.91725922, -43.18457031), (-22.91813087, -43.18396759),
    (-22.9190712, -43.18340683), (-22.92093849, -43.18482208), (-22.92156792, -43.18605804),
    (-22.92315292, -43.18762207), (-22.92415428, -43.1874733), (-22.92476654, -43.18944168),
    (-22.92553902, -43.19049454), (-22.92706299, -43.19225693), (-22.92806244, -43.19386673),
    (-22.92984009, -43.1954155), (-22.93213844, -43.19734573), (-22.93382645, -43.19884491),
    (-22.93480682, -43.19986343), (-22.93517685, -43.2014122), (-22.93559074, -43.20291138),
    (-22.93679237, -43.2039299), (-22.93756485, -43.20459747), (-22.93808937, -43.20647812),
    (-22.9385891, -43.2074585), (-22.94235802, -43.20801544), (-22.94404602, -43.20811081),
    (-22.94560814, -43.20796204), (-22.94505501, -43.20607376), (-22.94454002, -43.20541),
    (-22.94465637, -43.20433807), (-22.9451046, -43.20455551)
]

# Create a map centered around the first coordinate
m = folium.Map(location=coordinates[0], zoom_start=14)

folium.PolyLine(locations=coordinates, color="blue", weight=3).add_to(m)

map_path = "road_network_path.html"
# m.save(map_path)

map_path

'road_network_path.html'